﻿.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #f5f5f5;
  text-align: center;
  border-color:black;
  position:relative;
  
}

.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  margin-bottom: 30px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
  border-radius: 6px;
  background-color:#ccc;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  color:#000;
  font-size:10px;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  background-color:#ffffff;
  border-color:black;
}
.flat .plan.featured li.plan-name {
  background: #ffffff;
 
}
.flat .plan.featured:hover li.plan-name {
  background: green;
  color:white;
}
.flat .plan:hover li.plan-name {
  background: #f5f5f5;
}

.flat .btn {

    background-color:grey;
    color:white;
}

.mp {

    margin:0px;
    padding:0px;
    position:absolute;
    right:15px;
    top:0px;
    z-index:0;
}

.desc {

    font-size:12px;
    color:black;
    line-height:1.1em;
    
}