﻿
@{
    ViewBag.Title = "About | Jobminx";
}

<style>
   

    h1, h2 {
        color: #585858;
        font-family: "Oswald",arial,sans-serif;
        font-size: 42px;
        margin:10px;
    }

    h2 {
        color: #707070;
        font-size: 22px;
    }

    /* unvisited link */
    a:link {
        color: #069505;
        text-decoration: none;
    }

    /* mouse over link */
    a:hover {
        color: #F26522;
    }

    .green {
        color: #069505;
        font-weight: bold;
    }

   
</style>

<div class="container">
    <div class="col-md-8 col-lg-offset-2">
        <ol class="breadcrumb">
            <li><a href="/Start">Home</a></li>
            <li class="active"><a href="#">About Jobminx</a></li>

        </ol>
        <center><h1>What is <span class="green">Jobminx</span> all about?</h1></center>
        <p><span class="green">Jobminx</span> asked jobseekers to tell us about the job search experience and we listened.  We heard you when you said the most frustrating part of the job search is after you’ve hit the “send” button and your resumes are sent out into application oblivion never to be seen again. We at <span class="green">Jobminx</span> couldn’t agree more.  It’s natural to feel frustrated when you’ve spent hours searching online for the perfect job opportunity, sent off your resume, and then… nothing.</p>
        <h2>So what’s really happening behind the send button</h2>
        <p>Unless you have optimized your resume, you may not be sending the correct message to the automated ATS’s (applicant tracking system) that exist purely to screen for specific keywords. In other words, even if you are a qualified candidate for the job, you may be rejected by the ATS simply on the merits of a “bad resume”.</p>
        <p>Google “resume” and you’ll find a plethora of advice on how job seekers should format their resumes to beat the ATS’s in hopes of avoiding the “black hole”. Indeed, many blogs exist and all send a similar message to job seekers; don’t apply to jobs you are not qualified, use job description keywords, keep it simple, and above all - target your resume for each job you are applying.</p>
        <p>We’ve all been in the job market at one time or another and understand the frustration of being rejected by ATS software. We know that it takes a great deal of time and effort to optimize a resume for every job description that you apply to. We know that you would appreciate help figuring out which keywords are relevant to target your resume to a specific job opportunity. And we know it’s important to have confidence that your resume will separate you from the competition before hitting the “submit resume” button.</p>
        <h2>How can <span class="green">Jobminx</span> help you?</h2>
        <p><span class="green">Jobminx.com</span> has an innovative solution that will provide the keywords needed to optimize your resume to a job opportunity.  And this all happens in seconds. Go to the <span class="green">Jobminx</span> app and first tell us about yourself by pasting in your resume. Second, paste in the job description that you are interested in. Push the target button and <span class="green">Jobminx</span> will compare your resume to the job description.  The result is a list of keywords specifically targeted from the job description but missing from your resume. You take it from here.  Select keywords from the list that are relevant to your work experience and add them to your resume. Save the changes to your resume and use this newly targeted resume to apply to the job.</p>
        <h2>Yup it’s that easy!</h2>
        <p><span class="green">Jobminx</span> exists to do one thing… get your resume out of cyberspace and in front of hiring managers. We’re confident that you’ll be getting more interviews in no time!</p>
        <center>
            <div style="margin-top:20px; margin-bottom:50px;">
            
                @Html.ActionLink("Get your Keyword Density Report NOW!", "FreeTrial", null, new { @class = "btn btn-primary btn-lg" })
            </div>
          

        </center>
      

    </div>
</div>

