﻿@{
    ViewBag.Title = "Job Board Connect";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .highlight {
        background-color: #FFFF88;
    }

    .tabbedDiv {
        height: 500px;
    }

    .paneHeaders {
        margin-top: 10px;
        margin-left: 5px;
    }

    #callout2 {
        background-color: #eae3e3;
        border-radius: 15px;
        height: 60px;
        width: 60px;
        top: -53px;
        right: 0%;
        margin-right: -3px;
        z-index: 2;
        position: absolute;
        padding-left: 13px;
    }

    .nav-tabs li.active a {
        background-color: #efefe3;
    }
</style>
@*xc3ebgngep1bvj7*@
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-center actions animated fadeInDown delay2" id="tokens">
            </div>
            @if (Request["id"] != null)
            {
               
                    <input type="hidden" id="loaded" value="1" />
                    <input type="hidden" id="rid" value="@Request["id"]" />
                

            }
            else
            {
                <input type="hidden" id="loaded" value="0" />
                <input type="hidden" id="rid" value="0" />
            }

            <input type="hidden" id="username" value="@User.Identity.Name" />
            <input type="hidden" id="zipcodeforindeed" value="@ViewBag.ZipCode" />
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a id="tab1" href="#ToolTab" data-toggle="tab">Report Generator Tool <span id="ToolLoader"><img src="~/Content/ajax-loader.gif" /></span></a></li>
                <li class="two"><a id="tab2" href="#ReportTab" data-toggle="tab">Keyword Density Report <span id="ReportLoader" class="glyphicon glyphicon-ok"></span></a></li>
                <li class="two"><a id="tab3" href="#OpTab" data-toggle="tab">Optimize This Resume <span id="OpLoader" class="glyphicon glyphicon-ok"></span></a></li>
                <li class="two"><a id="tab4" href="#JobsTab" data-toggle="tab">Job Recommendations <span id="JobLoader" class="glyphicon glyphicon-ok"></span></a></li>
                <!--<li><a href="#EditorTab" data-toggle="tab">Resume Editor</a></li>-->


            </ul>
            <div style="padding-top:20px; background-color:#efefe3;">
                <div class="tab-content tabbedDiv" style="background-color:#efefe3;">
                    <div class="tab-pane active" id="ToolTab">



                        <div class="col-sm-6">
                            <div class=" panel panel-success">
                                <!--<a id="OutOfTokens" data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Buy Tokens</a>-->
                                <div class="panel-heading" style="background-color:green; color:white;">
                                    Resume
                                    <div style="float:right; margin-right:10px;"><div style="float:left" class="visible-xs-block hidden-xs visible-sm hidden-sm"></div><div style="float:left">&nbsp;<span id="dropbox"></span><span> | </span></div><div style="float:left">&nbsp;<i id="clearR" title="Clear resume" style="cursor:pointer;">X</i></div></div>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <p style="font-size:11px;"><a data-toggle="modal" class="btn btn-primary btn-sm" href="#myfile"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a> or copy and paste your resume into the box below</p>




                                    </div>
                                    <div contenteditable="true" class="resume" id="resume" style="height:300px; width:100%; overflow-y:scroll; border:solid; border-width:thin; border-color:#4abe33;">
                                        @if (ViewBag.resumeText != null)
                                        {
                                            @Html.Raw(ViewBag.resumeText)
                                        }

                                    </div>

                                    @if (ViewBag.name != null && ViewBag.updated != null)
                                    {
                                        <p style="font-size:10px; color:green;" id="resumeinfo1"><em>@ViewBag.name - Last Modified: @ViewBag.updated</em></p>

                                    }
                                    else
                                    {
                                        <p style="font-size:10px; color:green;" id="resumeinfo1"></p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-success">
                                <div class="panel-heading" style="background-color:green; color:white;">Job Description<p style="float:right; margin-right:10px;"><i id="clearJ" title="Clear job" style="cursor:pointer;">X</i></p></div>
                                <div class="panel-body">
                                    <p style="font-size:11px;"><a data-toggle="modal" class="btn btn-primary btn-sm" href="#myjobsearch"><span class="glyphicon glyphicon-search"></span> Search Jobs</a> or copy and paste a job description into the box below</p>
                                    <div id="dialog2" hidden title="Hey, did you know?">

                                        <p>You can use the SEARCH JOBS button to find a job description or COPY and PASTE one from a job board ie Indeed, Monster... (This is not for a job title) to learn more" <a href="~/Start/FAQ">click here</a></p>

                                    </div>
                                    <div contenteditable="true" class="job" id="job" style="height:300px; width:100%; overflow-y:scroll; border:solid; border-width:thin; border-color:#4abe33;">
                                        @Html.Raw(ViewBag.job)
                                    </div>
                                    @if (ViewBag.name != null && ViewBag.updated != null)
                                    {
                                        <p style="font-size:10px; color:green;" id="jobinfo1"><em>Search for Jobs</em></p>

                                    }
                                    else
                                    {
                                        <p style="font-size:10px; color:green;" id="jobinfo1"></p>
                                    }
                                </div>

                            </div>
                        </div>

                        <div class="text-center" id="actionBtns">
                            <button id="RunReport" class="btn btn-primary btn-lg" style="margin-top:-10px;">Run Report</button>

                        </div>

                    </div>

                    <div class="tab-pane tabbedDiv" id="ReportTab">

                        <div id="report" style="background-color:#efefe3;">

                        </div>
                    </div>

                    <div class="tab-pane tabbedDiv" id="OpTab">


                        <div class="col-sm-3">
                            <div class=" panel panel-default">
                                <div class="panel-heading" style="background-color:green; color:white;">Keywords</div>
                                <div class="panel-body">
                                    <div style="position:relative;">

                                        <div id="callout2">
                                            <b style="color:red; font-size:25px;" id="jobKeywordCount">0</b>
                                            <p style="margin-top:-3px;"><span style="color:green"><b id="JobMatchCount">0</b></span> / <span style="color:red;"><b id="JobNotMatchCount">0</b></span></p>
                                        </div>
                                    </div>
                                    <div>
                                        <h4>Keywords to KEEP</h4>
                                        <div style="height:150px; overflow-y:scroll;">

                                            <ul style="font-size:10px;" id="keep"></ul>
                                        </div>
                                        <h4>Keywords to ADD</h4>
                                        <div style="height:150px; overflow-y:scroll;">

                                            <ul style="font-size:10px;" id="add"></ul>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:green; color:white;">Your Resume</div>
                                <div class="panel-body">
                                    <div id="jobtitletext"></div>

                                    <div id="dialog" title="Job Description">

                                    </div>

                                    <div contenteditable="true" id="resume_edit" style="padding:10px; height:300px; width:100%; overflow-y:scroll; border:solid; border-width:thin; border-color:#4abe33;"></div>





                                    <div style="margin:10px;">


                                        <button id="sresume" class="btn btn-primary">Export Resume (PDF) <span class="glyphicon glyphicon-cloud-download"></span></button>
                                        <button id="sasresume" class="btn">Save Resume As <span class="glyphicon glyphicon-floppy-disk"></span></button>


                                        @using (Html.BeginForm("CreatePDFResume", "Members", FormMethod.Post, new { @target = "_blank", @id = "createresume" }))
                                        {
                                            <input type="hidden" name="createResume" id="createResume" />

                                        }

                                    </div>

                                </div>
                                @if (ViewBag.name != null && ViewBag.updated != null)
                                {
                                    <p class="pull-right" style="font-size:10px; color:green; margin-right:5px;" id="resumeinfo2"><em>@ViewBag.name - Last Modified: @ViewBag.updated</em></p>

                                }
                                else
                                {
                                    <p class="pull-right" style="font-size:10px; color:green; margin-right:5px;" id="resumeinfo2"></p>
                                }

                                <div id="dialog3" hidden title="Save Resume">
                                    <p>Name your resume:</p>
                                    <input type="text" placeholder="Resume Name" id="ResumeName" />
                                    <p><input type="button" value="Save" id="saveResumePaste" class="btn" /></p>
                                    <p id="resumesavinginfo"></p>
                                </div>

                                <div id="dialog4" hidden title="Save Resume As">
                                    <p>Name your resume:</p>
                                    <input type="text" placeholder="Resume Name" id="ResumeName2" />
                                    <p><input type="button" value="Save" id="saveResumeAs" class="btn" /></p>
                                    <p id="resumesavingasinfo"></p>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="tab-pane tabbedDiv" id="JobsTab">

                        <div class="col-lg-12">

                            <p><b>View matches based on</b> <a href="#byresume" data-toggle="tab">RESUME</a> | <a href="#byjob" data-toggle="tab">JOB DESCRIPTION</a></p>

                            <div style="padding-top:20px; background-color:#efefe3;"></div>
                            <div class="tab-content">

                                <div class="tab-pane active" id="byresume">
                                    <b>Based on Resume</b>
                                    <div style="overflow-y:scroll; height:400px;">
                                        <table id="jobrecs" class="table table-striped"></table>

                                    </div>
                                </div>


                                <div class="tab-pane" id="byjob">
                                    <b>Based on Job</b>
                                    <div style="overflow-y:scroll; height:400px;">
                                        <table id="jobrecs2" class="table table-striped"></table>
                                    </div>
                                </div>
                            </div><!-- tab content -->
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><span class="oswald">A Plan for Every Budget</span> - Add More Tokens!</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div id="buyPartial">
                    @Html.Partial("_PartialBuyTokens")
                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<div class="modal" id="myupgrade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Upgrade to Unlimited!</h4>

            </div>
            <div class="modal-body">
                <p id="forceUpgrade"></p>
                <div id="upgradePartial">
                    @Html.Partial("_PartialUpgrade")
                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>


<div class="modal" id="myfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Select a File</h4>
            </div>
            <div class="modal-body">
                <div id="fileUploader">


                    <input id="docfile" type="file" name="docfile" accept=".pdf, .doc, .txt, .rtf, .docx" /><br />
                    <p><em>(Only accepts .doc .docx .pdf .txt .rtf)</em></p>
                    <div><button id="upload" class="btn btn-primary">Upload</button> </div>







                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<div class="modal" id="myalert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Jobminx.com Says...</h4>
            </div>
            <div class="modal-body">
                <div id="alerts"></div>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="myjobsearch">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Search for Jobs Descriptions on Indeed</h4>
            </div>
            <div class="modal-body">
                <div>


                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-inline" role="form">

                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
                                    <input type="text" class="form-control input-sm" id="query" placeholder="Enter a job title or industry">
                                </div><!-- form group [search] -->
                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-search">Location:</label>
                                    <input type="text" class="form-control input-sm" id="zip" placeholder="city, state or zip code">
                                </div><!-- form group [search] -->
                                <div class="form-group pull-right" style="margin-top:20px;">

                                    <button type="button" id="search" title="click me to search" class="btn btn-success filter-col">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>




                    <div>
                        <em id="searchwait"></em>
                        <div id="resultholder" style="height:300px; overflow-y:scroll;">
                            <table id="results" class="table table-striped"></table>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<div class="modal" id="explain">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><span class="oswald">About the Jobminx Keyword Density Report</span></h4>
            </div>
            <div class="modal-body">
                <div class="tabbable">
                    @*<ul class="nav nav-tabs">
                            <li class="active"><a href="#one" data-toggle="tab">Are you presenting yourself correctly to potential employers</a></li>
                            <li><a href="#two" data-toggle="tab">Jobminx can help you get past these filters</a></li>
                            <li><a href="#twee" data-toggle="tab">The Summary</a></li>
                        </ul>*@
                    <div class="tab-content">
                        <div class="tab-pane active" id="one">
                            <h3 class="oswald">Are you presenting yourself correctly to potential employers?</h3>
                            <p>The <span class="green">Jobminx</span> Keyword Density Report uses the same ATS (ApplicantTracking System) technology used by top companies and recruiting agencies. </p>
                            <p>An applicant tracking system (ATS) is a software application that enables the electronic handling of recruitment needs. In many cases they filter applications automatically based on given criteria such as keywords, skills, former employers, years of experience and schools attended. This has caused many to adapt resume optimization techniques similar to those used in search engine optimization when creating and formatting their résumé. Almost all recruitment agencies and most major corporations with an in-house recruitment function use some form of applicant tracking system to handle job postings and applicant resume screenings.</p>
                            <h3 class="oswald"><span class="green">Jobminx</span> can help you get past these filters</h3>
                            <p>With the information in our Keyword Density Report, you can target and optimize your resume to match the requirements of any job description.</p>
                            <p class="pull-right"><a href="#two" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="two">
                            <h3 class="oswald">The Summary</h3>
                            <p>The ATS system scans your resume and picks up certain keywords, skills, educational information and job history in order to present a brief overview to the employer about your job history and background. The industry and work history identified in this section is based on the relevant information from your resume.</p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>With this information, you can see exactly how your resume is presenting your qualifications from the hiring managers point of view. You can use this information to modify and adjust your resume content in order to highlight specific keywords that will make you a better match to the industry or job requirements of the job description you are applying for.</p>
                            <p>By creating a resume with a summary that closely matches the needs of the employer, you can rise to the top of the interview list as a top applicant.</p>
                            <p class="pull-right"><a href="#one" data-toggle="tab"><< Previous</a> | <a href="#twee" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="twee">
                            <h3 class="oswald">Keyword Density</h3>
                            <p>The Keyword Density section provides a comparison of the number of keywords the ATS has identified in the provided job description against the number of those same keywords that appear in your resume. These keywords are what the ATS looks for in order to identify the applicants resume as a potential match for the job.</p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>By having a clear list of the keywords, including the desired skills of a job posting, you can easily add any relevant keywords to your resume. The higher number of matching keywords you have included on your resume, the better chance the ATS systems will flag you as a potential match for the job description.</p>
                            <p>Simply add the relevant keywords from the “Missing Keywords” list to your resume in order to increase the number of “Matching Keywords”. The more mathching keywords you have, the better your resume will match the job description.</p>
                            <p class="pull-right"><a href="#two" data-toggle="tab"><< Previous</a> | <a href="#four" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="four">
                            <h3 class="oswald">Experience</h3>
                            <p>In this section, you will see the total number of years of work experience the ATS has identified in your resume, as well as the number of years of relevant experience required by the job description. </p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>With a resume that shows you have the required amount of years experience within a job, you will be seen as a better potential match for the job description. While your overall job experience may meet the years experience of the job listing, you should also look at the total years of <i>relevant</i> experience, which is key to being seen as a potential match.</p>
                            <p>When possible, you should add the relevant job skills to each job you worked at so the ATS can accurately identify the true number of years of relevant experience.</p>
                            <p class="pull-right"><a href="#twee" data-toggle="tab"><< Previous</a> | <a href="#five" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="five">
                            <h3 class="oswald">Education</h3>
                            <p>The Education section lists the highest level of education that you have on your resume, as well as the education level noted in the job description. If you’re education level does not meet or exceed the requested level of education, you may be overlooked as a potential match.</p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>Knowing the education level of the job you are applying for will help you know if you are qualified for that position. If your education level is not being properly identified, you may need to revisit how it is written on your resume, using standard terminology such as “Degree”, “College” or “University”.</p>
                            <p>While years of relevant experience can often be viewed in conjunction with education level, it is still important to be sure your correct education is identified.</p>
                            <p class="pull-right"><a href="#four" data-toggle="tab"><< Previous</a></p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="xc3ebgngep1bvj7"></script>
<script type="text/javascript">
    $(document).ready(function () {



        $("#tab2:disabled").click(function () {

            alert("You have to click the Run Report button on the first tab to start");

        });

        options = {

            // Required. Called when a user selects an item in the Chooser.
            success: function (files) {


            },

            // Optional. Called when the user closes the dialog without selecting a file
            // and does not include any parameters.
            cancel: function () {

            },

            // Optional. "preview" (default) is a preview link to the document for sharing,
            // "direct" is an expiring link to download the contents of the file. For more
            // information about link types, see Link types below.
            linkType: "direct", // or "direct"

            // Optional. A value of false (default) limits selection to a single file, while
            // true enables multiple file selection.
            multiselect: false, // or true

            // Optional. This is a list of file extensions. If specified, the user will
            // only be able to select files with these extensions. You may also specify
            // file types, such as "video" or "images" in the list. For more information,
            // see File types below. By default, all extensions are allowed.
            extensions: ['.pdf', '.doc', '.docx'],
        };

        //var button = Dropbox.createChooseButton(options);
        //document.getElementById("dropbox").appendChild(button);
        var button = Dropbox.createChooseButton({
            success: function (files) {
                //var linkTag = document.getElementById('link');
                //linkTag.href = files[0].link;
                //linkTag.textContent = files[0].link;
                //alert("hello");
                //getDboxfile(files[0].link);
                $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ url: files[0].link, name: files[0].name, zip: $("#zipcodeforindeed").val() }),
                    cache: false,
                    url: '/Members/UploadFromDropBox',
                    success: function (data) {

                        $('#resume').html("");
                        $('#resume').html(data.resume);
                        $("#resumeinfo1").html("<em>" + data.name + " last modified:" + data.lm + "</em>");
                        $("#resumeinfo2").html("<em>" + data.name + " last modified:" + data.lm + "</em>");
                        $("#jobinfo1").html("<em>Search for Jobs</em>");
                        $("#rid").val(data.id);
                    }
                });
            },
            linkType: 'direct'
        });
        document.getElementById('dropbox').appendChild(button);



        $("#clearR").tooltip();
        $("#clearR").click(function () {
            $("#resume").html("");
            $("#rid").val(0);
            $("#resumeinfo1").html("");
            $("#resumeinfo2").html("");
            $("#jobinfo1").html("");
        });

        $("#clearJ").tooltip();
        $("#clearJ").click(function () {
            $("#job").html("");
        });

        $('#upload').on('click', function () {

            var data = new FormData();

            var files = $("#docfile").get(0).files;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
            }
            data.append("zip", $("#zipcodeforindeed").val());
            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/Members/UploadDocument",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    $('#resume').html("");
                    $('#resume').html(data.resume);
                    $("#resumeinfo1").html("<em>" + data.name + " last modified:" + data.lm + "</em>");
                    $("#resumeinfo2").html("<em>" + data.name + " last modified:" + data.lm + "</em>");
                    $("#jobinfo1").html("<em>Search for Jobs</em>")
                    $("#myfile").modal("hide");
                    $("#rid").val(data.id);
                }
            });


        });
        //SaveResume
        $("#resume_edit").on("keyup", function () {

            var id = $("#rid").val();
            var text = $("#resume_edit").html();

            $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ text: text, rid: id }),
                cache: false,
                url: '/Members/SaveResume',
                success: function (data) {
                    if (data.result != "fail") {
                        var now = new Date();
                        var datetime = now.getFullYear() + '/' + (now.getMonth() + 1) + '/' + now.getDate();
                        datetime += ' ' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
                        $("#resumeinfo2").html("<em>Saved:" + now + "</em>");
                    }
                    else {
                        $("#resumeinfo2").html("<em>Resume did not save (You may have pasted in the resume, upload your resume to save or <a href='#' id='saveResumePasteOpen'>click here</a>.)</em>");

                        $("#saveResumePasteOpen").on("click", function () {

                            $("#dialog3").dialog({
                                position: { my: "center", at: "right", of: resume_edit }
                            });

                        });


                    }
                }

            });



        });


        $("#saveResumePaste").on("click", function () {



            if ($("#ResumeName").val() == "") {
                alert("Please enter a name for your resume");
            }
            else {
                $("#resumesavinginfo").html("Saving...");
                var name = $("#ResumeName").val();

                var text = $("#resume_edit").html();
                var zip = $("#zipcodeforindeed").val();

                $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ text: text, zip: zip, name: name }),
                    cache: false,
                    url: '/Members/SaveResumePaste',
                    success: function (data) {

                        var now = new Date();
                        var datetime = now.getFullYear() + '/' + (now.getMonth() + 1) + '/' + now.getDate();
                        datetime += ' ' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
                        $("#resumeinfo2").html("<em>Saved:" + now + "</em>");
                        $("#rid").val(data.id);
                        $("#dialog3").dialog("close");

                    }
                });
            }

        });

        $("#sasresume").click(function () {
            $("#dialog4").dialog();
        });
        $("#saveResumeAs").on("click", function () {



            if ($("#ResumeName2").val() == "") {
                alert("Please enter a name for your resume");
            }
            else {
                $("#resumesavingasinfo").html("Saving...");
                var name = $("#ResumeName2").val();

                var text = $("#resume_edit").html();
                var zip = $("#zipcodeforindeed").val();

                $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ text: text, zip: zip, name: name, id: $("#rid").val() }),
                    cache: false,
                    url: '/Members/SaveResumeAs',
                    success: function (data) {

                        var now = new Date();
                        var datetime = now.getFullYear() + '/' + (now.getMonth() + 1) + '/' + now.getDate();
                        datetime += ' ' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
                        $("#resumeinfo2").html("<em>Saved:" + now + "</em>");
                        $("#rid").val(data.id);
                        $("#dialog4").dialog("close");

                    }
                });
            }

        });


        $("#search").click(function () {

            var resultsHtml = "";
            if ($("#query").val() == "" || $("#zip").val() == "") {
                alert("You are either missing a job title or a location");
            }
            else {



                $("#searchwait").text("Searching please wait...");
                @*var indeed_client = new Indeed("5378824820636851");
                indeed_client.search({
                    q: $("#query").val(),
                    l: $("#zip").val(),
                    limit: "25",
                    userip: '@Request.UserHostAddress.ToString()',
                    useragent: '@Request.UserAgent.ToString()',
                },
                 function (search_response) {
                     $("#searchwait").text("Searching is complete!");
                     var resultsHtml = "";
                     alert(search_response.error);
                     $.each(search_response.results, function () {



                         resultsHtml += '<tr><td>' +
                                 '<h3>' + this.jobtitle + '</h3>' +
                                 '<h4>' + this.company + '</p>' +
                                 '<b>' + this.formattedLocation + '</b>' +
                                 '<p>' + this.snippet + '</p>' + '<button type="button" id="' + this.jobkey + '" class="btn btn-primary btn-sm jb">Load Job Description</button>' +
                                 '<input type="hidden" class="' + this.jobkey + '" value="' + this.url + '">'
                         '</td></tr>';



                     });*@


                $.ajax(
                   {
                       type: 'POST',
                       contentType: 'application/json; charset=utf-8',
                       data: JSON.stringify({ search: $("#query").val(), loc: $("#zip").val() }),
                       cache: false,
                       dataType: 'json',
                       url: '/Members/SearchIndeed',
                       success: function (data) {

                           var data = JSON.parse(data.response_string);

                           $.each(data.results, function (index, value) {



                               // alert(value + "-" + index);

                               resultsHtml += '<tr><td>' +
                                       '<h3>' + this.jobtitle + '</h3>' +
                                       '<h4>' + this.company + '</p>' +
                                       '<b>' + this.formattedLocation + '</b>' +
                                       '<p>' + this.snippet + '</p>' + '<button type="button" id="' + this.jobkey + '" class="btn btn-primary btn-sm jb">Load Job Description</button>' +
                                       '<input type="hidden" class="' + this.jobkey + '" value="' + this.url + '">'
                               '</td></tr>';



                           });
                           $("#searchwait").text("Searching is complete!");
                           $('#results').html(resultsHtml);
                           $('#resultholder').animate({ scrollTop: 0 }, "fast");
                           $(".jb").click(function () {


                               $.ajax(
                                 {
                                     type: 'POST',
                                     contentType: 'application/json; charset=utf-8',
                                     data: JSON.stringify({ url: $("." + this.id).val() }),
                                     cache: false,
                                     url: '/Members/GetJobFromIndeed',
                                     success: function (data) {

                                         var result = data;
                                         $("#job").html(data.jobtitle + "<br/>" + data.jobdesc);

                                         $("#myjobsearch").modal("hide");

                                         //$("#").tooltip();
                                     }
                                 });

                           });
                       }

                   });



            }

        });
        //generate report


    });
</script>

<script src="~/js/member.js"></script>