﻿
@{
    ViewBag.Title = "API Docs |Jobminx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h2>Connection Api</h2>

            <p>Add this to your page</p>
            <div class="well">
                &lt;script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"&gt;&lt;/script&gt;<br />
                &lt;script src="https://jobminx.com/Scripts/jobminx.js"&gt;&lt;/script&gt;<br />
              

            
            </div>
            <div class="well">

                Call $.jobminx();<br />
                <em>Three required parameters</em><br/>
                string {id selector of the job description},<br/>
                string {id of container you would like the connect button show up in},<br />
                document.URL {lets jobminx know where to get the job description}<br />
                <br />
                <strong>Example</strong><br /><br/>

                &lt;script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"&gt;&lt;/script&gt;<br />
                &lt;script src="https://jobminx.com/Scripts/jobminx.js"&gt;&lt;/script&gt;<br />
                

                $(document).ready(function () {<br />
                <br />
                $.jobminx("jobdesc", "jobButton", document.URL);<br />
                });<br />
                <br />
                &lt;/script&gt;
                <br />
                &lt;div id="jobdesc"&gt;<br />
                &lt;h3&gt;Application Developer - I, II and Senior - Located in West Bend&lt;/h3&gt;<br />
                West Bend Mutual Insurance Company - Milwaukee, WI<br />
                At West Bend Mutual Insurance Co, a commitment to excellence and integrity has propelled our long history of success. That’s why we are a regional property and casualty insurance leader and one of the top 100 insurance companies in the nation. Continued growth is creating exciting opportunities for talented people like you. Join our dynamic team and be part of our bright future!<br />
                West Bend is adding .Net Application Developer positions to our growing Information ‎Technology division. We are currently hiring entry level, mid and Senior level positions. ‎<br />
                <br />
                As an Application Developer at West Bend, you will be responsible for development and ‎integration of high-performance applications. Our Application Developers work as a team by ‎thoroughly researching application issues, working collaboratively with other developers to ‎develop programming strategies on best development practices and for writing code to make ‎our products perform the way our clients envision. Our Application Development team is a ‎dedicated group of innovative thinkers who can solve technical challenges with creativity and ‎perseverance.‎<br />
                <br />
                Essential Responsibilities of the position include : ‎<br />
                <br />
                Developing services to integrate into purchased or packaged systems. ‎<br />
                Determining root cause of integrated software problems and resolutions. ‎<br />
                Writing unit tests to demonstrate accuracy of integrated solutions and consistently ‎implement automated tests, where appropriate, for all types of code structures.‎<br />
                Identifying errors in their own source code and make appropriate corrections.‎<br />
                Identifying errors in peer’s source code through code reviews and suggest appropriate ‎corrections based of company standards.‎<br />
                Learning about technology trends, emerging technologies and development practices. ‎<br />
                Engaging in technical advancement opportunities within the team, such as lunch and ‎learns, book reviews, and pertinent certifications.‎<br />
                Actively looking for ways to improve performance, usability, scalability, and ‎maintainability of our integrated applications.‎<br />
                Serving as a team leader on less complex projects.‎<br />
                Assisting management through mentoring of less-experienced development staff. ‎<br />
                Preferred Skills and Education :<br />
                <br />
                Bachelor's degree in IT/Computer Science or related field<br />
                Excellent interpersonal and communication skills ‎<br />
                Detailed problem solving and troubleshooting skills<br />
                ‎.NET Framework, C#, VB.NET, ASP.NET, XML, XSLT, WCF, SQL Server, Office and other ‎components of Microsoft technology. ‎<br />
                Knowledge of SOA and multi-application / cross-platform integration<br />
                Knowledge of Software Development Life Cycle (SDLC)‎<br />
                Knowledge of UML and design diagrams<br />
                Microsoft certification; preferred but not required ‎<br />
                Insurance industry knowledge; preferred but not required<br />
                System analysis, design, development, quality assurance and integration methodologies.‎<br />
                Advanced proficiency in developing integration solutions using .NET ‎<br />
                Our team members enjoy a fun, highly collaborative environment. When you join West Bend, ‎you’ll be surrounded by talented, dedicated and creative individuals who provide the skills and ‎expertise to propel our business forward. We are proud that feedback from our current team ‎members rank West Bend the Number One Best Place to ‎Work in Southeast Wisconsin! West ‎Bend topped the list in the large company category of ‎‎2014 Top Workplaces, as published by ‎the Milwaukee Journal Sentinel.‎<br />
                <br />
                Add even more benefits to your career with competitive salaries, 401(k), flexible work environment and a health insurance plan that begins immediately. We are a smoke-free, equal opportunity employer. Pre-employment drug and background check screenings are required.<br />
                <br />
                &lt;/div&gt;<br />
                &lt;div id="jobButton"&gt;&lt;/div&gt;

            </div>
            <div id="jobdesc" hidden>
                <h3>Application Developer - I, II and Senior - Located in West Bend</h3>
                West Bend Mutual Insurance Company - Milwaukee, WI
                At West Bend Mutual Insurance Co, a commitment to excellence and integrity has propelled our long history of success. That’s why we are a regional property and casualty insurance leader and one of the top 100 insurance companies in the nation. Continued growth is creating exciting opportunities for talented people like you. Join our dynamic team and be part of our bright future!
                West Bend is adding .Net Application Developer positions to our growing Information ‎Technology division. We are currently hiring entry level, mid and Senior level positions. ‎

                As an Application Developer at West Bend, you will be responsible for development and ‎integration of high-performance applications. Our Application Developers work as a team by ‎thoroughly researching application issues, working collaboratively with other developers to ‎develop programming strategies on best development practices and for writing code to make ‎our products perform the way our clients envision. Our Application Development team is a ‎dedicated group of innovative thinkers who can solve technical challenges with creativity and ‎perseverance.‎

                Essential Responsibilities of the position include : ‎

                Developing services to integrate into purchased or packaged systems. ‎
                Determining root cause of integrated software problems and resolutions. ‎
                Writing unit tests to demonstrate accuracy of integrated solutions and consistently ‎implement automated tests, where appropriate, for all types of code structures.‎
                Identifying errors in their own source code and make appropriate corrections.‎
                Identifying errors in peer’s source code through code reviews and suggest appropriate ‎corrections based of company standards.‎
                Learning about technology trends, emerging technologies and development practices. ‎
                Engaging in technical advancement opportunities within the team, such as lunch and ‎learns, book reviews, and pertinent certifications.‎
                Actively looking for ways to improve performance, usability, scalability, and ‎maintainability of our integrated applications.‎
                Serving as a team leader on less complex projects.‎
                Assisting management through mentoring of less-experienced development staff. ‎
                Preferred Skills and Education :

                Bachelor's degree in IT/Computer Science or related field
                Excellent interpersonal and communication skills ‎
                Detailed problem solving and troubleshooting skills
                ‎.NET Framework, C#, VB.NET, ASP.NET, XML, XSLT, WCF, SQL Server, Office and other ‎components of Microsoft technology. ‎
                Knowledge of SOA and multi-application / cross-platform integration
                Knowledge of Software Development Life Cycle (SDLC)‎
                Knowledge of UML and design diagrams
                Microsoft certification; preferred but not required ‎
                Insurance industry knowledge; preferred but not required
                System analysis, design, development, quality assurance and integration methodologies.‎
                Advanced proficiency in developing integration solutions using .NET ‎
                Our team members enjoy a fun, highly collaborative environment. When you join West Bend, ‎you’ll be surrounded by talented, dedicated and creative individuals who provide the skills and ‎expertise to propel our business forward. We are proud that feedback from our current team ‎members rank West Bend the Number One Best Place to ‎Work in Southeast Wisconsin! West ‎Bend topped the list in the large company category of ‎‎2014 Top Workplaces, as published by ‎the Milwaukee Journal Sentinel.‎

                Add even more benefits to your career with competitive salaries, 401(k), flexible work environment and a health insurance plan that begins immediately. We are a smoke-free, equal opportunity employer. Pre-employment drug and background check screenings are required.

            </div>
            <div class="well">
                <p><strong>This button will show up</strong></p>
                <div id="jobButton"></div>
            </div>
            
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="~/Scripts/jobminx.js"></script>
<script>
    $(document).ready(function () {

        $.jobminx("jobdesc", "jobButton", document.URL);
    });

</script>