﻿
@{
    ViewBag.Title = "Contact |Jobminx";
}
<style>
    h1, h2 {
        color: #585858;
        font-family: "Oswald",arial,sans-serif;
        font-size: 42px;
        margin: 10px;
    }
</style>

<div class="container">

   
    
     @using(@Html.BeginForm("Contact", "Start", FormMethod.Post, new { @class = "form-horizontal" }))

    {
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Contact Us</h1>
            <ol class="breadcrumb">
                <li><a href="/Start">Home</a></li>
                <li class="active"><a href="#">Contact Us</a></li>

            </ol>
            <div class="col-md-8 well well-sm" style="height:400px;">
               
                    
                    @Html.AntiForgeryToken()
                    <fieldset>
                       

                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Name</label>
                            <div class="col-md-9">
                                <input id="firstname" name="firstname" type="text" placeholder="Your name" class="form-control">
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Your E-mail</label>
                            <div class="col-md-9">
                                <input id="toAddress" name="toAddress" type="text" placeholder="Your email" class="form-control" required>
                            </div>
                        </div>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">Your message</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                               
                                <b style="margin-bottom:10px; color:green;">@ViewBag.outcome</b>
                                <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                            </div>
                           
                        </div>
                    </fieldset>
               
            </div>
            <div class="col-md-4 well well-sm" style="height:400px;">
                <h4>Snail Mail</h4>
                <p style="color:green;">Jobminx.com</p>
                <p>P.O Box 2726</p>
                <p>Turlock, 95381</p>
                <h4>Email Us</h4>
                <a href="mailto:info@jobminx.com">info@jobminx.com</a>
                <h4>Connect With Us</h4>
                <a href="https://www.facebook.com/pages/Jobminxcom/198746530277343?sk=timeline&ref=page_internal"><img src="~/Content/facebook.png" width="50" /></a>
            </div>
            </div>
    </div>

    }
   
</div>