﻿
@{
    ViewBag.Title = "FAQ | Jobminx";
}
<style>

    h1, h2 {
        color: #585858;
        font-family: "Oswald",arial,sans-serif;
        font-size: 32px;
        margin-top:20px;
        margin-bottom:50px;
    }

</style>
<div class="container">

    <div class="col-md-8 col-lg-offset-2">
       
        <center><h2>Questions about <span style="color:green;">Jobminx?</span> We've got answers...</h2></center>
        <ol class="breadcrumb">
            <li><a href="/Start">Home</a></li>
            <li class="active"><a href="#">FAQ</a></li>

        </ol>
        <div class="bs-example">
            <div id="accordion" class="panel-group">

                <!-- QUESTION 1 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">How can <b>Jobminx</b> help me?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseOne">
                        <div class="panel-body">
                            <p><span class="green">Jobminx.com</span> has an innovative solution that will provide the keywords needed to optimize your resume to a job opportunity. And this all happens in seconds. Simply input your current resume along with the job description you want to target and, like magic, <span class="green">Jobminx</span> will compare your resume to the job description. The result is a Keyword Density Report – a list of keywords specifically targeted from the job description but missing from your resume. Select the keywords from the list that are relevant to your work experience, add them to your resume and use this newly targeted resume to apply to the job – and get hired.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 2 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">What is a “Applicant Tracking System” or “ATS”?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwo">
                        <div class="panel-body">
                            <p>An <strong>applicant tracking system (ATS)</strong> is a software application that enables the electronic handling of recruitment needs. An ATS can be implemented or accessed online on an enterprise or small business level, depending on the needs of the company. An ATS is very similar to customer relationship management systems, but are designed for recruitment tracking purposes. In many cases they filter applications automatically based on given criteria such as keywords, skills, former employers, years of experience and schools attended. This has caused many to adapt resume optimization techniques similar to those used in search engine optimization when creating and formatting their résumé. </p>
                            <p>Almost all recruitment agencies and most major corporations with an in-house recruitment function use some form of applicant tracking system to handle job postings, applicants, resumes, interviews. A dedicated ATS is not uncommon for recruitment specific needs. On the enterprise level it may be offered as a module or functional addition to a human resources suite or Human Resource Information System (HRIS). The ATS is expanding into small and medium enterprises through open source or software as a service offerings (SaaS).</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 3 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse">Why do I need to optimize my resume with keywords? </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseThree">
                        <div class="panel-body">
                            <p>Incorporating matching keywords into your resume is an optimization technique that helps you get past the ATS job applicant filtering system. You can't get the job without the interview, and you can't get the interview without your resume being seen by the actual people who are doing the hiring. By targeting your resume with the recommended keywords, you will be identified as a better potential match for the job you are applying for.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 4 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse">What is a "Keyword Density Report"?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFour">
                        <div class="panel-body">
                            <p>Based on a resumé and job description you provide, <span class="green">Jobminx</span> will compile a custom <b>Keyword Density Report</b> unique to that job description. This report will show you what keywords <span class="green">Jobminx</span> has identified as being beneficial to include in one's resume in order to be considered a good match by the automated job "Application Tracking Systems" (ATS). You'll easily be able to see which keywords you already have included as well as the additional keywords you'll need to target and optimize your resume to that particular job.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 5 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse">What does the Keyword Density Report provide?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFive">
                        <div class="panel-body">
                            <p>The Jobminx keyword density report provides a snapshot of information as reported by an ATS, including applicant summary, keyword matches, applicant vs. job experience and applicant education level.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 6 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse">How do I get a Free Keyword Density Report?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSix">
                        <div class="panel-body">
                            <p>As a special bonus to new users, <span class="green">Jobminx</span> is offering an opportunity for a FREE Keyword Density Report so you can see first hand the benefits of targeting and optimizing your resume. With your resumé and job description ready, simply visit <a href="/Members/Index">this link</a> and input your information. You'll receive your FREE report instantly.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 7 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse">I generated my Keyword Density Report, now what do I do?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSeven">
                        <div class="panel-body">
                            <p>Your Keyword Density Report contains a list of keywords and phrases that <span class="green">Jobminx</span> has identified to help match a job description. The next step is to add as many of these relevant keywords to your resumé before starting the job application process. Be sure to keep the keywords marked in green and add the keywords marked in red to your resume. Once you've added these keywords, you can generate a new report with your "optimized" resumé.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 8 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseEight" data-parent="#accordion" data-toggle="collapse">How much does Jobminx cost? </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseEight">
                        <div class="panel-body">
                            <p><span class="green">Jobminx</span> offers a limited <strong>Free Trial</strong> plan which gives you access to our tools for up to 5 resumes to job description matches per month. Our paid plans offer UNLIMITED access to all our resume optimization tools for a flat fee. Our plans are non-recurring, so you will never be charged without your permission. For full plan details, visit our <a href="/Start/Pricing">Pricing Page</a>.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 9 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse">Can I upload my resume?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            <p>Jobminx allows you to easily upload a resumé from any text document, such as Word (.doc), PDF (.pdf) or Text only (.txt). Simple instructions will accompany you through the process when you click the "upload resume" button within the tool pages. You can also copy and paste your resume into the form fields where provided.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 10 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTen" data-parent="#accordion" data-toggle="collapse">What is the difference between a “job title” and a “job description”?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTen">
                        <div class="panel-body">
                            <p>A job title is a term that describes the position held by an employee in a <strong>few words or less.</strong> Depending on the job, a job title can describe the job responsibilities, the level of the job, or both.</p>
                            <p>The job description is a <strong>general summary of the key responsibilities of a job.</strong>  It includes the general nature of the work performed, the level of the work performed, the training or education required, the skills and knowledge required for competent performance of the job, and other elements.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 11 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseEleven" data-parent="#accordion" data-toggle="collapse">Can I just use a “job title” to generate my report?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseEleven">
                        <div class="panel-body">
                            <p>As the job title is typically a few words or less, there is not enough data included in a job title to generate an accurate report. The full job description, including the nature of the work as well as the skills, knowledge and experience expectations for the job is required to generate a proper report. </p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 12 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwelve" data-parent="#accordion" data-toggle="collapse">How do I input a “Job Description”?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwelve">
                        <div class="panel-body">
                            <p><span class="green">Jobminx</span> provides a Job Search tool powered by Indeed.com that allows you to search for job listings directly in the Jobminx dashboard. We also provide a simple “one-click” job description upload button that instantly loads a job description into the keyword report generator. Alternatively, you can do your own search, and simply copy the job description from another source and paste the content into the job description field on the report generator tab.</p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 13 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseThirteen" data-parent="#accordion" data-toggle="collapse">Can I use the same resume for a job description with the same job title?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseThirteen">
                        <div class="panel-body">
                            <p>While the job title should give you an idea of the type of position the recruiter is looking to fill, every job description is typically unique, as different companies have specific roles and responsibilities outlined based on their own goals. For this reason, it is recommended that you optimize your resume for every job description, rather than try to find a “one resume fits all” solution. </p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 14 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFourteen" data-parent="#accordion" data-toggle="collapse">Can I apply to jobs directly through the Jobminx web site? </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFourteen">
                        <div class="panel-body">
                            <p>As a FREE service, Jobminx provides a list of job recommendations based on your resumé and your target job description. Jobminx is not affiliated in any way to these listings and they are only provided to you as a benefit to aid you in your job search. Links are provided to the job listings, and you will need to follow the recommended application process for each individual job. </p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 15 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFifteen" data-parent="#accordion" data-toggle="collapse">Does <span class="green">Jobminx</span> store my resume?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFifteen">
                        <div class="panel-body">
                            <p>With our paid membership plans, you have the ability to store versions of your resume in order to quickly compare to new job opportunities. These saved resumes can be accessed by clicking on the “My Profile” link. </p>
                        </div>
                    </div>
                </div>

                <!-- QUESTION 16 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSixteen" data-parent="#accordion" data-toggle="collapse">Does <span class="green">Jobminx</span> share my resume with others?</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSixteen">
                        <div class="panel-body">
                            <p>Currently, we do not share your resume with any outside services, and only you have access to read any saved resumes. As we look to expand our feature set, we feel the ability for employers to search and find top candidates will be a benefit for both you and the employer. You will be notified in advance when this feature is available, and we will never share your resume without your permission.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <br/><br/>


        <center>
            <div style="margin-top:20px; margin-bottom:50px;">

                @Html.ActionLink("Get Started NOW!", "FreeTrial", null, new { @class = "btn btn-primary btn-lg" })
            </div>


        </center>







    </div>



</div>

