﻿
@{
    ViewBag.Title = "Sample Trial | Jobminx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .searchclass {
    color: red;
}
   .panel {
       margin-top:10px;
   }
    .panel-heading{
        text-align:left;
    }
    .requiredkeyword{
        float:left;
        color:red;
        list-style:none;
        margin:5px;
    }
    .otherkeyword {

        float:left;
        color:blue;
        list-style:none;
        margin:5px;
    }
</style>
@using (Html.BeginForm("FreeTrial", "Start", FormMethod.Post, new { @id = "analyze" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="job" name="job" />
    <input type="hidden" id="resume" name="resume" />
    <input type="hidden" id="sample" name="sample" value="false" />
    <input type="hidden" id="ft" value="0" />

} 
<div class="container">
    <div class="row">
         
        <div class="col-sm-12">
            <h2 class="text-center animated fadeInDown"><span style="color:green"><b>Get Your Free Trial Report Now!</b></span></h2>
            <h3 class="text-center animated fadeInDown">Upload Your Resume and Add a Job Description</h3>
            <h4 class="text-center animated fadeInDown" style="color:green;">Don't have a resume or job description, click the sample resume and job description button!</h4>
            <div class="text-center actions animated fadeInDown delay2">
                <a href="#" id="samplestuff" class="btn btn-primary btn-large">Sample Resume & Job Description</a>
                
               
                <div class="col-sm-10 col-sm-offset-1" style="text-align:left;">
              
                    <div class="col-sm-6">
                        <div class=" panel panel-success">
                            <div class="panel-heading" style="background-color:green; color:white;">
                                Resume
                                <div style="float:right; margin-right:10px;"><div style="float:left" class="visible-xs-block hidden-xs visible-sm hidden-sm"></div><div style="float:left">&nbsp;<span id="dropbox"></span><span> | </span></div><div style="float:left">&nbsp;<i id="clearR" title="Clear resume" style="cursor:pointer;">X</i></div></div>
                            </div>
                        <div class="panel-body">
                            <p style="font-size:11px;"><a data-toggle="modal" class="btn btn-primary btn-sm" href="#myfile"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a> or copy and paste your resume into the box below</p>
                            
                            <div contenteditable="true" id="resume_edit" style="height:300px; width:100%; overflow-y:scroll; border:solid; border-width:thin; border-color:#4abe33;">
                               

                            </div>
                        </div>
                    </div>
                        </div>
                    <div class="col-sm-6">
                        <div class="panel panel-success">
                            <div class="panel-heading" style="background-color:green; color:white;">Job Description<p style="float:right; margin-right:10px;"><i id="clearJ" title="Clear job" style="cursor:pointer;">X</i></p></div>
                            <div class="panel-body">
                                <p style="font-size:11px;"><a data-toggle="modal" class="btn btn-primary btn-sm" href="#myjobsearch"><span class="glyphicon glyphicon-search"></span> Search Jobs</a> or copy and paste a job description into the box below</p>
                                <div contenteditable="true" id="job_edit" style="height:300px; width:100%; overflow-y:scroll; border:solid; border-width:thin; border-color:#4abe33;">
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                
                
                   
              
                    
                </div>
                <center><button style="margin-top:10px; width:400px; padding:10px; font-size:25px;" id="optimize" class="btn btn-primary btn-lg">Get Free Report</button></center>
                </div>
       
    </div>
       
</div>

<div class="modal" id="myfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Select a File</h4>
            </div>
            <div class="modal-body">
                <div id="fileUploader">

                    <input id="docfile" type="file" name="docfile" />
                    <div><br/><button id="upload" class="btn btn-primary">Upload</button> </div>







                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>


<div class="modal" id="myjobsearch">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Search for Jobs Descriptions on Indeed</h4>
            </div>
            <div class="modal-body">
                <div>


                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="form-inline" role="form">
                                <div class="form-group">

                                </div> <!-- form group [rows] -->
                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
                                    <input type="text" class="form-control input-sm" id="query">
                                </div><!-- form group [search] -->
                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-search">Location:</label>
                                    <input type="text" class="form-control input-sm" id="zip">
                                </div><!-- form group [search] -->
                                <div class="form-group">

                                    <button type="button" id="search" class="btn btn-default filter-col">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>




                    <div>
                        <em id="searchwait"></em>
                        <div style="height:300px; overflow-y:scroll;">
                            <table id="results" class="table-striped"></table>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>
<div class="modal" id="myalert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Alert!</h4>
            </div>
            <div class="modal-body">
                <div id="alerts"></div>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
                
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="xc3ebgngep1bvj7"></script>
<script src="@Url.Content("~/js/jobminx.js")"></script>
<script>
    $(document).ready(function () {
        var ft = 0;
        var ajaxRequest = $.ajax({
            type: "POST",
            url: "/Start/Test",
            cache: false,
            data:{ip:'@Request.UserHostAddress'},
            success: function (data) {
                ft = data.result;
                $("#ft").val(ft);
                if(ft == 0)
                {
                    $("#optimize").attr("disabled", disabled);
                }
            }
        });

        $('#myalert').on('hidden.bs.modal', function (e) {
            $("#resume_edit").html("");
            $("#job_edit").html("");
            $("#resume_edit").text("");
            $("#job_edit").text("");
        });
    
    var sample_resume = "<p><b>Jane Smith</b></p>" +
    "<p><em>info@jobminx.com<em></p>" +
    "<p>123 Main Street Ave<p>" +
    "<p>Townville, CA 12345</p>" +
    "<p>Health Care Office Coordinator</p>" +
    "<p>Health Care Industry Experience 2005-2011</p>" +
    "<p>Health Care Summary:</p>" +
    "<p>Comprehensive knowledge, experience and skills in all areas of Health Care and Medical Office administrative support and" +
    "general office duties including: departmental operations, policies and office staff training and supervision, resolution" +
    "follow up, policies and procedures using discretion for confidential or sensitive matters, new business development" +
    "activities, communication and integration of office technology and software application. Prepare, organize, and maintain" +
    "files, correspondence and records, track departmental budget and prepare monthly expense reports, answer patient calls" +
    "and insurance inquires, provide information related to office operations and procedures and determine when to refer" +
    "inquiries, requests or issues to appropriate staff.</p></br>" +
    "<p><b>Health Care Experience:</b></p>" +
    "<p>Office Manager – Tray Wollis, Inc. - Liberty, CA – January 2009 to Present" +
    "Responsibilities include: schedule patients’ appointments, answer phones, coordinate payment options for patients," +
    "perform and approve/decline credit checks, bill insurance, call for unpaid insurance claims. Bill patients monthly; handle" +
    "all past due accounts, arrange alternate payments for patients under financial stress. RECALLS-call patients that are due" +
    "for appointments to schedule, also call prospective patients to get them scheduled. Follow up with all patients who do not" +
    "have future appointments. Pay all bills for the practice and deposit all receipts from patients for payment of services." +
    "Order all orthodontic supplies for the back office and lab; order all front office business supplies. Coordinate HR duties," +
    "calculate staff payroll and assist in staff hiring process, Manage- handle all staff and patient complaints. 4 staff members" +
    "report to me; plan and run staff meetings. Business Development duties include; execute all advertising and promotion" +
    "for the office: plan and schedule lunches for the Doctor Nazareno with referring doctors; coordinate gifts for all local" +
    "dentist offices for holidays; Order yearly personalized calendars, pens for patients, coordinate and execute donations" +
    "from our office to the community, softball teams, charity donations to help feed the needy families for holidays, charity" +
    "runs, float for the local Christmas parade; seasonal decorations. Coordinate all office repairs; make decisions for the" +
    "office for plans and services, (phones, internet, marketing advertising,) Assisted transition of new doctor and orthodontic" +
    "equipment into the practice. I assisted in updating all office procedures, successful conversion of computer hardware," +
    "implementation of health care industry software, and installation of new phone systems." +
    "Chiropractic Office Manager – American Chiropractic Center – Lost Island, NV – May 2007 to January 2009</p></br>" +
    "<p></b>Responsibilities include:</b> all office duties, Interact with patients, patient follow up, create new customer files, answer" +
    "phones, schedule appointments, treatment coordination and planning. AP including cash flow management, AR to include" +
    "insurance billing, collections and banking, PR, maintain supply inventory, supervise file assistant." +
    "Front Office/Patient Administrator – Rogers and Associates – Kilroy, AZ – October 2005 to May 2007" +
    "Responsibilities include: patient greeting and routing, in house promotion supervisor, publications manager, office repair" +
    "coordination, purchaser liaison, schedule appointments, answer and route phone calls. Other duties include in-coming" +
    "and out-going mail, shipping/stocking supplies, and various follow-up and reporting duties.</p>";

    var sample_job = "<p><b>Job Title:</b> Office Manager</p>"+
    "<p><b>Job Ref No:</b> 123456-9</p>"+
    "<p><b>Job Role:</b> Clinical Management</p>"+
    "<p><b>Job Type:</b> Permanent</p>"+
    "<p><b>Location:</b> California<p>"+
    "<p><b>City:</b> Townville</p>"+
    "<p><b>Job Description:</b> On any given day, Care at Home touches the lives of thousands of individuals by"+
    "bringing health care directly to patients where they live - at home."+
    "From local, community-based offices throughout Northern California, the dedicated staff at Care at"+
    "Home cares for more than 50,000 patients each year and serves an average daily census of over 18,000"+
    "patients."+
    "We provide the most comprehensive range of home care services including skilled nursing,"+
    "rehabilitation therapy, home infusion therapy, hospice and palliative care, medical social work, home"+
    "medical equipment and respiratory therapy, home attendant and care management, and community flu"+
    "and wellness programs."+
    "Through competitive wages and benefits, flexible schedules, innovative care models, new technologies,"+
    "and tuition reimbursement - Sutter Care at Home strives to be your 'employer of choice.'"+
    "Care at Home is the home health care and hospice affiliate of Sutter Health, one of the nation's largest"+
    "not-for-profit health care systems."+
    "The Office Manager provides direct oversight and supervision of the clerical support staff. Responsible"+
    "for planning, directing and controlling branch office support functions. This position coordinates systems"+
    "and procedures to assure the most efficient functioning of the assigned functions and their interrelation"+
    "to total branch operations. This includes not only the ability to manage the functions coordinated by this"+
    "position but to be proficient in each, providing coverage as needed. Works in conjunction with the"+
    "Branch Administrator addressing HR issues and concerns, including hiring, disciplinary actions,"+
    "terminations and other functions and projects assigned by the Branch Administrator. The Office"+
    "Manager is a part of the management team of the branch office.</p>"+
       "<p><b> Qualifications:</b></p>"+
        "<p><b>Education:</b></p>"+
    "<p>An AA Degree in Business Administration or related field or the equivalent in education and experience is required.</p>"+
        "<p><b>Experience:</b></p>"+
    "<p>Minimum of two (2) years office supervisory experience. Management experience in the health care" +
    "clerical field and knowledge of home health federal and state regulations is strongly preferred."+
    "Demonstrated practice in project management, human resource management, and the direction "+
    "administrative services and operations.</p>"+
    "<p><b>Knowledge:</b></p>"+
    "<p>Knowledge of the principles of home health intake, scheduling and medical records management.</p>"+
    "<p><b>Special Skills/Equipment:</b></p>"+
    "Ability to multi task in a fast paced environment. Strong managerial skills required and ability to"+
    "supervise and coach staff effectively. Excellent verbal, interpersonal and written communication skills"+
    "required. Ability to manage and perform projects with a high degree of autonomy, organization and"+
    "adaptability's required. Demonstrated analytical skills required."+
    "Proficiency on computer word processing and data base software is strongly preferred, especially with"+
    "Microsoft applications. Ability to recognize needs and concerns of staff and maintain constructive"+
    "relationships dealing with all levels within the organization. Must be able to handle sensitive issues,"+
    "conflict with or among others, respectively direct and reinforce staff efforts; effectively plan and"+
    "organize and prioritize work, and to effectively solve unique problems as they arise or identify when to"+
    "consult supervisor."+
    "Must be able to deal with a challenging work environment from time demands and conflicting priorities."+
    "Maintain a positive and professional image and demonstrate self-directed learning to meet professional"+
    "development and/or license requirements. At orientation and annually thereafter, must be able to meet"+
    "core competencies for position and area of specialty, as appropriate."+
    "Employer: Care at Home.";

    $("#resume_edit").keyup(function () {

        if(ft == 0)
        {
           
            $("#alerts").html("<b>You have already used your free trail, you can use the sample resume and job description.</b>")
            $("#myalert").modal();
            $("#optimize").prop('disabled', true);
        }
        

    });

    $("#job_edit").keyup(function () {

        if (ft == 0) {

            
            $("#alerts").html("<b>You have already used your free trail, you can use the sample resume and job description.</b>")
            $("#myalert").modal();

            $("#optimize").prop('disabled', true);
        }


    });
       

    $("#samplestuff").click(function () {

        $("#job_edit").html(sample_job);
        $("#resume_edit").html(sample_resume);
        $("#job_edit").attr("contenteditable", false);
        $("#resume_edit").attr("contenteditable", false);
        $("#sample").val(true);
        $("#optimize").prop('disabled', false);

    });

    options = {

        // Required. Called when a user selects an item in the Chooser.
        success: function (files) {


        },

        // Optional. Called when the user closes the dialog without selecting a file
        // and does not include any parameters.
        cancel: function () {

        },

        // Optional. "preview" (default) is a preview link to the document for sharing,
        // "direct" is an expiring link to download the contents of the file. For more
        // information about link types, see Link types below.
        linkType: "direct", // or "direct"

        // Optional. A value of false (default) limits selection to a single file, while
        // true enables multiple file selection.
        multiselect: false, // or true

        // Optional. This is a list of file extensions. If specified, the user will
        // only be able to select files with these extensions. You may also specify
        // file types, such as "video" or "images" in the list. For more information,
        // see File types below. By default, all extensions are allowed.
        extensions: ['.pdf', '.doc', '.docx'],
    };

        //var button = Dropbox.createChooseButton(options);
        //document.getElementById("dropbox").appendChild(button);
    var button = Dropbox.createChooseButton({
        success: function (files) {
            //var linkTag = document.getElementById('link');
            //linkTag.href = files[0].link;
            //linkTag.textContent = files[0].link;
            //alert("hello");
            //getDboxfile(files[0].link);
            $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ url: files[0].link }),
                cache: false,
                url: '/Members/UploadFromDropBox',
                success: function (data) {

                    $('#resume_edit').html("");
                    $('#resume_edit').html(data.resume);
                }
            });
        },
        linkType: 'direct'
    });
    document.getElementById('dropbox').appendChild(button);


    $("#clearR").tooltip();
    $("#clearR").click(function () {
        
        $("#resume_edit").attr("contenteditable", true);
        $("#sample").val(false);
        $("#resume_edit").html("");
    });

    $("#clearJ").tooltip();
    $("#clearJ").click(function () {
        $("#job_edit").attr("contenteditable", true);
        $("#sample").val(false);
        $("#job_edit").html("");
    });

    $('#upload').on('click', function () {

        if (ft == 0) {

            
            $("#alerts").html("<b>You have already used your free trail, you can use the sample resume and job description.</b>")
            $("#myalert").modal();
            $("#optimize").attr("disabled", disabled);
        }
        else {




            var data = new FormData();

            var files = $("#docfile").get(0).files;

            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
            }

            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/Members/UploadDocument",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    $('#resume_edit').html(data.text);
                    $("#myfile").modal("hide");
                }
            });
        }

    });


    $("#search").click(function () {
        if (ft == 0) {


            $("#alerts").html("<b>You have already used your free trail, you can use the sample resume and job description.</b>")
            $("#myalert").modal();
            $("#optimize").attr("disabled", disabled);
        }
        else {
            $("#searchwait").text("Searching please wait...");
            var indeed_client = new Indeed("5378824820636851");
            indeed_client.search({
                q: $("#query").val(),
                l: $("#zip").val(),
                limit: "25",
                userip: '@Request.UserHostAddress.ToString()',
                useragent: '@Request.UserAgent.ToString()',
            },
             function (search_response) {
                 $("#searchwait").text("Searching is complete!");
                 var resultsHtml = "";
                 $.each(search_response.results, function () {

                     resultsHtml += '<tr><td>' +
                             '<h3>' + this.jobtitle + '</h3>' +
                             '<h4>' + this.company + '</p>' +
                             '<b>' + this.formattedLocation + '</b>' +
                             '<p>' + this.snippet + '</p>' + '<button type="button" id="' + this.jobkey + '" class="btn btn-primary btn-sm jb">Load Job Description</button>' +
                             '<input type="hidden" class="' + this.jobkey + '" value="' + this.url + '">'
                     '</td></tr>';



                 });
                 $('#results').html(resultsHtml);
                 $(".jb").click(function () {


                     $.ajax(
                       {
                           type: 'POST',
                           contentType: 'application/json; charset=utf-8',
                           data: JSON.stringify({ url: $("." + this.id).val() }),
                           cache: false,
                           url: '/Members/GetJobFromIndeed',
                           success: function (data) {

                               var result = data;
                               $("#job_edit").html(data.jobtitle + "<br/>" + data.jobdesc);
                               $("#myjobsearch").modal("hide");
                           }
                       });

                 });
             });
        }
    });

    });

</script>