﻿
@{
    ViewBag.Title = "Analyze Your Resume | Jobminx";
    ViewBag.Description = "Analyze resumes for keywords, Get a score on how your resume matches a job. Improves resumes to get noticed by hiring managers and employers.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentUrl = HttpContext.Current.Request.Path.ToLower();
    if (currentUrl.Contains("start/index"))
    {
       
        Response.RedirectPermanent("/");
        
    }
   
}

<style>
 


section {
    padding-top: 20px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}



#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: green;
  border: none;
}
#fade-quote-carousel blockquote {
    
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
</style>

<div class="crp-showcase">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <!--<h3 class="text-center animated fadeInDown">An accurate and clean template for business projects. </h3>-->
               
                <div class="col-sm-12">
                    <div id="video" class="col-lg-7">
                        <div class="video-container">
                            
                                <iframe src="//player.vimeo.com/video/72239625" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                           
                        </div>
                        </div>
                    <div class="col-lg-5">
                        <div class="text-center actions animated fadeInDown delay2" style="margin-top:-20px;">
                            <h3>Top employers are looking to interview YOU.</h3>
                            <h1 class="animated fadeInDown">Find the jobs that match your resume.</h1>
                            
                        </div>
                        <br/>
                        <div class="text-center actions animated fadeInDown delay2">
                            <div class="col-md-12" style="margin-top:-25px;">
                                
                                   
                                 <a class="btn btn-primary btn-lg btn-block btn-huge" style="text-align:center; padding-top:5px; padding-bottom:5px;" href="/Members/Index"><h1>Try it Free!</h1><p style="margin-top:0px; font-size:10px;">No Credit Card Required</p></a>
                               
                               
                            </div>
                            </div>
                    </div>
                   
                    
                    </div>
              
                <!--<a href="index-alt.html" class="alt-index hidden-xs">
                    <img src="img/browser.png" alt="...">
                </a>-->
                
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:-65px; margin-bottom:105px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center actions animated fadeInDown delay2 tagline">
                <h1>Let <span style="color:green"><b>Jobminx</b></span> help you get noticed and get the interview</h1>
                <h3>Will your resume get through the automated resume screening process?</h3>
                <h3>Find out now with a <span style="color:green"><b>Free Resume Keyword Report.</b></span></h3>
            </div>
            
        </div>
    </div>
</div>
<div class="container">
    
    <!-- Features -->
    <div class="row">
        <div class="col-sm-4">
            <div class="crp-ft">
                <img src="@Url.Content("~/Content/valueprops/targert.png")" alt="Target your resume with keywords" />
                <h4>Target Your Resume</h4>
                <p class="text-muted lh">
                    Our Resume Report <strong>uses the same algorithms that hiring managers and Recruiters use</strong> to instantly identify which job description keywords you need to target </p>
               
            </div>
        </div>
        <div class="col-sm-4">
            <div class="crp-ft">
                <img src="@Url.Content("~/Content/valueprops/check.png")" alt="Beat the resume filter" />
                <h4>Beat the ATS Filter</h4>
                <p class="text-muted lh">
                    By adding job description keywords, you can <strong>target your resume to match any job description</strong> and stand out among other potential job canidates
                </p>
               
            </div>
        </div>
        <div class="col-sm-4">
            <div class="crp-ft">
                <img src="@Url.Content("~/Content/valueprops/hands.png")" alt="Score the interview" />
                <h4>Score the Interview</h4>
                <p class="text-muted lh">
                    With our online resume optimization tools, you can tailor your resume to any job description in order to <strong>get noticed as a top applicant and increase your chances of landing an interview</strong>
                </p>
               
            </div>
        </div>
    </div>
    <!-- // Features -->

    <section id="carousel">
        <div class="container">
            <div class="row">
                <div class=" col-md-8 col-md-offset-2">
                <div class=" text-center actions animated fadeindown delay2 tagline">
                    <h1>How Can <span style="color:green"><b>Jobminx</b></span> Help Me</h1>


                </div>
                <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                        <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <blockquote>
                                <div class="text-center actions animated fadeInDown delay2 tagline">

                                    <h3><strong>Step 1:</strong>  Upload your resume and the job description of the position you are applying for</h3>

                                </div>
                            </blockquote>
                            <div><img class="img-responsive" src="~/Content/c1.png" alt="Resume and Job Description Keyword Comparison" /></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="text-center actions animated fadeInDown delay2 tagline">

                                    <h3><strong>Step 2:</strong> Jobminx's uses the same ATS technology that top hiring managers and employers use to screen potential job canidates.</h3>

                                </div>
                            </blockquote>
                            <div><img class="img-responsive" src="~/Content/c2.png" alt="Use ATS Technology to Analyze Keywords in your resume" /></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="text-center actions animated fadeInDown delay2 tagline">

                                    <h3><strong>Step 3:</strong> Edit your resume based on the keyword matches</h3>

                                </div>
                            </blockquote>
                            <div><img class="img-responsive" src="~/Content/c3.png" alt="Analyze and Updating your Resume Increases Your Chances of Getting the Interview" /></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="text-center actions animated fadeInDown delay2 tagline">

                                    <h3><strong>Step 4:</strong> Search for more job opportunities that fit your skill set</h3>

                                </div>
                            </blockquote>
                            <div><img class="img-responsive" src="~/Content/c4.png" alt="" /></div>
                        </div>
                        <div class="item">
                            <blockquote>
                                <div class="text-center actions animated fadeInDown delay2 tagline">

                                    <h3><strong>Step 5:</strong> Easily compare your resume to other job descriptions and analyze again</h3>

                                </div>
                            </blockquote>
                            <div><img class="img-responsive" src="~/Content/c1.png" alt="Analyze Resume and Job Description to Target Your Resume." /></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>


  </div>
      
        <!-- Testimonials -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <hr class="double-margin">
            <h1 class="oswald text-center">What Users Say About Us</h1>
            <hr class="double-margin">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="review">
                <img src="@Url.Content("~/images/client1.png")" alt="Jobminx Resume Keyword Testimonial">
                <div class="review-text">
                    <h3 class="text-color">It’s so worth it!</h3>
                    <p class="quote" style="color:black;">
                        <em>I recommend Jobminx.com to anybody who's applying for a job. I Targeted my resume for each job I applied to online and received calls for interviews almost immediately. I tell everybody I know to sign up, it’s so worth it! I love my new job. Thanks Jobminx!</em>
                    </p>
                    <p class="text-muted">
                        &#x2015; <strong>A. Anderson </strong>, Bellingham, WA
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="review">
                <img src="@Url.Content("~/images/client2.png")" alt="Jobminx Resume Keyword Testimonial">
                <div class="review-text">
                    <h3 class="text-color">The keyword report gets right to the point!</h3>
                    <p class="quote" style="color:black;">
                        <em>The keyword report gets right to the point and provided the information I needed to target my resume and get results.  I applied to six jobs using the Jobminx keyword report to target my resumes and have already received calls from recruiters. </em>
                    </p>
                    <p class="text-muted">
                        &#x2015; <strong>T. Ward  </strong>, Bend, OR
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="review">
                <img src="@Url.Content("~/images/client3.png")" alt="Jobminx Resume Keyword Testimonial">
                <div class="review-text">
                    <h3 class="text-color">The keyword report really helped!</h3>
                    <p class="quote" style="color:black;">
                        <em>Wow, this is the best resume app yet!  It used to take me hours to target my resume with keywords for different  job descriptions.  Now I can get through the process in minutes.  The keyword report really helped me and I’m spreading the word to anybody I know that’s looking for a job.  Thanks for the help Jobminx!</em>
                    </p>
                    <p class="text-muted">
                        &#x2015; <strong>S. Runyan  </strong>, SanFrancisco, CA
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- // Testimonials -->
  
</div><!-- // Container -->
<div class="callout col-sm-12" style="background-color:#efefe3; margin-bottom:55px;">
    <div class="col-sm-4">
        <img style="padding-left:5%; min-height:100px;" src="~/Content/pc.gif" alt="Target Resume with Keywords" class="img-responsive" />
    </div>
    <div class="col-sm-8 pc">
        <div class="text-center actions animated fadeInDown delay2 tagline">
            <h1>Let <span style="color:green"><b>Jobminx</b></span>  help you get the job of your dreams!</h1>
            <h3>Don't get lost in cyber oblivion. Be sure your resume gets seen by hiring managers and decision makers. Analyze and Target your resume with Jobminx today.</h3>
            <div class="col-lg-offset-4 col-lg-6" style="margin-bottom:10px;">

                <a class="btn btn-primary btn-lg btn-block btn-huge" href="/Members/Index" style="text-align:center; padding-top:5px; padding-bottom:5px;"><h2 style="font-family:'Oswald',sans-serif;">Try it Free!</h2><p style="margin-top:0px; font-size:10px;">No Credit Card Required</p></a>
                 

            </div>
        </div>
    </div>
</div>