﻿@model Bootstrap.Models.PurchaseSummary

@{
    ViewBag.Title = "OrderComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
}
<style>

    .items {
        margin-bottom:3px;
        margin-top:3px;
    }
</style>

<script>

    var plans = ["NA", "Starter", "Plus", "Unlimited"];

    ga('require', 'ecommerce');
    ga('ecommerce:addTransaction', {
        'id': '@Model.orderNumber',  // Transaction ID. Required.
        'affiliation': 'Jobminx',   // Affiliation or store name.
        'revenue': '@Model.total',  // Grand Total.
        'shipping': '0', // Shipping.
        'tax': '0.00' // Tax.
    });

    

    ga('ecommerce:addItem', {
        'id': '@Model.orderNumber', // Transaction ID. Required.
        'name': '@Model.plan', // Product name. Required.
        'sku': 'DD23444',  // SKU/code.
        'category': 'Token Plans', // Category or variation.
        'price': '@Model.total', // Unit price.
        'quantity': '@Model.tokens' // Quantity.
    });

    ga('ecommerce:send');

    mixpanel.track("Purchase", {
        "Plan": '@Model.plan',
        
    });

</script>

<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <h2 class="text-center animated fadeInDown">Thank You For Your Puchase!</h2>
            <div class="text-center actions animated fadeInDown delay2">



                <div class="col-sm-10 col-sm-offset-1" style="text-align:left;">

                    <div class="col-sm-6">
                        <div class=" panel panel-default">
                            <div class="panel-heading" style="background-color:green; color:white;">Today's Purchase Details</div>
                            <div class="panel-body">
                                <div style="margin:10px;">
                                  <p class="items"><b>Order Confirmation Nummber:</b> @Model.orderNumber</p>
                                    <p class="items"><b>Total Billed to Card:</b> $@Model.total</p>
                                    <p class="items"><b>Date:</b> @DateTime.Now</p> 

                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:green; color:white;">User Profile</div>
                            <div class="panel-body">
                                <p class="items"><b>User Name:</b> @Model.username</p>
                                <p class="items"><b>Email Address:</b> @Model.username</p>
                               
                                @if (Model.offers == true)
                                {
                                    <p class="items"><b>Email Preference:</b> Subscribed</p>
                                }
                                else
                                {
                                    <p class="items"><b>Email Preference:</b> Not Subscribed</p>
                                }

                                <div class="well" style="height:125px;">
                                    <div class="text-center">
                                    
                                       
                                        <a href="/Members" style="margin:5px;" class="btn btn-primary pull-left">Start Optimizing</a>
                                       
                                        
                                    </div>

                                
                            </div>
                        </div>
                    </div>

                </div>


               


            </div>

        </div>

    </div>

</div>
</div>