﻿
@{
    ViewBag.Title = "Pricing | Jobminx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/pricingplan.css" rel="stylesheet" />
<script type="text/javascript">

    var isAuth = '@User.Identity.IsAuthenticated';

    if (isAuth)
    {
        mixpanel.track("Visited Pricing Page", {"CurrentUser": "true"});
    }
    else
    {
        mixpanel.track("Visited Pricing Page", {"CurrentUser": "false"});
    }

   
</script>
<div class="container">
    <h1 class="oswald text-center">A Plan for Every Budget</h1>
    <h3 class="oswald text-center">Select the plans that's right for you and start optimizing TODAY.</h3>
   <br/>
    <div class="col-lg-10 col-lg-offset-1">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        <span class="oswald text-center">Trial Plan</span>
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <div class="lead">
                        <strong>Free</strong><br/>
                        <p><strong>5 - </strong> Resume to Job Description Comparisons</p>

                        <p><strong>5 - </strong> Keyword Reports</p>

                        <p><strong>Including:</strong></p>
                    </div>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Hiring Manager Summary</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Key Skill Density Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Years of Experience Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Education Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> <strong>Unlimited</strong>- Resume Editor <br />Real-time Resume Optimization</li>
                    <li class="list-group-item">
                        <i class="glyphicon glyphicon-ok"></i> <strong>Unlimited</strong> - Job Recommendations <br />Job matches based on Resume<br />Job matches similar to job chosen
                    </li>
                </ul>
                <div id="Free" class="panel-footer">
                    <a href="/Start/SignUp" class="btn btn-lg btn-block btn-success">SIGN UP!</a>
 
                    
                </div>
            </div>
        </div>
       
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        <span class="oswald text-center">Monthly Plan</span>
                        <img class="mp pull-right" style="width:91px;" src="~/Content/mp.png" />
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <div class="lead">
                        <strong>$24.99 per month</strong><br />
                        <p><strong>Unlimited</strong> - Resume to Job Description Comparisons</p>
                        <p><strong>Unlimited</strong> - Keyword Reports</p>
                        <p><strong>Including:</strong></p>
                    </div>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Hiring Manager Summary</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Key Skill Density Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Years of Experience Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Education Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> <strong>Unlimited</strong>- Resume Editor <br />Real-time Resume Optimization</li>
                    <li class="list-group-item">
                        <i class="glyphicon glyphicon-ok"></i> <strong>Unlimited</strong> - Job Recommendations <br />Job matches based on Resume<br />Job matches similar to job chosen
                    </li>
                </ul>
                <div id="Monthly" class="panel-footer">
                    <a href="/Start/Purchase?plan=2" class="btn btn-lg btn-block btn-success">BUY NOW!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        <span class="oswald text-center">Extended Plan</span>
                        <img class="mp pull-right" style="width:91px;" src="~/Content/bv.png" />
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <div class="lead">
                        <strong>$59.99 for 3 Months</strong><br />
                        <p><strong>Unlimited</strong> - Resume to Job Description Comparisons</p>
                        <p><strong>Unlimited</strong> - Keyword Reports</p>
                        <p><strong>Including Unlimited:</strong></p>
                    </div>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Hiring Manager Summary</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Key Skill Density Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Years of Experience Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Education Analysis</li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> <strong>Unlimited</strong>- Resume Editor <br />Real-time Resume Optimization</li>
                    <li class="list-group-item">
                        <i class="glyphicon glyphicon-ok"></i> <strong>Unlimited</strong> - Job Recommendations <br />Job matches based on Resume<br />Job matches similar to job chosen
                    </li>
                </ul>
                <div id="Extended" class="panel-footer">
                    <a href="/Start/Purchase?plan=3" class="btn btn-lg btn-block btn-success">BUY NOW!</a>
               </div>
            </div>
        </div>
      
        <script type="text/javascript">
            mixpanel.track_links("#Free a", "Start Signup", {
                "Plan": "Free"
            });

            mixpanel.track_links("#Monthly a", "Start Signup", {
                "Plan": "Monthly"
            });

            mixpanel.track_links("#Extended a", "Start Signup", {
                "Plan": "Extended"
            });
        </script>

    </div>
    
</div>

    
   
