﻿@{
    ViewBag.Title = "Privacy | Jobminx";
}

<style>


    h1, h2 {
        color: #585858;
        font-family: "Oswald",arial,sans-serif;
        font-size: 42px;
        margin: 10px;
    }


</style>


<div class="container">

    <div class="col-md-8 col-lg-offset-2">
        <h1>Privacy Policy</h1>
        <ol class="breadcrumb">
            <li><a href="/Start">Home</a></li>
            <li class="active"><a href="#">Privacy Policy</a></li>

        </ol>
        <textarea style="height:300px; overflow-y:scroll; width:100%; font-size:10px; margin-top:10px;">
            JobminxSM Website Privacy Policy
            Last Modified: October 6, 2014
            1.	Introduction
            The Policy (the “Policy”) describes the types of information that Employment Pipeline, LLC (the “Company”, “we” or “us”), a Michigan limited liability company may collect from you or that you may provide when you visit the JobminxSM website (the “Website”) and our practices for collecting, using, maintaining, protecting and disclosing that information.
            The Policy applies only to information that we collect on or by way of the Website or by way of JobminxSM services offered on the Website; the Policy does not apply otherwise. In particular, it does not apply to information collected by us or any third party offline or by way of any other website or service, including third-party websites or services accessible from the Website.
            Please read the Policy carefully to understand our practices regarding your information and how we treat it. IF YOU DO NOT AGREE WITH THE POLICY OR OUR PRACTICES, DO NOT USE THE WEBSITE. BY ACCESSING OR USING THE WEBSITE, YOU AGREE TO THE POLICY. The policy may change from time to time. You hereby acknowledge that your continued use of the Website after we make changes constitutes your acceptance of those changes.
            
            2.	Children under the Age of 13
            The Website is not intended for children under 13 years of age. No one under age 13 may use the Website or provide any information to or on the Website. We do not knowingly collect personal information from children under 13. If you are under 13, do not use the Website or provide any information on or to the Website. If you believe we might have any information from or about a child under 13, please notify us as set forth below in section 10.
            
            3.	Information We Collect About You and How We Collect It
            We collect several types of information from and about users of the Website, INCLUDING INFORMATION (1) BY WHICH YOU MAY BE PERSONALLY IDENTIFIED, SUCH AS NAME, POSTAL ADDRESS, E-MAIL ADDRESS, TELEPHONE NUMBER, OR ANY OTHER INFORMATION THAT THE WEBSITE COLLECTS THAT IS DEFINED AS PERSONAL OR PERSONALLY IDENTIFIABLE INFORMATION UNDER APPLICABLE LAW (“personal information”); (2) that is about you but does not by itself identify you, including but not limited to information about your career, career objective, field of work, field of expertise, years of experience, or years of education; or (3) about your internet connection and the equipment that you use to access the Website and the details of your usage.
            We collect this information directly from you when you provide it to us or automatically as you navigate through the Website. Information collected automatically may include usage details, IP addresses and information collected through cookies, web beacons, or other tracking technologies.
            a.	Information You Provide to Us
            The information that we collect on or through the Website may include (1) information that you provide by filling in forms on the Website or uploading documents; (2) information provided at the time you register to use the Website, subscribe to our service, post material or request further services; (3) information you provide when you report a problem with the Website; (4) records and copies of your correspondence (including e-mail addresses) if you contact us; (5) your responses to surveys that we might ask you to complete for research purposes; (6) details of transactions you carry out through the Website and of the fulfillment of your orders, including your financial information; (6) information related to your past or current employment, education, or qualifications, or information about employment that you are seeking. You also may provide information to be published or displayed (hereinafter, “posted”) on public areas of the Website or transmitted to other users of the Website or third parties (collectively, “User Contributions”). Your User Contributions are posted on and transmitted to others at your own risk. We cannot control the actions of other users of the Website with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons.
            b.	Information We Collect Through Automatic Data Collection Technologies
            As you navigate through and interact with the Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions and patterns, including (1) details of your visits to the Website, including location data; (2) the resources that you access and use on the Website; and (3) information about your computer and internet connection, including your IP address, operating system and browser type.
            You may opt out of any or all automated data collection by notifying us as set forth below in section 10; however, in some circumstances, we may need to terminate your access to the Website or delete your user account in order to prevent automated collection of your data.
            Information that we collect automatically may include personal information, or we may associate automatically-collected information with personal information that we collect in other ways or receive from third parties. Automatically-collected information helps us improve the Website and deliver a better and more-personalized service, including by enabling us to (1) estimate our audience size and usage patterns; (2) store information about your preferences; (3) customize the Website according to your individual interests; (4) accelerate your searches; and (5) recognize you when you return to the Website.
            The technologies we use for this automatic data collection may include the following:
            i.	Cookies (or browser cookies)
            A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of features of the Website.
            ii.	Flash Cookies
            Certain features of the Website may use local stored objects (or Flash cookies) to collect and store information about your preferences and navigation to, from and on the Website. Flash cookies are not managed by the same browser settings as are used for browser cookies. To learn how you can manage your Flash cookie settings, visit the Flash Player settings page on Adobe’s website. If you disable or refuse cookies, please note that some parts of this site may then be inaccessible or not function properly.
            iii.	Web Beacons
            Pages of our the Website and our e-mails may contain small electronic files known as web beacons (also referred to as clear gifs. pixel tags and single-pixel gifs) that permit us, for example, to count users who have visited those pages or opened an e-mail and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).
            
            4.	Third-party Use of Cookies and Other Tracking Technologies
            Some content or applications, including advertisements, on the Website may be served by third-parties, including advertisers, ad networks and servers, content providers and application providers. These third parties may use cookies alone or in conjunction with web beacons or other tracking technologies to collect information about you when you use the Website. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites and other online services. They may use this information to provide you with interest-based (behavioral) advertising or other targeted content.
            We do not control these third parties’ tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, contact the responsible provider directly.
            
            5.	How We Use Your Information
            We use information that we collect about you or that you provide to us, including any personal information, to (1) present the Website and its contents to you; (2) provide you with information or services that you request from us; (3) fulfill any other purpose for which you provide the information; (4) provide you with notices about your account or subscription, including expiration and renewal notices; (5) carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection; (6) notify you about any products or services we may offer or provide though the Website; (7) allow you to participate in interactive features on the Website; or (8) assist you in optimizing your resume for a particular job listing. We may also use information that we collect about you or that you provide to us, including any personal information, in any other way we may describe when you provide the information or for any other purpose with your consent.
            We may also use your information to contact you about our own or third-parties’ goods or services that may be of interest to you or to enable us to display advertisements to an advertiser’s target audience. If you do not want us to use your information in this way, please notify us as set forth below in section 10.
                a.	Disclosure of Your Information
            We may disclose aggregated information about our users, and information that does not identify any particular individual, without restriction. We may disclose personal information that we collect or that you provide as described in the Policy to (1) our subsidiaries and affiliates; (2) contractors, service providers and other third parties we engage to support our business; (3) a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of the Company’s assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which personal information held by the Company about the Website users is among the assets transferred; (4) third parties to market their products or services to you if you have not notified us of your preference to opt out of these disclosures by the means set forth in section 10; or (5) fulfill any purpose for which you provide such information. We may also disclose personal information that we collect or you provide as described in the Policy for any other purpose disclosed by us when you provide the information or otherwise with your consent. In addition, we may also disclose your personal information (1) to comply with any court order, law or legal process, including to respond to any government or regulatory request; (2) to enforce or apply our Terms of Use or Terms of Sale and other agreements, including for billing and collection purposes, or (2) if we believe disclosure is necessary or appropriate to protect the rights, property, or safety of the Company, our customers or others.
                b.	Choices about How We Use and Disclose Your Information
            We strive to provide you with choices regarding the personal information you provide to us. The following mechanisms provide you with control over your information:
                    i.	Tracking Technologies and Advertising
                        You can set your browser to refuse all or some browser cookies, or to alert you when cookies are being sent. To learn how you can manage Flash cookie settings, visit the Flash Player settings page on Adobe’s website. If you disable or refuse cookies, please note that some parts of this site may then be inaccessible or not function properly.
                    ii.	Disclosure of Your Information for Third-Party Advertising
                        If you do not want us to share your personal information with unaffiliated or non-agent third parties for promotional purposes, you can opt-out by so notifying us as set forth below in section 10.
                    iii.Promotional Offers from the Company
                        If you do not wish to have your contact information used by the Company to promote our own or third parties’ products or services, you can opt-out by so notifying us as set forth below in section 10. If we have sent you a promotional e-mail, you may send us a return e-mail asking to be omitted from future e-mail distributions.
                    iv.	Targeted Advertising
                        If you do not want us to use information that we collect or that you provide to us to deliver advertisements according to our advertisers’ target-audience preferences, you can opt-out by so notifying us as set forth below in section 10.
                        We do not control third parties’ collection or use of your information to serve interest-based advertising. However, such parties may provide you with ways to choose not to have your information collected or used in this way. You can opt out of receiving targeted ads from members of the Network Advertising Initiative (“NAI”) on the NAI’s website.
            
            6.	Accessing and Correcting Your Information
            You may request access to, correct or delete any personal information that you have provided to us by contacting us as set forth below in section 10. In some circumstances, we may need to delete your user account in order to delete your personal information. We reserve the right to refuse to accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect.
            If you delete your User Contributions from the Website, copies of your User Contributions may remain viewable in cached and archived pages, or might have been copied or stored by other Website users. Access and use of information provided on the Website, including User Contributions, is governed by our Terms of Use.
            California Civil Code Section § 1798.83 permits users of the Website that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes; to make such request, please contact us as set forth below in section 10.
            
            7.	Data Security
            We employ measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration and disclosure. The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of the Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to the Website. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.
            
            8.	Changes to Our Privacy Policy
            We post any changes to the Policy on this webpage. If we make material changes to how we treat our users’ personal information, we will notify you by e-mail to the e-mail address specified in your account or through a notice on the Website home page. The date the Policy was last revised is set forth at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable e-mail address for you, and for periodically checking for Policy changes.
            
            9.	Our Right to Terminate and/or Delete Your Account to Protect Your Privacy
            You hereby acknowledge that we may terminate your use of the Website and/or delete your account if in our sole and absolute discretion it is not feasible for us to accommodate a privacy request from you by another means.
            
            10.	Contact Information and Content of Communication
            Any notification, request, question, or comment (collectively “communication”) by you to us in relation to the Policy or our privacy practices must be expressly and clearly stated and sent by e-mail to info@jobminx.com or by U.S. mail to Employment Pipeline, LLC, [PO BOX 2726 Turlock, CA 95381].


        </textarea>

</div>
</div>