﻿@{
    ViewBag.Title = "Buy Now";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div id="overview" class="panel panel-default">
                <div class="panel-heading" style="background-color:green; color:white;">Alert!</div>
                <div class="panel-body">


                    <h3>Our records indicate that you have aleady used your free trial</h3>

                    <a class="btn btn-primary btn-lg pull-right" href="/Start/Pricing">Buy Now!</a>


                </div>

            </div>
        </div>
    </div>
</div>