﻿@model Bootstrap.Models.Analyze
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.highlight {
    background-color: red;
}
.subtext{
    font-size:13px;
}
#Matched {
background-color:#97e26f;
border-radius: 15px;
height:55px;
color:green;
font-size:20px;
}

.keys {

    
    text-align:left;
    margin-top:10px;
    font-size:12px;
    width:100%;
   
}

#point{

    height:25px;
}

#check{

    height:25px;
}

#NotMatched {
background-color:#f8a3a3;
border-radius: 15px;
height:55px;
color:red;
font-size:20px;
}

#callout{

background-color:#eae3e3;
border-radius: 15px;
height:60px;
width:60px;
top: -45px;
right: 0%;
z-index:2;
position:absolute;

}
</style>
<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <h2 class="text-center animated fadeInDown"><span style="color:green"><b>Jobminx</b></span> has analyzed your information, here is your Keyword Density report!</h2><br/>
            <div class="text-center actions animated fadeInDown delay2">

                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-6">
                        <div id="overview" class="panel panel-default">
                            <div class="panel-heading" style="background-color:green; color:white;">Report Overview</div>
                            <div class="panel-body">
                                <h3>This is a summary of what your resume is telling the ATS and Hiring Manager</h3>
                                <div id="Summary">@Model.QualificationSummary</div>
                                <h3>Key Word Density:</h3>
                                <div id="Keyword">
                                    <p><b>Number Key Words In the Job Description:</b> @Model.KeyWordCountJob</p>
                                    <p><b>Number Of Keywords Matched:</b> @Model.KeyWordMacthCount</p>
                                </div>
                                <h3>Experience:</h3>
                                <div id="Experience">
                                    <p><b>Years of Experience on your Resume:</b> @Model.ResumeYOE</p>
                                    <p><b>Years of Experience requested on Job Description:</b> @Model.JobYOE</p>
                                   
                                </div>
                                <h3>Education:</h3>
                                <div id="Education">
                                    <p><b>Highest Degree on your Resume:</b>@{var p = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(Model.ResumeEducation.ToLower());}
                                    @p
                                    </p>
                                    <p><b>Degree Requested on Job Description:</b>@{var r = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(Model.JobEducation.ToLower());} 
                                    @r
                                    </p>
                                   
                                </div>
                                <hr />
                                <div>
                                    <h3 style="color:red;">Not what you expected?</h3>
                                    <p><span style="color:green"><b>Jobminx</b></span> uses the same ATS (Applicant Tracking System) technology of top companies and recruiting agencies. If these results do not match what you feel your job qualifications are, you may be mis-representing yourself when applying for a job. <a href="#explain" data-toggle="modal">Click Here</a> to learn more.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-sm-6">
                        <div id="report" class="panel panel-default">
                            <div class="panel-heading" style="background-color:green; color:white;">Keyword Density Report</div>
                            <div class="panel-body">
                                <div>
                                    <div style="position:relative;">
                                    <div style="text-align:left; width:85%;"><p>Jobminx has identified <span style="color:red"><b>@Model.KeyWordCountJob Keywords</b></span> to target this job description. Your resume currently has <span style="color:green"><b>@Model.KeyWordMacthCount matching keywords</b></span> </p></div>
                                    <div id="callout">
                                       <b style="color:red; font-size:25px;"> @Model.KeyWordCountJob</b>
                                        <p style="margin-top:-3px;"><span style="color:green"><b>@Model.KeyWordMacthCount</b></span> / <span style="color:red;"><b>@Model.NotMatchCount</b></span></p>
                                        </div>
                                    </div>
                                        <div class="col-sm-6">
                                    
                                            <div id="Matched" title="Number of Keywords Matched from Job Description"><div style="padding-top:10px;"><div style="width:33%"><img style="float:left; margin-left:11px;" id="check" src="~/Content/check.gif" /></div><span style="float:left; font-size:32px; margin-top:-5px; width:20%;">@Model.KeyWordMacthCount</span><p class="subtext" style="float:left; width:40%;">Matching Keywords</p></div></div>
                                       
                                        <ul class="keys">
                                            @foreach (string word0 in Model.Match)
                                            {
                                                <li>@{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word0.ToLower());}
                                                 @s
                                                </li>
                                            }
                                            @foreach (string word1 in Model.MatchOther)
                                            {
                                                <li>
                                                    @{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word1.ToLower());}
                                                 @s
                                            </li>
                                            }
                                        </ul>

                                       
                                       
                                        </div>
                                <div>
                                   
                                        <div class="col-sm-6">
                                            <div id="NotMatched" title="Number of Keywords Not Matched from the Job Description"><div style="padding-top:10px; margin-left:5px;"><div style="width:40%; padding-left:2%;"><img style="float:left; margin-left:11px;" id="point" src="~/Content/point.gif" /></div><span style="float:left; font-size:32px; margin-top:-5px; padding-left:3%; width:20%;"> @Model.NotMatchCount</span><p class="subtext" style="float:left; padding-left:9%; width:40%;">Missing Keywords</p></div></div>
                                           
                                            <ul class="keys">
                                                @foreach (string word2 in Model.NotMatching)
                                                {
                                                    <li>
                                                        @{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word2.ToLower());}
                                                     @s
                                                </li>
                                                }
                                                @foreach (string word3 in Model.NotMatchingOther)
                                                {
                                                    <li>
                                                        @{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word3.ToLower());}
                                                     @s
                                                </li>
                                                }
                                            </ul>
                                        </div>
                                        
                                </div>
             
                                </div>


                            </div>
                        </div>
                        </div>
                    </div>
                <div class="col-sm-10 col-sm-offset-1">
                
                <h3>Want to optimize and target your resume to better match your dream job!</h3>
                    <h1>Let Jobminx show you how today!</h1><br/>
                    <a href="/Start/Pricing" class="btn btn-primary btn-lg">Start Now!</a><br/><br/><br/>
                </div>
                </div>

        </div>

    </div>

   

</div>

<div class="modal" id="explain">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><span class="oswald">About the Jobminx Keyword Density Report</span></h4>
            </div>
            <div class="modal-body">
                <div class="tabbable">
                    @*<ul class="nav nav-tabs">
                            <li class="active"><a href="#one" data-toggle="tab">Are you presenting yourself correctly to potential employers</a></li>
                            <li><a href="#two" data-toggle="tab">Jobminx can help you get past these filters</a></li>
                            <li><a href="#twee" data-toggle="tab">The Summary</a></li>
                        </ul>*@
                    <div class="tab-content">
                        <div class="tab-pane active" id="one">
                            <h3 class="oswald">Are you presenting yourself correctly to potential employers?</h3>
                            <p>The <span class="green">Jobminx</span> Keyword Density Report uses the same ATS (ApplicantTracking System) technology used by top companies and recruiting agencies. </p>
                            <p>An applicant tracking system (ATS) is a software application that enables the electronic handling of recruitment needs. In many cases they filter applications automatically based on given criteria such as keywords, skills, former employers, years of experience and schools attended. This has caused many to adapt resume optimization techniques similar to those used in search engine optimization when creating and formatting their résumé. Almost all recruitment agencies and most major corporations with an in-house recruitment function use some form of applicant tracking system to handle job postings and applicant resume screenings.</p>
                            <h3 class="oswald"><span class="green">Jobminx</span> can help you get past these filters</h3>
                            <p>With the information in our Keyword Density Report, you can target and optimize your resume to match the requirements of any job description.</p>
                            <p class="pull-right"><a href="#two" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="two">
                            <h3 class="oswald">The Summary</h3>
                            <p>The ATS system scans your resume and picks up certain keywords, skills, educational information and job history in order to present a brief overview to the employer about your job history and background. The industry and work history identified in this section is based on the relevant information from your resume.</p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>With this information, you can see exactly how your resume is presenting your qualifications from the hiring managers point of view. You can use this information to modify and adjust your resume content in order to highlight specific keywords that will make you a better match to the industry or job requirements of the job description you are applying for.</p>
                            <p>By creating a resume with a summary that closely matches the needs of the employer, you can rise to the top of the interview list as a top applicant.</p>
                            <p class="pull-right"><a href="#one" data-toggle="tab"><< Previous</a> | <a href="#twee" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="twee">
                            <h3 class="oswald">Keyword Density</h3>
                            <p>The Keyword Density section provides a comparison of the number of keywords the ATS has identified in the provided job description against the number of those same keywords that appear in your resume. These keywords are what the ATS looks for in order to identify the applicants resume as a potential match for the job.</p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>By having a clear list of the keywords, including the desired skills of a job posting, you can easily add any relevant keywords to your resume. The higher number of matching keywords you have included on your resume, the better chance the ATS systems will flag you as a potential match for the job description.</p>
                            <p>Simply add the relevant keywords from the “Missing Keywords” list to your resume in order to increase the number of “Matching Keywords”. The more mathching keywords you have, the better your resume will match the job description.</p>
                            <p class="pull-right"><a href="#two" data-toggle="tab"><< Previous</a> | <a href="#four" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="four">
                            <h3 class="oswald">Experience</h3>
                            <p>In this section, you will see the total number of years of work experience the ATS has identified in your resume, as well as the number of years of relevant experience required by the job description. </p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>With a resume that shows you have the required amount of years experience within a job, you will be seen as a better potential match for the job description. While your overall job experience may meet the years experience of the job listing, you should also look at the total years of <i>relevant</i> experience, which is key to being seen as a potential match.</p>
                            <p>When possible, you should add the relevant job skills to each job you worked at so the ATS can accurately identify the true number of years of relevant experience.</p>
                            <p class="pull-right"><a href="#twee" data-toggle="tab"><< Previous</a> | <a href="#five" data-toggle="tab">Next >></a></p>
                        </div>
                        <div class="tab-pane" id="five">
                            <h3 class="oswald">Education</h3>
                            <p>The Education section lists the highest level of education that you have on your resume, as well as the education level noted in the job description. If you’re education level does not meet or exceed the requested level of education, you may be overlooked as a potential match.</p>
                            <h3 class="oswald">How does this help you?</h3>
                            <p>Knowing the education level of the job you are applying for will help you know if you are qualified for that position. If your education level is not being properly identified, you may need to revisit how it is written on your resume, using standard terminology such as “Degree”, “College” or “University”.</p>
                            <p>While years of relevant experience can often be viewed in conjunction with education level, it is still important to be sure your correct education is identified.</p>
                            <p class="pull-right"><a href="#four" data-toggle="tab"><< Previous</a></p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {


        $("#Matched").tooltip();
        $("#NotMatched").tooltip();

    
    });




</script>