﻿@model Bootstrap.Models.signup
@{
    ViewBag.Title = "Trial Plan | Jobminx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/pricingplan.css" rel="stylesheet" />
@using (Html.BeginForm("SignUp", "Start", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()

   <div class="container" style="margin-top:20px;">
       <div class="col-lg-8 col-sm-offset-2">

           <div class=" panel panel-success">
               <!--<a id="OutOfTokens" data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Buy Tokens</a>-->
               <div class="panel-heading" style="background-color:green; color:white;">
                   <p>Create Your Account</p>
               </div>
               <div class="panel-body">
                   <ol class="breadcrumb">
                       <li><a href="/Start/Pricing">Pricing</a></li>
                       <li class="active">Sign Up</li>
                   </ol>
                   <div id="selected_plan" style="color:#115f1f"><h3>Selected Plan: Trial</h3></div>
                   <input type="hidden" name="plan" id="plan" value="1" />

                   
                   <div class="form-group">
                       <label class="col-sm-3 control-label" for="email">Email</label>
                       <div class="input-group col-sm-7" data-validate="email">
                           @Html.TextBoxFor(model => model.email, new { @class = "form-control", @Placeholder = "Email", @required = "required" })
                           <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>


                       </div>
                       <div class="col-sm-7 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.email)</div>
                   </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label" for="confirmEmail">Confirm Email</label>
                       <div class="input-group col-sm-7" data-validate="email">
                           @Html.TextBoxFor(model => model.confirmEmail, new { @class = "form-control", @Placeholder = "Confirm Email", @required = "required" })
                           <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                       </div>
                       <div class="col-sm-7 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.confirmEmail)</div>
                   </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label" for="password">Password</label>
                       <div class="input-group col-sm-7">
                           @Html.PasswordFor(model => model.password, new { @class = "form-control", @Placeholder = "Password", @required = "required" })
                           <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                       </div>
                       <div class="col-sm-7 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.password)</div>
                   </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label" for="confirmPassword">Confirm Password</label>
                       <div class="input-group col-sm-7">
                           @Html.PasswordFor(model => model.confirmPassword, new { @class = "form-control", @Placeholder = "Confirm Password", @required = "required"})
                           <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                       </div>
                       <div class="col-sm-7 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.confirmPassword)</div>
                   </div>


                   <div class="form-group">
                       <label class="col-sm-3 control-label">
                           Special Offers:
                       </label>

                       <div class="col-sm-8">
                           <div class="checkbox">
                               <label>
                                   <input type="checkbox" name="offers" id="offers" value="true" />like to be sent special offers via email
                               </label>
                           </div>
                       </div>
                   </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label">
                           Terms of Use:
                       </label>

                       <div class="col-sm-8">
                           <div class="checkbox">
                               <label>
                                   <input type="checkbox" name="terms" id="terms" value="true" required="required" />I agree to the terms of use
                               </label>
                           </div>

                       </div>
                   </div>



                   <div class="col-lg-8 col-lg-offset-2">


                       <button type="submit" style="width:100%; margin-bottom:10px;" class="btn btn-primary btn-lg">Create Free Account</button>
                   </div>



               </div>
           </div>
           </div>
       </div>
           }

           <script>

               $(document).ready(function () {


                   $('.input-group input[required], .input-group textarea[required], .input-group select[required]').on('keyup change', function () {
                       var $form = $(this).closest('form'),
                           $group = $(this).closest('.input-group'),
                           $addon = $group.find('.input-group-addon'),
                           $icon = $addon.find('span'),
                           state = false;

                       if (!$group.data('validate')) {
                           state = $(this).val() ? true : false;
                       } else if ($group.data('validate') == "email") {
                           state = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test($(this).val())
                       } else if ($group.data('validate') == 'phone') {
                           state = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/.test($(this).val())
                       } else if ($group.data('validate') == "length") {
                           state = $(this).val().length >= $group.data('length') ? true : false;
                       } else if ($group.data('validate') == "number") {
                           state = !isNaN(parseFloat($(this).val())) && isFinite($(this).val());
                       }

                       if (state) {
                           $addon.removeClass('default');
                           $addon.addClass('success');
                           $icon.attr('class', 'glyphicon glyphicon-ok');
                       } else {
                           $addon.removeClass('success');
                           $addon.addClass('default');
                           $icon.attr('class', 'glyphicon glyphicon-asterisk');
                       }

                       if ($form.find('.input-group-addon.danger').length == 0) {
                           $form.find('[type="submit"]').prop('disabled', false);
                       } else {
                           $form.find('[type="submit"]').prop('disabled', true);
                       }
                   });

                   $('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');


               });

           </script>
