﻿@{
    ViewBag.Title = "Terms Conditions | Jobminx";
}

<style>
    h1, h2 {
        color: #585858;
        font-family: "Oswald",arial,sans-serif;
        font-size: 42px;
        margin: 10px;
    }
</style>



<div class="container">

    <div class="col-md-8 col-lg-offset-2">

        <h1>Terms & Conditions</h1>
        <ol class="breadcrumb">
            <li><a href="/Start">Home</a></li>
            <li class="active"><a href="#">Terms & Conditions</a></li>

        </ol>
        
        <h3>Terms of Use</h3>
        <textarea style="height:300px; overflow-y:scroll; width:100%; font-size:10px; margin-top:10px;">
            JobminxSM Website Terms of Use
            
            1.	Acceptance of the Terms of Use
            Welcome to the JobminxSM website, a service of Employment Pipeline, LLC (" company", "we" or "us" ), a michigan limited liability company. the following terms and conditions, together with any documents they expressly incorporate by reference (collectively, the "Terms of Use" ), govern your access to and use of jobminx.com (the "Website" ), including any content, functionality and services offered on or through the website, whether as a guest or a registered user.
            please read the terms of use carefully before you start to use the website. by using the website or by clicking to accept or agree to the terms of use when this option is made available to you, you accept and agree to be bound and abide by the terms of use and our privacy policy, which is incorporated herein by this reference. if you do not agree to the terms of use or our privacy policy, you must not access or use the website.
            by using the website, you represent and warrant that you are of legal age to form a binding contract with us. if you do not meet this requirement, you must not access or use the website.
          
            2. changes to the terms of use
            we may revise and update the terms of use from time to time in our sole discretion. all changes are effective immediately when we post them, and apply to all access to and use of the website thereafter. however, a change to the dispute resolution provisions set forth in governing law and jurisdiction will not apply to any disputes of which the parties have actual notice on or prior to the date the change is posted on the website.
            your continued use of the website following the posting of revised terms of use means that you accept and agree to the changes.
            
            3. accessing the website and account security
            we reserve the right to withdraw or modify the website, and any service or material we provide on the website, in our sole discretion without notice. we will not be liable under any circumstances if all or any part of the website is unavailable at any time or for any period. from time to time, we may restrict access to some parts of the website, or the entire website, to certain users, including registered users.
            you are responsible for (1) making all arrangements necessary for you to have access to the website; and (2) ensuring that all persons who access the website through your internet connection are aware of the terms of use and comply with them.
            to access the website or some of the resources it offers, you may be asked to provide certain registration details or other information. it is a condition of your use of the website that all the information you provide on the website is correct, current and complete. you agree that all information you provide to register with the website or otherwise, including without limitation by way of any interactive features on the website, is governed by our privacy policy, and you consent to all actions we take with respect to your information consistent with our privacy policy.
            if you choose, or are provided with, a username, password or any other piece of information as part of our security or registration procedures, you must treat such information as confidential, and you must not disclose it to any other person or entity. you also acknowledge that your account is personal to you, and you agree not to provide any other person with access to the website or portions of it using your username, password or other security or registration information. you agree to notify us immediately of any unauthorized access to or use of your username or password or any other breach of security. you also agree to ensure that you exit from your account at the end of each session. you should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.
            we have the right to disable any username, password or other identifier, whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including if, in our opinion, you have violated any provision of the terms of use.
            
            4. intellectual property rights
            the website and its entire contents, features and functionality (including without limitation all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by the company, its licensors or other providers of such material and are protected by united states and international copyright, trademark, patent, trade secret or other intellectual property or proprietary rights laws. you hereby assign and agree to assign to the company all right, title, and interest in any and all ideas, comments, or other feedback or input that you provide to the company, by way of the website or otherwise.
            you are permitted to use the website and the jobminxsm services for personal, non-commercial use only. you may not resell or otherwise make the website or the jobminxsm services available to others. you may not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material on our website, except as follows your computer may temporarily store copies of such materials in ram incidental to your accessing and viewing those materials. you may store files that are automatically cached by your web browser for display enhancement purposes. you may print or download one copy of a reasonable number of pages of the website for your own personal, non-commercial use and not for further reproduction, publication or distribution. if we provide desktop, mobile or other applications for download, you may download a single copy to your computer or mobile device solely for your own personal, non-commercial use, provided you agree to be bound by our end user license agreement for such applications. if we provide social-media features, you make take such actions as are enabled by such features.
            you must not (1) modify copies of any materials from this site; (2) use any illustrations, photographs, video or audio sequences or any graphics separately from the accompanying text; (3) delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from this site; or (4) access or use for any commercial purposes any part of the website or any services or materials available through the website. if you wish to make any use of material on the website other than as set forth in this section, please send your request to info@jobminx.com.
            if you print, copy, modify, download or otherwise use or provide any other person with access to any part of the website in breach of the terms of use, your right to use the website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. no right, title or interest in or to the website or any content on the website is transferred to you, and all rights not expressly granted are reserved by the company. any use of the website not expressly permitted by the terms of use is a breach of the terms of use and may violate copyright, trademark or other laws.
            
            5. trademarks
            the service mark jobminx, the company logo, and all related names, logos, product and service names, designs and slogans are service marks or trademarks of the company or its affiliates or licensors. you must not use such marks without the prior written permission of the company. all other names, logos, product and service names, designs and slogans on the website are the service marks or trademarks of their respective owners.
            
            6. prohibited uses
            you may use the website only for lawful purposes and in accordance with the terms of use.
            you agree not to use the website (1) in any way that violates any applicable federal, state, local or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the us or other countries); (2) for the purpose of exploiting, harming or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise; (3) to send, knowingly receive, upload, download, use or re-use any material which does not comply with the content standards set forth herein; (4) to transmit, or procure the sending of, any advertising or promotional material, including any junk mail, chain letter or spam or any other similar solicitation; (5) to impersonate or attempt to impersonate the company, an employee of the company, another user or any other person or entity (including, without limitation, by using e-mail addresses or usernames associated with any of the foregoing); or (6) to engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the website, or which, as determined by us, may harm the company or users of the website or expose them to liability.
            additionally, you agree not to (1) use the website in any manner that could disable, overburden, damage, or impair the site or interfere with any other party's use of the website, including their ability to engage in real time activities through the website; (2) use any robot, spider or other automatic device, process or means to access the website for any purpose, including monitoring or copying any of the material on the website; (3) use any manual process to monitor or copy any of the material on the website or for any other unauthorized purpose without our prior written consent; (4) use any device, software or routine that interferes with the proper working of the website; (5) introduce any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful; (6) attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the website, the server on which the website is stored, or any server, computer or database connected to the website; (7) attack the website via a denial-of-service attack or a distributed denial-of-service attack; or (8) otherwise attempt to interfere with the proper working of the website.
            
            7. user contributions
            the website may contain job postings, resume postings, message boards, chat rooms, personal web pages or profiles, forums, bulletin boards, and other interactive features (collectively, "Interactive Services" ) that allow users to post, submit, publish, display, process or transmit (collectively, “contribute”) content or materials to, on, through, or by way of the website.
            all content or materials posted, submitted, published, displayed, processed or transmitted to, on, through, or by way of the website (collectively, "User Contributions" ) must comply with the content standards set forth herein.
            no compensation will be paid for user contributions. any user contribution by you will be considered non-proprietary and non-confidential. by contributing any user contribution, you grant to us, our affiliates and service providers, and each of their and our respective licensees, successors and assigns the right to use, reproduce, modify, perform, display, distribute and otherwise disclose to third parties any and all such material. by contributing any material to the website, you grant, or warrant that the owner of such material has expressly granted to the company, a royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, distribute, and sublicense such material (in whole or in part) worldwide and />or to incorporate it in other works in any form, using any technology now known or hereafter developed for the full term of any copyrights or other proprietary rights that may exist in such material.
            You represent and warrant that (1) you own or control all rights in and to the User Contributions and have the right to grant the license granted above to us, our affiliates and service providers, and to each of their and our respective licensees, successors and assigns; and (2) all of your User Contributions do and will comply with the Terms of Use.
            You understand and acknowledge that you are responsible for your User Contributions and that you, not the Company, have fully responsibility for such content or materials, including its legality, reliability, accuracy and appropriateness.
            We are not responsible, or liable to any third party, for the content or accuracy of any User Contributions by you or any other user of the Website.
            
            8.	Monitoring and Enforcement; Termination
            We have the right to (1) remove or refuse to post any User Contributions for any or no reason in our sole discretion; (2) take any action with respect to any User Contribution that we deem necessary or appropriate in our sole discretion, including if we believe that such User Contribution violates the Terms of Use, including the Content Standards, infringes any intellectual property right or other right of any person or entity, threatens the personal safety of users of the Website or the public or could create liability for the Company; (3) disclose your identity or other information about you to any third party who claims that material contributed by you violates their rights, including their intellectual property rights or their right to privacy; (3) take appropriate legal action, including without limitation, referral to law enforcement, for any illegal or unauthorized use of the Website; or (4) terminate or suspend your access to all or part of the Website at any time, with or without prior notice, for any or no reason, including without limitation any violation of the Terms of Use.
            Without limiting the foregoing, we have the right to fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity or other information of anyone posting any materials on or through the Website. YOU WAIVE AND HOLD HARMLESS THE COMPANY AND ITS AFFILIATES, LICENSEES AND SERVICE PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY OF THE FOREGOING PARTIES DURING OR AS A RESULT OF ITS INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.
            However, we cannot and do not undertake to review material before it is posted on the Website, and cannot ensure prompt removal of objectionable material after it has been posted. Accordingly, we assume no liability for any action or inaction regarding transmissions, communications or content provided by any user or third party. We have no liability or responsibility to anyone for performance or nonperformance of the activities described in this section.
            
            9.	Content Standards
            These content standards apply to any and all User Contributions and use of Interactive Services. User Contributions must in their entirety comply with all applicable federal, state, local and international laws and regulations. Without limiting the foregoing, User Contributions may not contain any material that (1) is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory or otherwise objectionable; (2) promotes sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age; (3) infringes or misappropriates any patent, trademark, trade secret, copyright or other intellectual property or other rights of any other person; (4) violates the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with the Terms of Use and our Privacy Policy (5) is intended or likely to deceive any person; (6) promotes any illegal activity, or advocate, promote or assist any unlawful act; (7) causes annoyance, inconvenience or needless anxiety or be likely to upset, embarrass, alarm or annoy any other person; (8) impersonates any person, or misrepresent your identity or affiliation with any person or organization; (9) involves commercial activities or sales, such as contests, sweepstakes and other sales promotions, barter or advertising; or (10) gives the impression that it originates from us or is endorsed by us or any other person or entity, if this is not the case.
            
            10.	Copyright Infringement
            We take claims of copyright infringement seriously. We will respond to notices of alleged copyright infringement that comply with applicable law. If you believe any materials accessible on the Website infringe your copyright, you may request removal of those materials (or access to them) from the Website by submitting written notification to our Copyright Agent identified below. In accordance with the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act (17 U.S.C. § 512) ("DMCA"), the written notice (the "DMCA Notice") must include substantially the following: (1) your physical or electronic signature; (2) identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Website, a representative list of such works; (3) identification of the material you believe to be infringing in a sufficiently precise manner to allow us to locate that material; (4) adequate information by which we can contact you (including your name, postal address, telephone number and, if available, e-mail address); (5) a statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent or the law; (6) a statement that the information in the written notice is accurate; and (7) a statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
            Our designated Copyright Agent to receive DMCA Notices is:
            Employment Pipeline, LLC
            C/o Kreis, Enderle, Hudgins & Borsos, P.C.
            Attn: Copyright Agent, Jobminx.com
            40 Pearl St NW, 5th Floor, Grand Rapids, MI 49503-3021
            (616) 254-8400
            info@Jobminx.com
            If you fail to comply with all of the requirements of Section 512(c)(3) of the DMCA, your DMCA Notice may not be effective.
            Please be aware that if you knowingly materially misrepresent that material or activity on the Website is infringing your copyright, you may be held liable for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA.
            If you believe that material you posted on the Website was removed or access to it was disabled by mistake or misidentification, you may file a counter-notification with us (a "Counter-Notice") by submitting written notification to our copyright agent (identified below). Pursuant to the DMCA, the Counter-Notice must include substantially the following: (1) your physical or electronic signature; (2) an identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access disabled; (3) adequate information by which we can contact you (including your name, postal address, telephone number and, if available, e-mail address); (4) a statement under penalty of perjury by you that you have a good faith belief that the material identified above was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled; (5) a statement that you will consent to the jurisdiction of the Federal District Court for the judicial district in which your address is located (or if you reside outside the United States for any judicial district in which the Website may be found) and that you will accept service from the person (or an agent of that person) who provided the Website with the complaint at issue.
            Completed Counter-Notices should be sent to our designated Copyright Agent as identified above.
            The DMCA allows us to restore the removed content if the party filing the original DMCA Notice does not file a court action against you within ten business days of receiving the copy of your Counter-Notice.
            Please be aware that if you knowingly materially misrepresent that material or activity on the Website was removed or disabled by mistake or misidentification, you may be held liable for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA.
            It is our policy in appropriate circumstances to disable and/or terminate the accounts of users who are repeat infringers.
            
            11.	Reliance on Information Posted
            The information, materials and services presented on or through the Website are made available solely for general information purposes. We do not warrant the accuracy, completeness or usefulness of this information or these materials or services. Any reliance you place on such information, materials or services is strictly at your own risk. We disclaim all liability and responsibility arising from any such reliance by you or any other visitor to the Website, or by anyone who may be informed of any of its contents.
            This Website includes content provided by third parties, including materials provided by other users, contributors, and third-party licensors, syndicators, aggregators or reporting services. All statements or opinions expressed in these materials, and all articles and responses to questions and other content, other than the content provided by the Company, are solely the opinions and the responsibility of the person or entity providing those materials. These materials do not necessarily reflect the opinion of the Company. We are not responsible, or liable to you or any third party, for the content or accuracy of materials provided by any third party.
            
            12.	Changes to the Website
            We may update the content on the Website from time to time, but its content is not necessarily complete or up-to-date. Any of the material on the Website may be out of date at any given time, and we are under no obligation to update such material.
           
            13.	Information About You and Your Visits to the Website
            All information we collect on the Website is subject to our Privacy Policy. By using the Website, you consent to all actions taken by us with respect to your information in compliance with the Privacy Policy.
            
            14.	Online Purchases and Other Terms and Conditions
            All purchases through the Website are governed by our Terms of Sale, which is incorporated herein by this reference.
            
            15.	Linking to the Website
            You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not (1) establish a link in such a way as to suggest any form of association, approval or endorsement on our part without our express written consent; (2) cause the Website or portions of it to be displayed, or appear to be displayed by, for example, framing, deep linking or in-line linking, on any other site; or (3) otherwise take any action with respect to the materials on the Website that is inconsistent with any other provision of the Terms of Use.
            This Website may provide certain social media features that enable you to (1) link from your own or certain third-party websites to certain content on the Website; (2) send e-mails or other communications with certain content, or links to certain content, on the Website; or (3) cause limited portions of content on the Website to be displayed or appear to be displayed on your own or certain third-party websites. You may use these features solely as they are provided by us and solely with respect to the content with which they are displayed.
            The website from which you are linking, or on which you make certain content accessible, must comply in all respects with the Content Standards set forth herein.
            You agree to cooperate with us in causing any unauthorized framing or linking immediately to cease. We reserve the right to withdraw linking permission without notice.
            We may disable all or any social media features and any links at any time without notice in our sole discretion.
            
            16.	Links to other Websites
            If the Website contains links to other sites or resources provided by third parties, these links are provided for your convenience only. This includes links contained in advertisements, including banner advertisements and sponsored links. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third-party websites linked to the Website, you do so entirely at your own risk and subject to the terms and conditions of use for such websites.
            
            17.	Geographic Limitations
            We make no claims that the Website or any of its content is accessible or appropriate outside of the United States. Access to the Website may not be legal by certain persons or in certain countries. If you access the Website from outside the United States, you do so on your own initiative and are responsible for compliance with local laws.
            
            18.	Disclaimer of Warranties
            You understand that we cannot and do not guarantee or warrant that files available for downloading from the internet or the Website will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to our site for restoration or reconstruction of any lost data. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON THE WEBSITE, OR ON ANY THIRD-PARTY WEBSITE LINKED TO THE WEBSITE.
            YOUR USE OF THE WEBSITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, ITS CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER THE COMPANY NOR ANY PERSON ASSOCIATED WITH THE COMPANY MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE. WITHOUT LIMITING THE FOREGOING, NEITHER THE COMPANY NOR ANYONE ASSOCIATED WITH THE COMPANY REPRESENTS OR WARRANTS THAT THE WEBSITE, ITS CONTENT OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.
            THE COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.
            THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
            
            19.	Limitation on Liability
            IN NO EVENT WILL THE COMPANY, ITS AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, REPRESENTATIVES, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
            THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
            
            20.	Indemnification
            You agree to defend, indemnify and hold harmless the Company, its affiliates, licensors and service providers, and their respective officers, directors, employees, contractors, agents, representatives, suppliers, successors and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) arising out of or relating to your violation of the Terms of Use or your use of the Website, including without limitation (1) your User Contributions; (2) any use of the Website's content, services or materials other than as expressly authorized in the Terms of Use; or (3) your use of any information obtained from the Website.
            
            21.	Governing Law and Jurisdiction
            All matters relating to the Website, the Terms of Use, or any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed in accordance with the internal laws of the State of Michigan without giving effect to any choice or conflict of law provision or rule (whether of the State of Michigan or any other jurisdiction).
            Any legal suit, action or proceeding arising out of, or related to, the Terms of Use or the Website shall be instituted exclusively in the federal courts of the United States or the courts of the State of Michigan in each case located in the City of Grand Rapids and County of Kent, although we retain the right to bring any suit, action or proceeding against you for breach of the Terms of Use in your country of residence or any other relevant country. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.
            
            22.	Limitation on Time to File Claims
            ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF USE OR THE WEBSITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED.
            
            23.	Waiver and Severability
            No waiver of by the Company of any term or condition set forth in the Terms of Use shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of the Company to assert a right or provision under the Terms of Use shall not constitute a waiver of such right or provision.
            If any provision of the Terms of Use is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.
            
            24.	Entire Agreement
            The Terms of Use, our Privacy Policy, and our Terms of Sale constitute the sole and entire agreement between you and us with respect to the Website and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Website and the JobminxSM services.
            
            25.	Comments or Concerns
            This website is operated by Employment Pipeline, LLC, a Michigan limited liability company. All notices of copyright infringement claims should be sent to the Copyright Agent in the manner and by the means set forth herein above. All feedback, comments, requests for technical support and other communications relating to the Website should be directed to info@Jobminx.com.
            Thank you for using JobminxSM!
        </textarea>
        <br /><br />
        <h3>Terms of Sale</h3>
        <textarea style="height:300px; overflow-y:scroll; width:100%; font-size:10px; margin-top:10px;">
            JobminxSM Terms of Sale
            Last Modified: October 7, 2014
            1.Introduction
            PLEASE READ THIS DOCUMENT CAREFULLY. IT CONTAINS IMPORTANT INFORMATION REGARDING YOUR RIGHTS AND OBLIGATIONS, INCLUDING LIMITATIONS AND EXCLUSIONS THAT APPLY TO YOU. YOUR SUBMISSION OF AN ORDER VIA OUR WEBSITE CONSTITUTES YOUR ACCEPTANCE OF THESE TERMS OF SALE.
            These Terms of Sale govern any purchase by you and any sale by Employment Pipeline, LLC (the “Company,” “we,” or “us”) a Michigan limited liability company, of JobminxSM services or information (the “Services”) through the JobminxSM website (the “Website”). By placing an order for the Services, you accept and agree to be bound by these Terms of Sale. If you do not agree to these Terms of Sale, you must not use any Services for which a purchase is required. These Terms of Sale are subject to change by us without prior written notice at any time, in our sole discretion, and changes shall be applicable to any subsequent purchase. The latest version of these Terms of Sale will be posted on the Website; you should review these Terms of Sale prior to purchasing Services through the Website. These Terms are an integral part of the Website Terms of Use [FORMAT AS HYPERLINK] that apply generally to the use of the Website. You should also carefully review our Privacy Policy [FORMAT AS HYPERLINK] before placing an order for Services through the Website.
            
            2.Order Acceptance and Cancellation
            Your receipt of an electronic or other form of order confirmation does not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. We reserve the right at any time after receipt of your order to accept, decline, or limit your order for any reason, whether or not your credit card has been charged or other mode of payment has been processed. If your credit card has been charged and your order is canceled you will receive a prompt refund in the form of a credit to your credit-card account. We reserve the right at any time after receipt of your order, without prior notice to you, to supply less than the quantity you ordered of any Service, subject to a proportional refund of the amount paid.
            Once an order has been placed, it cannot be canceled unless delivery is unreasonably delayed. In this case, we will do our best to cancel your order if requested.
            The Website offers the Services to end-users only. The Website does not accept orders from dealers, exporters, wholesalers, distributors, or other customers who intend to resell the Services. We make every effort to maintain the availability of the Website to accept orders. However, should we experience technical difficulties, we are not responsible for orders that are not processed or accepted.
            
            3.Payment Terms and Sales Taxes
            Terms of payment are determined by us, in our sole discretion; unless otherwise agreed by us in writing, payment must be received by us prior to our acceptance of an order.
            All sales are final. You are not entitled to a refund for any purchase unless (1) there is a failure of delivery, (2) you notify us of the failure within three business days of your purchase, and (3) we do not cure the failure within three business days of your notification. Payment must be by credit card or through any third-party payment processor that we authorize. You hereby consent to our use of any and all API calls to any third-party payment processor needed to process your payment. You represent and warrant that (i) the credit or debit card information you supply to us or to any third-party payment processor is true, valid, correct and complete; (ii) charges incurred by you will be honored by your credit or debit card company; (iii) you will pay charges incurred by you at our posted prices, including all applicable taxes, if any; and (iv) you will reimburse us for any and all expenses incurred by us in connection with any breach by you of the foregoing representations and warranties.
            All payments must be in United States dollars. You agree to pay interest on any past-due sums at the highest rate allowed by law. We reserve the right to terminate any or all Services to you in the event of any failure of payment by you.
            
            4.Changes in Products and Pricing
            We are constantly updating and revising our Service offerings, and we may discontinue one or more Services at any time without notice. To the extent that we provide information on availability of the Services, you should not rely on such information, and we will not be liable for any lack of availability of the Services that you may order through the Website.
            Pricing for the Services is subject to change. We reserve the right to adjust pricing due to changing market conditions, enhancement or discontinuation of any Service, errors in advertisements, and other extenuating circumstances.
            
            5.Delivery
            All the Services are delivered electronically by way of the internet. As such, there may be occasional delays or failures in delivery. If you do not receive a Service that you purchased from us, it is your responsibility to notify of us of the delay or failure in delivery.
            
            6.Advertising Disclaimer and Trademarks
            In the event that a Service is listed at an incorrect price or with incorrect information, we reserve the right to refuse or cancel any order placed for said Service listed at the incorrect price, whether or not the order has been confirmed and your credit card charged. If your credit card has already been charged for a purchase and your order is canceled, we will immediately issue a credit directly to your credit-card account or by way of our third-party payment processor, if any, in the amount of the charge.
            All trademarks and copyrights relating to the Services are the sole property of their respective owners.
            
            7.Disclaimer and Limitation of Liability
            Our responsibility for defects relating to the Services or the Website is limited as follows:
            ALL SERVICES ARE PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THE WARRANTY OF NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT (1) THE SERVICES WILL MEET YOUR REQUIREMENTS; (2) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES WILL BE EFFECTIVE, ACCURATE OR RELIABLE; OR (3) THE QUALITY OF ANY THE SERVICES WILL MEET YOUR EXPECTATIONS. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES. THE PRECEDING DISCLAIMER DOES NOT APPLY TO AND ONLY TO THE EXTENT THAT THE LAW OF A JURISDICTION IS APPLICABLE AND SO REQUIRES. WE DO NOT ACCEPT LIABILITY BEYOND THE REMEDIES SET FORTH HEREIN, INCLUDING ANY LIABILITY FOR THE SERVICES THAT ARE NOT AVAILABLE FOR USE OR FOR LOST OR CORRUPTED DATA, DOCUMENTS, OR SOFTWARE. IN NO EVENT SHALL WE OR OUR PARENT, SUBSIDIARIES, AFFILIATED COMPANIES, AGENTS, SHAREHOLDERS, EMPLOYEES, OFFICERS, OR REPRESENTATIVES (COLLECTIVELY, OUR “AFFILIATES”) HAVE ANY OBLIGATIONS OR LIABILITIES TO YOU OR ANY OTHER PERSON FOR LOSS OF PROFITS, FOR LOSS OF BUSINESS OR USE, OR FOR INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, WHETHER BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY, OR ANY OTHER THEORY OR FORM OF ACTION, EVEN IF WE OR OUR AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY THEREOF, ARISING OUT OR IN CONNECTION WITH THE SALE, DELIVERY, USE, OR PERFORMANCE OF THE SERVICES AVAILABLE THROUGH THE WEBSITE. NONE OF OUR EMPLOYEES OR REPRESENTATIVES IS AUTHORIZED TO MODIFY THIS LIMITATION. OUR SOLE AND ENTIRE AGGREGATE AND TOTAL LIABILITY (AND THE LIABILITY OF ANY OF THE PROVIDERS OF THE SERVICES AVAILABLE ON OUR SITE), FOR ANY REASON, AND YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY CAUSE WHATSOEVER, SHALL BE LIMITED TO THE ACTUAL AMOUNT PAID BY YOU FOR THE SERVICES YOU HAVE ORDERED THROUGH THE WEBSITE.
            SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR CERTAIN DAMAGES. THE PRECEDING LIMITATIONS AND EXCLUSIONS DO NOT APPLY TO AND ONLY TO THE EXTENT THAT THE LAW OF A JURISDICTION IS APPLICABLE AND SO REQUIRES.
            
            8.Warranty and Return Policy
            We do not offer any warranties with respect to the Services. All sales are final. These policies set forth your sole and exclusive rights with respect to warranty and return of any Services.
            
            9.Privacy and Customer Information
            In order to make your purchasing experience more convenient and customized, we may gather information about you. See our Privacy Policy [FORMAT AS HYPERLINK].
            
            10.	Service and Support
            All requests for technical service and support with respect to the Services or the Website should be sent by e-mail to admin@jobminx.com or by U.S. mail to Employment Pipeline, LLC, [PO Box 2726 Turlock, CA 95381]. We cannot guarantee that every problem will be resolved to your satisfaction.
            
            11.	Miscellaneous
            a.Force Majeure
            In addition to any excuse provided by applicable law, we shall be excused from liability for any non-delivery of or delay in delivering any Service caused by an event beyond our reasonable control, whether or not foreseeable by either party, including but not limited to network outage, labor disturbance, war, fire, accident, adverse weather, inability to secure transportation, governmental act or regulation, and other causes or events beyond our reasonable control, whether or not similar to those listed above.
            b.Entire Agreement and Other Documents
            These Terms of Sale together with our Terms of Use [FORMAT AS HYPERLINK] and Privacy Policy [FORMAT AS HYPERLINK] constitute the entire agreement and understanding between us concerning the subject matter hereof and supersedes all prior agreements and understandings of the parties with respect thereto. These Terms of Sale may NOT be altered, supplemented, or amended by the use of any other document(s). Any attempt to alter, supplement or amend this document or to enter an order for Services which are subject to additional or altered terms shall be null and void, unless otherwise agreed to in a written instrument signed by you and us. To the extent that anything in or associated with the Website is in conflict or inconsistent with these Terms of Sale, these Terms of Sale shall take precedence.
            c.Governing Law and Statute of Limitations
            The Website (excluding linked sites) is controlled by us from our offices within the State of Michigan, United States of America. It can be accessed from all 50 states, as well as from other countries around the world. As each of these places has laws that may differ from those of Michigan, by accessing the Website you agree that the statutes and laws of the State of Michigan, without regard to any conflicts-of-laws provisions or principles thereof, will apply to all matters relating to your use of the Website and the purchase of the Services. You hereby submit to the exclusive personal jurisdiction and venue of the courts of Kent County and the United States District Court for the Western District of Michigan with respect to such matters. Any cause of action brought by you against us or our Affiliates must be instituted within one year after the cause of action arises or be deemed forever waived and barred.
            We make no representation that the Services are appropriate or available for use in locations outside of the United States, and accessing them from territories where such the Services are illegal is prohibited. Those who choose to access the Website from other locations do so on their own initiative and are responsible for compliance with local laws.

        </textarea>
</div>

</div>