﻿
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/pricingplan.css" rel="stylesheet" />

<div class="container">
    <h1 class="oswald text-center">A Plan for Every Budget</h1>
    <h3 class="oswald text-center">Select the plans that's right for you and start optimizing TODAY.</h3>
   <br/>
    <div class="col-lg-10 col-lg-offset-1">
       
       
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        <span class="oswald text-center">Plus</span>
                        <img class="mp pull-right" style="width:91px;" src="~/Content/mp.png" />
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$24.99 for Unlimited Keyword Reports <br/> (One Month)</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Target and optimize your resume for <b>Unlimited</b> unique job descriptions for one month.</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited use of our Keyword Resume Editor</li>
                </ul>
                <div class="panel-footer">
                    <a href="/Start/Purchase?plan=2" class="btn btn-lg btn-block btn-success">BUY NOW!</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        <span class="oswald text-center">Unlimited</span>
                        <img class="mp pull-right" style="width:91px;" src="~/Content/bv.png" />
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$59.99 for Unlimited Keyword Reports (Three Months)</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Target and optimize your resume for <b>Unlimited</b> unique job descriptions for three months.</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited use of our Keyword Resume Editor</li>
                </ul>
                <div class="panel-footer">
                    <a href="/Start/Purchase?plan=3" class="btn btn-lg btn-block btn-success">BUY NOW!</a>
               </div>
            </div>
        </div>
      
     

    </div>
    
</div>

    
   
