﻿
@{
    Layout = null;
    int tokens = Convert.ToInt32(ViewData["tokens"]);
    string plan = ViewData["plan"].ToString();
    DateTime expire = Convert.ToDateTime(ViewData["expire"]);
}
@if (ViewBag.firstname == "" || ViewBag.firstname == null)
{
    <h3>Welcome Back, @User.Identity.Name, Are you ready to jumpstart your job hunt?</h3>
}
else
{
    <h3>Welcome Back @ViewBag.firstname, Are you ready to jumpstart your job hunt?</h3>
    
}


@if (plan == "3")
{
    <h4>You are currently on the monthly <span style="color:green">UNLIMITED Plan!</span> Expires : @expire.ToShortDateString()  </h4>

}
else
{
    <h4>You currently have <span style="color:green">@tokens tokens</span> remaining in your account</h4>
}



<input type="hidden" id="currentT" value="@tokens" />
<input type="hidden" id="currentP" value="@plan" />

