﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jobminx Admin</title>

    <!-- Bootstrap Core CSS -->
   
    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
  
    <link href="~/Admin/css/sb-admin.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    
    <link href="~/Admin/css/plugins/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
 
    <link href="~/Admin/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "3y+Pk1a4eFf2uP", domain: "jobminx.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=3y+Pk1a4eFf2uP" style="display:none" height="1" width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Jobminx Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                   
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/Members/Index">Back to Members Area</a>
                    </li>
                    <li id="dash" class="active">
                        <a href="~/Admin/Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li id="demo">
                        <a href="~/Admin/Demo"><i class="fa fa-fw fa-bar-chart-o"></i> Resumes</a>
                    </li>
                    <li id="users">
                        <a href="~/Admin/Users"><i class="fa fa-fw fa-table"></i> Users</a>
                    </li>
                    <li id="trans">
                        <a href="~/Admin/Transactions"><i class="fa fa-fw fa-edit"></i> Transactions</a>
                    </li>
                    <li id="usage">
                        <a href="~/Admin/GetUsage"><i class="fa fa-fw fa-edit"></i> Usage</a>
                    </li>
                    <li id="api">
                        <a href="~/Admin/api"><i class="fa fa-fw fa-edit"></i> API</a>
                    </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            @RenderBody()

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery Version 1.11.0 -->
    
    <script src="~/Admin/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
   
    <script src="~/Admin/js/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    
    <script src="~/Admin/js/plugins/morris/raphael.min.js"></script>
    <script src="~/Admin/js/plugins/morris/morris.min.js"></script>
    <script src="~/Admin/js/plugins/morris/morris-data.js"></script>
    <script src="~/Admin/js/plugins/morris/morris.min.js"></script>
</body>

</html>
