﻿
@{
    Layout = null;
    int tokens = Convert.ToInt32(ViewData["tokens"]);
    string plan = ViewData["plan"].ToString();
    DateTime expire = Convert.ToDateTime(ViewData["expire"]);
}
@if (ViewBag.firstname == "" || ViewBag.firstname == null)
{
    <h3>Welcome Back, @User.Identity.Name - Are you ready to Analyze Your Resume?</h3>
}
else
{
    <h3>Welcome Back @ViewBag.firstname - Are you ready to Analyze Your Resume?</h3>
    
}


@if (plan == "3" || plan == "2")
{
    <h4>You are currently on the monthly <span style="color:green">UNLIMITED Plan!</span> Expires : @expire.ToShortDateString()  </h4>

}
else
{
    if (tokens == 0)
    {
        <h4>You currently have <span style="color:green">No Reports</span> <a href="/Members/Upgrade" class="btn btn-success">Upgrade Now!</a></h4>
        <input type="hidden" id="currentT" value="@tokens" />
        <input type="hidden" id="currentP" value="1" />
    }
    else
    {
        <h4>You currently have <span style="color:green">@tokens Reports</span> remaining in your account</h4>
        <input type="hidden" id="currentT" value="@tokens" />
        <input type="hidden" id="currentP" value="1" />
    }


}





