﻿@model IEnumerable<Bootstrap.Models.ActionItem>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Recent Transactions Panel</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Order #</th>
                        <th>Order Date</th>
                        <th>Amount (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.TransactionId</td>
                        <td>@item.PurchaseDate.ToString()</td>
                        <td>@item.Worth</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>