﻿
@{
    Layout = null;
    int tokens = Convert.ToInt32(ViewData["tokens"]);
    string plan = ViewData["plan"].ToString();
    DateTime expire = Convert.ToDateTime(ViewData["expire"]);
}

    <h3>Welcome. Are you ready to Analyze Your Resume?</h3>




@if (tokens == 0)
{
    <h4>You currently have <span style="color:green">No free trials</span> <a href="/Start/Pricing" class="btn btn-success">Sign Up Now!</a></h4>
    <input type="hidden" id="currentT" value="@tokens" />
    <input type="hidden" id="currentP" value="1" />
}
else
{
    <h4>You currently have <span style="color:green">@tokens free trial</span></h4>
    <input type="hidden" id="currentT" value="@tokens" />
    <input type="hidden" id="currentP" value="3" />
}
    






