﻿@model IEnumerable<Bootstrap.Models.UserProfile>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Newest Users Panel</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Tokens</th>
                        <th>Created Date</th>
                        <th>Plan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Tokens</td>
                            <td>@Convert.ToDateTime(item.CreatedDate).ToLocalTime().ToString()</td>
                            <td>@item.Plan1</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <a href="~/Admin/Users">View All Users <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>