﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="resume,cv,free resume templates,resume targeting,improve resume,resume samples,free resume builder,job,jobs">
    <meta name="author" content="Jobminx.com">
    <meta name="alexaVerifyID" content="0Xn-G0oBjJs768z-CP7R3fvsqw4" />
    <meta name="p:domain_verify" content="26c4b1395bbef157d79c326928846146" />
    <link rel="shortcut icon" type="image/png" href="~/images/unnamed.png" />
    
    
    <title>@ViewBag.Title</title>    

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet"> <!-- Custom styles for this template -->
    <link href="@Url.Content("~/css/color-styles.css")" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link href="@Url.Content("~/css/ui-elements.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet"><!-- Resources -->
    <link href="@Url.Content("~/css/animate.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/SummerNote/summernote.css")" rel="stylesheet" />
    <link href="@Url.Content("~/slidebars/slidebars.css")" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/js/scrolltopcontrol.js")"></script>
    <script src="@Url.Content("~/Content/SummerNote/summernote.min.js")"></script>
    <script src="@Url.Content("~/slidebars/slidebars.js")"></script>
    <script src="@Url.Content("~/js/indeed.js")"></script>
    <script src="@Url.Content("~/rangy/rangy-core.js")"></script>
    <script src="@Url.Content("~/rangy/rangy-selectionsaverestore.js")"></script>
    <script src="//cdn.optimizely.com/js/2227392015.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55597779-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "3y+Pk1a4eFf2uP", domain: "jobminx.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=3y+Pk1a4eFf2uP" style="display:none" height="1" width="1" alt="alexa" /></noscript>
    <!-- End Alexa Certify Javascript -->  
    <!-- start Mixpanel -->
    <script type="text/javascript">
    (function (f, b) {
    if (!b.__SV) {
    var a, e, i, g; window.mixpanel = b; b._i = []; b.init = function (a, e, d) {
    function f(b, h) { var a = h.split("."); 2 == a.length && (b = b[a[0]], h = a[1]); b[h] = function () { b.push([h].concat(Array.prototype.slice.call(arguments, 0))) } } var c = b; "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel"; c.people = c.people || []; c.toString = function (b) { var a = "mixpanel"; "mixpanel" !== d && (a += "." + d); b || (a += " (stub)"); return a }; c.people.toString = function () { return c.toString(1) + ".people (stub)" }; i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for (g = 0; g < i.length; g++) f(c, i[g]); b._i.push([a, e, d])
    }; b.__SV = 1.2; a = f.createElement("script"); a.type = "text/javascript"; a.async = !0; a.src = "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; e = f.getElementsByTagName("script")[0]; e.parentNode.insertBefore(a, e)
    }
    })(document, window.mixpanel || []);
        mixpanel.init("0851dca12fe441b56b5341cad9170ed9");</script>
    
    <!-- end Mixpanel -->
    <style>
        .input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);}
        .input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);}
        .input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);}
        .input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);}
        .input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);}
    </style>
</head>

<body class="body-green">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-547cae8f773989b3" async="async"></script>

    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    
    <script type="text/javascript">
        window.twttr = (function (d, s, id) { var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return } js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } }) }(document, "script", "twitter-wjs"));
    </script>
    <!--<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <div class="container-fluid">
        <div style="width:100%; height:7px; background-color:green;"></div>
        <div class="navbar" style="height:200px; background-color:#4f0a79;">
            <button class="sb-toggle-right btn btn-success pull-right" style="margin:10px;"><i class="glyphicon glyphicon-align-justify"></i></button>
            <div class="sb-slidebar sb-right sb-style-push sb-style-overlay" style="background-color: #ffffff;">
                <div style="width:100%">
                    <div class="pull-left" style="margin:5px;">
                        <a href="#" class="sb-close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="pull-right" style="margin:10px;">

                        <img src="~/Content/jobminx_logo_final_small.png" alt="Resume Keyword Optimization by Jobminx" class="img-responsive" />
                    </div>

                </div>
                <div style="clear:right;">
                    <ul class="nav nav-pills nav-stacked">

                        @if (User.Identity.IsAuthenticated)
                        {


                            if (User.IsInRole("Admin"))
                            {

                                <li>
                                    <a class="sb-close" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Members/UserProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Account/LogOff"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Admin/Index"><span class="glyphicon glyphicon-wrench"></span> Administrator</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Start/About"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Start/Pricing"><span class="glyphicon glyphicon-usd"></span> Pricing</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Start/FAQ"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
                                </li>
                                 <li>
                                    <a class="sb-close" href="/Start/Contact"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="http://blog.jobminx.com" target="_blank"><span class="glyphicon glyphicon-comment"></span> Blog</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="sb-close" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Members/UserProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Account/LogOff"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Start/About"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Start/Pricing"><span class="glyphicon glyphicon-usd"></span> Pricing</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Start/FAQ"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="/Start/Contact"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                                </li>
                                <li>
                                    <a class="sb-close" href="http://blog.jobminx.com" target="_blank"><span class="glyphicon glyphicon-comment"></span> Blog</a>
                                </li>

                            }




                        }
                        else
                        {
                            <li>
                                <a class="sb-close" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                            </li>
                            <li><a class="sb-close" href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <li>
                                <a class="sb-close" href="/Start/About"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
                            </li>
                             <li>
                                <a class="sb-close" href="/Start/Pricing"><span class="glyphicon glyphicon-usd"></span> Pricing</a>
                            </li>
                            <li>
                                <a class="sb-close" href="/Start/FAQ"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
                            </li>
                            <li>
                                <a class="sb-close" href="/Start/Contact"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
                            </li>
                            <li>
                                <a class="sb-close" href="http://blog.jobminx.com" target="_blank"><span class="glyphicon glyphicon-comment"></span> Blog</a>
                            </li>
                        }
                    </ul>
                    <div style="margin-top:20px; margin-left:10px;">
                        <h3>Connect With Us</h3>
                        <hr />
                        <ul class="list-inline" style="list-style:none;">
                            <li><a href="https://www.facebook.com/pages/Jobminxcom/198746530277343?sk=timeline&ref=page_internal" onclick="window.open(this.href,'Share','300','300','yes','center');return false" onfocus="this.blur()"><img src="~/Content/social/fb.png" alt="Jobminx Facebook" /></a></li>
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=jobminx.com&title=Target%20your%20resume%20and%20get%20hired!&summary=&source=" onclick="window.open(this.href,'Share','300','300','yes','center');return false" onfocus="this.blur()"><img src="~/Content/social/linkedin.png" alt="Jobminx LinkedIn" /></a>
                            </li>
                            <li><a href="http://twitter.com/jobminx" onclick="window.open(this.href,'Share','300','300','yes','center');return false" onfocus="this.blur()"><img src="~/Content/social/twitter.png" alt="Jobminx Twitter" /></a></li>
                            <li><a href="https://plus.google.com/share?url=jobminx.com" onclick="window.open(this.href,'Share','300','300','yes','center');return false" onfocus="this.blur()"><img src="~/Content/social/google.png" alt="Jobminx Google+" /></a></li>

                        </ul>
                    </div>
                </div>
            </div>









                <div style="width:100%; height:70px; margin-top:60px; background-color:white">
                    <div class="container">

                        <div class="navbar-header">


                            <a href="/"><img style="height:100px; margin-top:-15px; margin-left:3px;" src="~/Content/jobminx_logo_final.png" alt="Resume Keyword Optimization by Jobminx" class="img-responsive" /></a>
                        </div>


                        <div class="navbar-collapse collapse pull-right visible-xs-block hidden-xs visible-sm hidden-sm">
                            <ul class="nav navbar-nav" style="margin-top:20px;">
                                @if (User.Identity.IsAuthenticated)
                                {


                                    if (User.IsInRole("Admin"))
                                    {

                                        <li>
                                            <p style="color:green">@User.Identity.Name | <span class="glyphicon glyphicon-user"></span><a href="/Members/UserProfile"> My Profile</a> | <a href="/Members/Index"> Resume Tools</a> | <a href="/Account/LogOff">Logout</a> | <a href="/Admin/Index">Administrator</a></p>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <p style="color:green">@User.Identity.Name | <span class="glyphicon glyphicon-user"></span><a href="/Members/UserProfile"> My Profile</a> | <a href="/Members/Index"> Resume Tools</a> | <a href="/Account/LogOff">Logout</a></p>
                                        </li>
                                    }




                                }
                                else
                                {
                                    <li><p>Already a member? <a href="/Account/Login">Login here</a></p></li>
                                }
                                @*<li style="margin-top:-40px; margin-left:5px;">

                                    <div class="fb-share-button" data-href="https://jobminx.com" data-layout="box_count"></div>



                                </li>
                                <li style="margin-top:-41px; margin-left:5px;">

                                    <script src="//platform.linkedin.com/in.js" type="text/javascript">
                                        lang: en_US
                                    </script>
                                    <script type="IN/Share" data-url="www.jobminx.com" data-counter="top">
                                    </script>

                                </li>
                                <li style="margin-left:5px; margin-top:-39px;">

                                    <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>

                                </li>
                                <li style="margin-left:5px; margin-top:1px;">

                                    <a class="twitter-share-button"
                                       href="https://twitter.com/share">
                                        Tweet
                                    </a>

                                </li>*@



                            </ul>

                        </div>

                    </div>
                </div>
            
            </div>

        <!--</div>-->
        <!-- Body -->
        <div class="wrapper">
            <!-- wrapper -->
            @RenderBody()

        </div> <!-- / wrapper -->
       
        <div class="footer-wrapper visible-xs-block hidden-xs">
            <!-- footer wrapper -->

            <div style="width:100%; height:7px; background-color:green;"></div>
            <div class="container">
               
                <footer>
                    <div class="row">

                        <div class="col-lg-3">
                            <h3>Learn More</h3>
                            <hr />

                            <p>@Html.ActionLink("About Us", "About", "Start", null, new { @class="links"})</p>
                            <p>@Html.ActionLink("Pricing", "Pricing", "Start", null, new { @class = "links" })</p>
                            <p>@Html.ActionLink("F.A.Q", "FAQ", "Start", null, new { @class = "links" })</p>
                            <p>@Html.ActionLink("Contact Us", "Contact", "Start", null, new { @class = "links" })</p>
                            <p>@Html.ActionLink("Member Login", "Login", "Account", null, new { @class = "links" })</p>
                            <p><a href="http://blog.jobminx.com" target="_blank">Blog</a></p>

                        </div>
                        <div class="col-lg-3">
                            <h3>Connect With Us</h3>
                            <hr />
                            <ul class="list-inline" style="list-style:none;">
                                <li><a href="https://www.facebook.com/pages/Jobminxcom/198746530277343?sk=timeline&ref=page_internal" onclick="window.open(this.href,'Share','500','500','yes','yes','yes','center');return false" onfocus="this.blur()"><img src="~/Content/social/fb.png" alt="Connect On Facebook | Jobminx.com" /></a></li>
                                <li>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=jobminx.com&title=Target%20your%20resume%20and%20get%20hired!&summary=&source=" onclick="window.open(this.href, 'Share', '500', '500', 'yes', 'yes', 'yes', 'center'); return false" onfocus="    this.blur()"><img src="~/Content/social/linkedin.png" alt="Connect On Linkedin| Jobminx.com" /></a>
                                </li>
                                <li><a href="https://twitter.com/jobminx" onclick="window.open(this.href, 'Share', '500', '500', 'yes', 'yes', 'yes', 'center'); return false" onfocus="    this.blur()"><img src="~/Content/social/twitter.png" alt="Connect On Twitter | jobminx.com" /></a></li>
                                <li><a href="https://plus.google.com/112860319252084094698" rel="publisher" onclick="window.open(this.href, 'Share', '500', '500', 'yes', 'yes', 'yes', 'center'); return false" onfocus="    this.blur()"><img src="~/Content/social/google.png" alt="Connect On Google | Jobminx.com" /></a></li>

                            </ul>
                        </div>
                        <div class="col-lg-3">

                        </div>
                        <div class="col-lg-3">
                            <div style="margin-top:30px; text-align:right;" class="pull-right-xs text-muted">
                                <p><b>Jobminx.com</b></p>
                                <p>P.O Box 2726</p>
                                <p>Turlock, 95381</p>
                                <p><a href="mailto:info@jobminx.com">info@jobminx.com</a></p>

                                <p>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Start", null, null) | @Html.ActionLink("Terms & Conditions", "TermsConditions", "Start", null, null)</p>
                                <p>&copy; Jobminx.com @DateTime.Now.Year</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </footer>
            </div> <!-- /container -->
        </div>
    </div>
</body>
</html>

<script>
    (function ($) {
        $(document).ready(function () {
            $.slidebars();
        });
    })(jQuery);
</script>