﻿<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Single Page HTML5 CSS3 Template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,Template,HTML5,CSS3,JS,jQuery,Ajax,portfolio,single-page,one-page,Theme,bootstrap,bootstrap 3,twitter,facebook,instagram">

  
    <title>@ViewBag.Title</title>
  
    <link href="favicon1.ico" rel="icon" type="image/x-icon" />
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
    
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")">
    
    <link rel="stylesheet" href="@Url.Content("~/css/styles.css")" />
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic|Merriweather:900' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/js/custom.modernizr.js")"></script>
   
    

</head>
<body>
  

        
            @RenderBody()
           
        
    <!-- Bootstrap Scripts -->
    <script src="@Url.Content("~/js/jquery.js")"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <!-- Jquery Scripts -->
    <script src="@Url.Content("~/js/jquery.mixitup.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.easing.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
    <!-- Swiper Plugin -->
    <script src="@Url.Content("~/js/idangerous.swiper-1.9.3.js")"></script>

  


    <script src="@Url.Content("~/js/scripts.js")"></script>
    <script src="@Url.Content("~/js/jobminx.js")"></script>
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="@Url.Content("~/js/respond.min.js")"></script>
   
    </body>
</html>
