﻿@model IEnumerable<Bootstrap.Models.ApplicationDbContext.UserResume>

<table class="table table-striped">
    <thead>

        <tr>
            <th>User</th>
            <th>Name</th>
            <th>Last Modified</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {




        <tr>
            <td>@item.UserId</td>
            <td>@item.Name</td>
            <td>@item.DateModified</td>
            <td>@item.DateLoaded</td>
            <td hidden><input type="hidden" id="r-@item.Id" />@item.Resume</td>
            <td class="text-center"><a class='btn btn-info btn-xs ropen' id="@item.Id" href="#resume"><span class="glyphicon glyphicon-open"></span>View</a> </td>
            
        </tr>

    

    }

</table>

<div class="modal" id="resume">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Jobminx.com Says...</h4>
            </div>
            <div class="modal-body">
                <div id="myresume" style="height:500px; overflow-y:scroll;"></div>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        


        $(".ropen").on("click", function () {
            var id = this.id;
            $("#myresume").html($("#r-" + id).val());

        });

    });

</script>