﻿@model IEnumerable<Bootstrap.Helpers.SimplyHiredJob>


    
                <table class="table table-striped">


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <p><b>Job Title: </b>@Html.DisplayFor(modelItem => item.jobtitle)</p>
                                <p><b>Job Description: </b>@Html.DisplayFor(modelItem => item.jobdesc)</p>
                                <p><b>Company Name: </b>@Html.DisplayFor(modelItem => item.anchor)</p>
                                <p><b>Location: </b>@Html.DisplayFor(modelItem => item.loc)</p>
                                <p><button id="@Html.DisplayFor(modelItem => item.url)" onmousedown="xml_sclk(this);" class="job btn btn-primary">Apply Now!</button></p>
                            </td>

                        </tr>
                    }

                </table>
                 
            

<script>

                        $(document).ready(function () {


                            function popitup(url) {
                                newwindow = window.open(url, 'Job', 'height=500,width=800');
                                if (window.focus) { newwindow.focus() }
                                return false;
                            }

                            $(".job").click(function () {

                                var url = this.id;
                                popitup(url);

                            });
                        });
</script>
<script type="text/javascript" src="http://api.simplyhired.com/c/jobs-api/js/xml-v2.js"></script>