﻿@model Bootstrap.Models.addTokens

@{
   
}

<link href="~/css/pricingplan.css" rel="stylesheet" />

   
   
    <div class="container">
    <div class="row">
        <div class="col-lg-6" style="margin-left:-15px;">
            <div class="text-center" id="selected_plan" style="color:#115f1f">
                <h3>$49.99 (Unlimited Plan) </h3>
                @if (ViewBag.plan == "1")
                {
                    <h3>- $6.99 (Starter Plan)</h3>
                }
                @if (ViewBag.plan == "2")
                {
                    <h3>-$24.99 (Plus Plan)</h3>
                }

                @{
                    var plan1 = 0.00;
                    if (ViewBag.plan == "1")
                    {
                        plan1 = 6.99;
                    }
                    if (ViewBag.plan == "2")
                    {
                        plan1 = 24.99;
                    }


                    var total = 49.99 - plan1;

                }

                <div class="alert alert-success" role="alert"><h3>$@total.00 (Your Total)</h3></div>
            </div>
        </div>
    </div>
    <br />
    <h4>Payment Information</h4>
    <div style="margin-left:-15px;">
        <form class="form-horizontal" role="form" name="buyform" method="post" action="/Members/Upgrade">
            @Html.AntiForgeryToken()

            <input type="hidden" name="email" id="email" value="@User.Identity.Name" />
            <input type="hidden" name="plan" id="plan" value="3"/>
            <input type="hidden" name="upgade" id="upgrade" value="1" />
            <input type="hidden" value="@total.00" name="total" id="total" />

            <div class="form-group">
                <label class="col-sm-2 control-label" for="cardHolderName">Name on Card</label>
                <div class="input-group col-sm-3">
                    @Html.TextBoxFor(model => model.cardHolderName, new { @class = "form-control", @Placeholder = "Card Holder Name", @required = "required" })
                    <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                </div>

                <div class="col-sm-4 col-lg-offset-2" style="color:red;">@Html.ValidationMessageFor(m => m.cardHolderName)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cardNumber">Card Number</label>
                <div class="input-group col-sm-3">
                    @Html.TextBoxFor(model => model.cardNumber, new { @class = "form-control", @Placeholder = "Card Number", @required = "required" })
                    <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                </div>
                <div class="col-sm-4 col-lg-offset-2" style="color:red;">@Html.ValidationMessageFor(m => m.cardNumber)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="expiryMonth">Expiration Date</label>
                <div class="input-group col-sm-6">

                    <div class="input-group col-lg-3 pull-left" style="margin-right:10px;">
                        <select class="form-control" name="expiryMonth" id="validate-select" required>
                            <option value="">Month</option>
                            <option value="01">Jan (01)</option>
                            <option value="02">Feb (02)</option>
                            <option value="03">Mar (03)</option>
                            <option value="04">Apr (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">Aug (08)</option>
                            <option value="09">Sep (09)</option>
                            <option value="10">Oct (10)</option>
                            <option value="11">Nov (11)</option>
                            <option value="12">Dec (12)</option>
                        </select>
                        <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>

                    <div class="input-group col-lg-3 pull-left">
                        <select class="form-control" name="expiryYear" id="validate-select" required>
                            <option value="">Year</option>
                            <option value="13">2013</option>
                            <option value="14">2014</option>
                            <option value="15">2015</option>
                            <option value="16">2016</option>
                            <option value="17">2017</option>
                            <option value="18">2018</option>
                            <option value="19">2019</option>
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                        </select>
                        <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>


                </div>
                <div class="col-sm-4 col-lg-offset-2" style="color:red;">@Html.ValidationMessageFor(m => m.expiryMonth) @Html.ValidationMessageFor(m => m.expiryYear)</div>
              
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cvv">Card CVV</label>
                <div class="input-group col-sm-3">
                    @Html.TextBoxFor(model => model.cvv, new { @class = "form-control", @Placeholder = "Security Code", @required = "required" })
                    <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                </div>
                <div class="col-sm-4 col-lg-offset-2" style="color:red;">@Html.ValidationMessageFor(m => m.cvv)</div>
            </div>



            <div class="form-group">

                <div class="col-sm-6">

                    <div id="addAddress" style="color:red; padding:10px; text-align:center;">

                        <b>@ViewBag.PurchaseError</b>

                    </div>
                    <div id="ccpros1"></div>
                    <button type="button" id="paynow1" class="btn btn-primary btn-lg" style="width:100%;">Complete Checkout</button>
                </div>
            </div>
        </form>

    </div>

</div>









<script>

    $(document).ready(function () {

         @functions{
             public string TokenHeaderValue()
             {
                 string cookieToken, formToken;
                 AntiForgery.GetTokens(null, out cookieToken, out formToken);
                 return cookieToken + ":" + formToken;                
             }
         }

        $("#alert").hide();


        $("#paynow1").click(function subaddr(event) {
            $("#ccpros1").text("Processing...");
            $.ajax(
              {
                  url: '/Members/Upgrade',
                  type: 'POST',
                  headers: {
                      'RequestVerificationToken': '@TokenHeaderValue()'
                  },
                  data: $('form[name="buyform"]').serialize(),
                     success: function poste(data, textStatus, jqXHR) {

                         
                        
                             
                             $('#upgradePartial').html(data);

                             $.ajax(
                               {
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify({ username: username }),
                                UpdateTargetId: "tokens",
                                dataType: 'html',
                                cache: false,
                                url: '/Members/GetTokens',
                                success: function (data) {

                                   var result = data;
                                   $('#tokens').html(result);

                                   
                               }
                           });
                        
                        
                        
                         return false;
                     },
                  error: function err(jqXHR, textStatus, errorThrown) { alert('error at address :' + errorThrown); }
              });

        });

        $('.input-group input[required], .input-group textarea[required], .input-group select[required]').on('keyup change', function () {
            var $form = $(this).closest('form'),
                $group = $(this).closest('.input-group'),
                $addon = $group.find('.input-group-addon'),
                $icon = $addon.find('span'),
                state = false;

            if (!$group.data('validate')) {
                state = $(this).val() ? true : false;
            } else if ($group.data('validate') == "email") {
                state = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test($(this).val())
            } else if ($group.data('validate') == 'phone') {
                state = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/.test($(this).val())
            } else if ($group.data('validate') == "length") {
                state = $(this).val().length >= $group.data('length') ? true : false;
            } else if ($group.data('validate') == "number") {
                state = !isNaN(parseFloat($(this).val())) && isFinite($(this).val());
            }

            if (state) {
                $addon.removeClass('default');
                $addon.addClass('success');
                $icon.attr('class', 'glyphicon glyphicon-ok');
            } else {
                $addon.removeClass('success');
                $addon.addClass('default');
                $icon.attr('class', 'glyphicon glyphicon-remove');
            }

            if ($form.find('.input-group-addon.danger').length == 0) {
                $form.find('[id="paynow1"]').prop('disabled', false);
            } else {
                $form.find('[id="paynow1"]').prop('disabled', true);
            }
        });

        $('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');

    });

</script>

