﻿@model IEnumerable<Bootstrap.Models.ApplicationDbContext.UserResume>

<table class="table table-striped">
    <thead>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Modified</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {




        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.DateModified</td>
            <td>@item.DateLoaded</td>
            <td><a class='btn btn-info btn-xs' href="/Members/Index?Id=@item.Id"><span class="glyphicon glyphicon-open"></span> Load</a> <a href="/Members/DeleteResumeConfirm?Id=@item.Id" class="btn btn-danger btn-xs" style="color:white;"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
       


    }

</table>