﻿@model Bootstrap.Models.PurchaseSummary

<style>
    .items {
        margin-bottom: 3px;
        margin-top: 3px;
    }

</style>
<script>

    var plans = ["NA", "Starter", "Plus", "Unlimited"];

    ga('require', 'ecommerce');
    ga('ecommerce:addTransaction', {
        'id': '@Model.orderNumber',  // Transaction ID. Required.
        'affiliation': 'Jobminx',   // Affiliation or store name.
        'revenue': '@Model.total',  // Grand Total.
        'shipping': '0', // Shipping.
        'tax': '0.00' // Tax.
    });



    ga('ecommerce:addItem', {
        'id': '@Model.plan', // Transaction ID. Required.
        'name': plans['@Model.plan'], // Product name. Required.
        'sku': 'DD23444',  // SKU/code.
        'category': 'Token Plans', // Category or variation.
        'price': '@Model.total', // Unit price.
        'quantity': '@Model.tokens' // Quantity.
    });

    ga('ecommerce:send');

</script>
<div class="container" style="margin-right:15px;">
    <div class="row">

        <div class="col-sm-6">
            <h2 class="text-center animated fadeInDown">Thank You For Your Puchase!</h2>
            <div class="text-center actions animated fadeInDown delay2">

                    <div class="col-sm-12">
                        <div class=" panel panel-default">
                            <div class="panel-heading">Today's Purchase Details</div>
                            <div class="panel-body">
                                <div style="margin:10px;">
                                    <p class="items"><b>Order Confermation Nummber:</b> @Model.orderNumber</p>
                                    <p class="items"><b>Transaction Summaary</b></p>
                                    
                                    <p class="items"><b>Date:</b> @DateTime.Now</p>
                                    
                                    <p class="items"><b>User Name:</b> @Model.username</p>
                                    <p class="items"><b>Email Address:</b> @Model.username</p>

                                 
                                   
                                        <div class="text-center">
                                            <p class="items">You are on the <b>@Model.plan</b> Plan</p>
                                            <p class="items"><b>@Model.tokenSummary</b></p>
                                            <p class="items">You Currently Have <span style="color:green;"><b>@Model.tokens</b></span> Tokens In Your Account.</p>
                                            <center>
                                                <button type="button" class="btn btn-primary btn-lg" id="closesum">Start A New Report</button>
                                            </center>
                                        </div>


                                   
                                </div>

                            </div>
                        </div>
                    </div>
                   





                </div>

            </div>

        </div>

    </div>
<script>
    $("#closesum").click(function () {

        //$("#refresh").prop('disabled', false);
        $("#refresh").removeClass("disabled");
        $("#upgradezone").html("");
        $("#RunReport").removeClass("disabled");
        $("#myupgrade").modal("hide");

    });
    

</script>