﻿@model Bootstrap.Models.Analyze

@{
    Layout = null;
}

<style>
    .subtext {
        font-size: 13px;
    }

    #Matched {
        background-color: #97e26f;
        border-radius: 15px;
        height: 55px;
        color: green;
        font-size: 20px;
    }


    .keys {
        text-align: left;
        margin-top: 10px;
        font-size: 12px;
        width: 100%;
    }

    #point {
        height: 25px;
    }

    #check {
        height: 25px;
    }

    #NotMatched {
        background-color: #f8a3a3;
        border-radius: 15px;
        height: 55px;
        color: red;
        font-size: 20px;
    }
    #ResumeComps
    {
        background-color: #808080;
        border-radius: 15px;
        height: 55px;
        color: white;
        font-size: 20px;
    }

    #callout {
        background-color: #eae3e3;
        border-radius: 15px;
        height: 60px;
        width: 60px;
        top: -45px;
        right: 0%;
        z-index: 2;
        position: absolute;
    }

    #resume_edit label {
        background-color: #00ff21;
        padding: 2px;
        font-style: italic;
    }

    #dialog label {
        background-color: #00ff21;
        padding: 2px;
        font-style: italic;
    }

    .greenword {
        color: green;
    }

    .redword {
        color: red;
    }
</style>


<div style="margin-top:10px; background-color:#efefe3;" class="col-sm-12" >

    <input id="jobtitle99" type="hidden" value="@Model.JobTitle" />
    <input id="jobbody99" type="hidden" value="@Model.JobRaw" />

    <!--<h2 class="text-center "><span style="color:green"><b>Jobminx</b></span> has analyzed your information, here is your Keyword Density report!</h2><br />-->
    <div class="text-center actions animated fadeInDown delay2">
        <div id="lreport" class="col-sm-6">
            <div id="overview" class="panel panel-default">
                <div class="panel-heading" style="background-color:green; color:white">Report Overview</div>
                <div class="panel-body">
                    <h3>This is a summary of what your resume is telling the ATS and Hiring Manager</h3>
                    <div id="Summary">@Model.QualificationSummary </div>
                    <h3>Key Word Density:</h3>
                    <div id="Keyword">
                        <p><b>Number Key Words In the Job Description:</b> @Model.KeyWordCountJob</p>
                        <p><b>Number Of Keywords Matched:</b> @Model.KeyWordMacthCount</p>
                    </div>
                    <h3>Experience:</h3>
                    <div id="Experience">

                        <p><b>Years of Experience on your Resume:</b> @Model.ResumeYOE</p>
                        <p><b>Years of Experience requested on Job Description:</b> @Model.JobYOE</p>
                    </div>
                    <h3>Education:</h3>
                    <div id="Education">
                        <p>
                            <b>Highest Degree on your Resume:</b>@{var p = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(Model.ResumeEducation.ToLower());}
                            @p
                        </p>
                        <p>
                            <b>Degree Requested on Job Description:</b>@{var r = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(Model.JobEducation.ToLower());}
                            @r
                        </p>

                    </div>
                    <hr />
                    <div>
                        <h3 style="color:red;">Not what you expected?</h3>
                        <p><span style="color:green"><b>Jobminx</b></span> uses the same ATS (Applicant Tracking System) technology of top companies and recruiting agencies. If these results do not match what you feel your job qualifications are, you may be mis-representing yourself when applying for a job. <a href="#explain" data-toggle="modal">Click Here</a> to learn more.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="rreport" class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:green; color:white;">Keyword Density Report</div>
                <div class="panel-body">
                    <div>
                        <div style="position:relative;">
                            <div style="text-align:left; width:85%;"><p>Jobminx has identified <span style="color:red"><b>@Model.KeyWordCountJob Keywords</b></span> to target this job description. Your resume currently has <span style="color:green"><b>@Model.KeyWordMacthCount matching keywords</b></span> </p></div>
                            <div id="callout">
                                <b style="color:red; font-size:25px;"> @Model.KeyWordCountJob</b>
                                <p style="margin-top:-3px;"><span style="color:green"><b>@Model.KeyWordMacthCount</b></span> / <span style="color:red;"><b>@Model.NotMatchCount</b></span></p>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div id="Matched" title="Number of Keywords Matched from Job Description"><div style="padding-top:10px;"><div style="width:33%"><img style="float:left; margin-left:11px;" id="check" src="~/Content/check.gif" /></div><span style="float:left; font-size:32px; margin-top:-5px; width:20%;">@Model.KeyWordMacthCount</span><p class="subtext" style="float:left; width:40%;">Matching Keywords</p></div></div>

                            <ul class="keys">
                                @foreach (string word0 in Model.Match)
                                {
                                    <li>
                                        @{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word0.ToLower());}
                                        @s
                                    </li>
                                }
                                @*@foreach (string word1 in Model.MatchOther)
                                {
                                    <li>
                                        @{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word1.ToLower());}
                                        @s
                                    </li>
                                }*@
                            </ul>



                        </div>
                        <div>

                            <div class="col-sm-6">
                                <div id="NotMatched" title="Number of Keywords Not Matched from the Job Description"><div style="padding-top:10px; margin-left:5px;"><div style="width:40%; padding-left:2%;"><img style="float:left; margin-left:11px;" id="point" src="~/Content/point.gif" /></div><span style="float:left; font-size:32px; margin-top:-5px; padding-left:3%; width:20%;"> @Model.NotMatchCount</span><p class="subtext" style="float:left; padding-left:9%; width:40%;">Missing Keywords</p></div></div>

                                <ul class="keys">
                                    @foreach (string word2 in Model.NotMatching)
                                    {
                                        <li>
                                            @{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word2.ToLower());}
                                            @s
                                        </li>
                                    }
                                  
                                </ul>
                            </div>

                        </div>
                        <div>

                            @*<div class="col-sm-12">
                                <div id="ResumeComps" title="Resume Competencies"><div style="padding-top:10px; margin-left:5px;"><div style="width:40%; padding-left:2%;"></div><span style="float:left; font-size:32px; margin-top:-5px; padding-left:3%; width:20%;"> @Model.ResumeCompetencies.Count()</span><p class="subtext" style="float:left; padding-left:9%; width:40%;">Resume Keywords Not Targeting Job</p></div></div>
                            </div>*@    
                                
                            @*<div class="col-sm-12">
                            <div style="height:125px; width:100%; overflow-y:scroll;" >
                                    <ul class="keys">
                                        @foreach (string word3 in Model.ResumeCompetencies)
                                        {
                                            <li>
                                            @{var s = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(word3.ToLower());}
                                            @s
                                           </li>

                                        }

                                    </ul>
                                </div>
                            </div>*@
                        </div>
                      
                        <div class="pull-right">
                            @using (Html.BeginForm("CreatePDFReport", "Members", FormMethod.Post, new { @target = "_blank" }))
                            {

                                System.Web.Script.Serialization.JavaScriptSerializer js2 = new System.Web.Script.Serialization.JavaScriptSerializer();
                                var kw1 = "";
                                var nkw1 = "";
                                foreach (string item in Model.Match)
                                {

                                    kw1 += item + ",";
                                }

                                //foreach (string item in Model.MatchOther)
                                //{

                                //    kw1 += item + ",";
                                //}

                                foreach (string item in Model.NotMatching)
                                {

                                    nkw1 += item + ",";
                                }

                                //foreach (string item in Model.NotMatchingOther)
                                //{

                                //    nkw1 += item + ",";
                                //}
                                <input type="hidden" name="QualificationSummary" value="@Model.QualificationSummary" />
                                <input type="hidden" name="ResumeRaw" value="@Model.ResumeRaw" />
                                <input type="hidden" name="JobRaw" value="@Model.JobRaw" />
                                <input type="hidden" name="KeyWordCountJob" value="@Model.KeyWordCountJob" />
                                <input type="hidden" name="KeyWordMacthCount" value="@Model.KeyWordMacthCount" />
                                <input type="hidden" name="Mkeywords1" value="@kw1" />
                                <input type="hidden" name="Nkeywords1" value="@nkw1" />
                                <input type="hidden" name="JobYOE" value="@Model.JobYOE" />
                                <input type="hidden" name="ResumeYOE" value="@Model.ResumeYOE" />
                                <input type="hidden" name="JobEducation" value="@Model.JobEducation" />
                                <input type="hidden" name="ResumeEducation" value="@Model.ResumeEducation" />

                                <button id="dreport" type="submit" class="btn btn-primary">Save Report <span class="glyphicon glyphicon-floppy-disk"></span></button>
                                <script type="text/javascript">
                                    mixpanel.track_links("#dreport button", "Saved Keyword Report");
                                </script>
                                
                            }
                        </div>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <button id="showjobsource" class="btn btn-primary pull-left" style="margin-right:5px;">Job Source</button>
                        <button id="showresumesource" class="btn btn-primary pull-left">Resume Source</button>
                    }

                </div>
            </div>



            <!-- <button class="btn">Print Report <span class="glyphicon glyphicon-print"></span></button>-->


        </div>
    </div>
</div>



@if (User.IsInRole("Admin"))
{


    <div style="z-index:100;">
        
           
        
        <div id="resumesource" class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Resume XML Source</h3>
                </div>
                <div class="panel-body" style="height:400px;">
                    <textarea style="height:400px; width:100%">
                        @Model.ResumeXML
                    </textarea>
                </div>
            </div>
        </div>

        <div id="jobsource" class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Job XML Source</h3>
                </div>
                <div class="panel-body" style="height:400px;">
                    <textarea style="height:400px; width:100%">
                        @Model.JobXML
                    </textarea>
                </div>
            </div>

        </div>
    </div>

}



@{

                System.Web.Script.Serialization.JavaScriptSerializer js = new System.Web.Script.Serialization.JavaScriptSerializer();
                string match = js.Serialize(Model.Match.ToArray());
                //string matchOther = js.Serialize(Model.MatchOther.ToArray());
                string notMatch = js.Serialize(Model.NotMatching.ToArray());
                //string notMatchOther = js.Serialize(Model.NotMatchingOther.ToArray());
}

<input type="hidden" value="@Model.ResumeRaw" id="cleanResume" />


    <script>



    function popitup(url) {
        newwindow = window.open(url, 'Job', 'height=500,width=800,scrollbars=1');
        if (window.focus) { newwindow.focus() }
        return false;
    }

    function activaTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };

    function checkformatches(wordarray, htmlselector)
    {
        for (index = 0; index < wordarray.length; index++) {

            $(htmlselector).html(function (i, html) {
                var regexp, replacement;

                ismatched = wordarray[index];
                ismatched = ismatched.trim();
                console.log("current match: " + ismatched);

                regexp =  new RegExp("("+ismatched+")","i");

                var final = regexp.test(html);
                var matchit = html.match(regexp);
                console.log("match: " + matchit);

                replacement = '<label contenteditable="false">$1</label>';

                return html.replace(regexp, replacement);
            });

        }
    }

    function checkformatchesandresearch(wordarray, htmlselector, ignorearray, rematcharray)
    {
        for (index = 0; index < wordarray.length; index++) {




            $(htmlselector).html(function (i, html) {
                var regexp, replacement;

                ismatched = wordarray[index];
                ismatched = ismatched.trim();
                console.log("current match: " + ismatched);

                regexp = new RegExp("("+ismatched+")","i");


                var final = regexp.test(html);
                var matchit = html.match(regexp);
                console.log("match-highlite: "+matchit);

                if(matchit != null)
                {


                    ignorearray.push(ismatched);



                }
                else
                {
                    rematcharray.push(ismatched);


                }
                replacement = '<label contenteditable="false">$1</label>';

                return html.replace(regexp, replacement);
            });
        }
    }

    $(document).ready(function()
    {
        //jobKeywordCount
        //JobMatchCount
        //JobNotMatchCount

        var resultsHtml = "";
        var resultsHtml2 = "";

        $("#resumesource").hide();
        $("#jobsource").hide();

        $("#showjobsource").click(function(){

            $("#jobsource").toggle('slow');

        });

        $("#showresumesource").click(function(){

            $("#resumesource").toggle('slow');
        });



        $.ajax(
          {
              type: 'POST',
              data: { html: $('#resume').html() },
              cache: false,
              url: '@Url.Content("~/Members/Clean")',
              success: function (data) {

                  $('#resume_edit').html(data.clean);
                  var match = @Html.Raw(Json.Encode(Model.Match));
                  var notMatch = @Html.Raw(Json.Encode(Model.NotMatching));



                  var nots = "";
                  var yots = "";
                  var ignore = [];
                  var rematch = [];

                  var ismatched = ""

                  var allmatch = match.length;
                  var allnot = notMatch.length;
                  var all = allmatch + allnot;
                  $("#jobKeywordCount").text(all);
                  $("#JobMatchCount").text(allmatch);
                  $("#JobNotMatchCount").text(allnot);


                  var job99 = $("#jobtitle99").val();
                  var job100 = $("#jobbody99").val();


                  $("#jobtitletext").html("<p style='font-size:10px;'>Edit your resume in the box below to target and optimize for the: <span style='color:green; cursor:pointer;' title='Click to open'  id='popjobdec'>" + job99 + "</span> job description</p>")

                  $("#popjobdec").tooltip();
                  $("#popjobdec").on("click", function () {
                      $("#dialog").html(job100);

                      //highlight job
                      checkformatches(match, "#dialog");
                      checkformatches(notMatch, "#dialog");

                      $("#dialog").dialog({

                          maxWidth: 400,
                          maxHeight: 400,
                          width: 400,
                          height: 400,
                      });
                  });






                  //highlight resume

                  checkformatchesandresearch(match,"#resume_edit", ignore, rematch);
                  checkformatchesandresearch(notMatch,"#resume_edit", ignore, rematch);


                  rematch = $.unique(rematch);
                  ignore = $.unique(ignore);

                  ignore.sort();
                  rematch.sort();


                  for (index = 0; index < rematch.length; index++)
                  {
                      nots += "<li class='redword'  id='"+rematch[index]+"'>" + rematch[index] + "</li>";
                  }

                  for (index = 0; index < ignore.length; index++)
                  {
                      yots += "<li class='greenword' id='"+ignore[index]+"'>" + ignore[index] + "</li>";
                  }



                  $("#keep").html(yots);
                  $("#add").html(nots);



                  $("#Matched").tooltip();
                  $("#NotMatched").tooltip();

                  $("#resume_edit label").on("mouseenter", function(){

                      $(this).attr('title', 'Matched Keyword');
                      $(this).tooltip();

                  });

                  $("#resume_edit label").on("mouseleave", function(){

                      $(this).removeAttr('title');


                  });

                  $("#resume_edit").on("keyup",function () {


                      var savedSel = rangy.saveSelection();
                      refresh();
                      rangy.restoreSelection(savedSel);




                  });


                  $("#refresh").click(function (){

                      refresh();
                  });



                  function refresh()
                  {

                      //rematch
                      //ignore
                      for (index = 0; index < ignore.length; index++)
                      {
                          $('#resume_edit').html(function (i, html) {
                              var regexp, replacement;
                              ismatched = ignore[index];
                              regexp =  RegExp("(\\b"+ismatched+"\\b)","gi");

                              var final = regexp.test(html);
                              if(final == true)
                              {
                                  //
                              }
                              else
                              {
                                  $('#keep li.greenword').filter(function() { return $.text([this]) === ismatched; }).remove();
                                  $( "#add" ).append('<li class="redword" id="'+ismatched+'">' + ismatched + '</li>');
                              }
                          });
                      }

                      // reup the vars
                      ignore = [];
                      rematch = [];
                      $( "#keep li" ).each(function( index ) {
                          ignore.push($( this ).text());

                      });

                      $( "#add li" ).each(function( index ) {
                          rematch.push($( this ).text());

                      });



                      for (index = 0; index < rematch.length; index++)
                      {
                          $('#resume_edit').html(function (i, html) {
                              var regexp, replacement;
                              ismatched = rematch[index];
                              regexp =  RegExp("(\\b"+ismatched+"\\b)","gi");

                              var final = regexp.test(html);
                              if(final == true)
                              {
                                  $('#add li.redword').filter(function() { return $.text([this]) === ismatched; }).remove();
                                  $( "#keep" ).append('<li class="greenword" id="'+ismatched+'">' + ismatched + '</li>');

                                  replacement = '<label contenteditable="false">$1</label>';
                                  return html.replace(regexp, replacement);
                              }
                              else
                              {

                              }
                          });
                      }

                      // reup the vars
                      ignore = [];
                      rematch = [];
                      $( "#keep li" ).each(function( index ) {
                          ignore.push($( this ).text());

                      });

                      $( "#add li" ).each(function( index ) {
                          rematch.push($( this ).text());

                      });


                      var allmatch2 = ignore.length;
                      var allnot2 = rematch.length;
                      var all2 = allmatch2 + allnot2;
                      $("#jobKeywordCount").text(all2);
                      $("#JobMatchCount").text(allmatch2);
                      $("#JobNotMatchCount").text(allnot2);
                  }

                  $("#resume_edit label").on("mouseenter", function(){

                      $(this).attr('title', 'Matched Keyword');
                      $(this).tooltip();

                  });

                  $("#resume_edit label").on("mouseleave", function(){

                      $(this).removeAttr('title');


                  });

              }

          });


        //$('#resume_edit').html($('#resume').html());
        var loc = "";
        if($("#searchjobsterms").val() != 0)
        {
            loc = $("#searchjobsterms").val();
        }
        else
        {
            loc = $("#zipcodeforindeed").val();
        }


        if(loc == "NA")
        {
            $('#jobrecs').html("<p>This data is not currently available, try again later.</p>");
            $('#jobrecs2').html("<p>This data is not currently available, try again later.</p>");
            //alert('@Model.ResumeEx[0]["Title"]');
        }
        else
        {




            $.ajax(
                  {
                      type: 'POST',
                      contentType: 'application/json; charset=utf-8',
                      data: JSON.stringify({ search: '@Model.ResumeEx[0]["Title"]', loc: loc }),
                      cache: false,
                      dataType: 'json',
                      url: '/Members/SearchIndeed',
                      success: function (data) {
                          $("#rjobtitle").text('@Model.ResumeEx[0]["Title"]');
                          var data = JSON.parse(data.response_string);
                          if(data.results == "")
                          {
                              resultsHtml = "<tr><td>We cannot find any jobs based on "+'@Model.ResumeEx[0]["Title"]'+" in "+loc+" at this time.</td></tr>"
                          }
                          else
                          {


                              $.each(data.results, function (index, value) {

                                  resultsHtml +=  '<tr><td>'+
                                  '<h3>' + this.jobtitle + '</h3>' +
                                  '<h4>'+ this.company +'</h4>' +
                                   '<b>' + this.formattedLocation + '</b>' +
                                   '<p>' + this.snippet + '</p>' +
                                   '<button id="res-'+this.url+'" type="button" class="btn btn-primary popupres">View Job Description</button>  <button id="load1-'+this.jobkey+'" type="button" class="btn btn-primary load1">Load Job Description</button>' +
                                   '<input type="hidden" class="load1-'+this.jobkey+'" value="'+this.url+'">' +
                                    '</td></tr>';
                              });
                          }

                          $('#jobrecs').html(resultsHtml);

                          $(".load1").on("click",function () {


                              $.ajax(
                                {
                                    type: 'POST',
                                    contentType: 'application/json; charset=utf-8',
                                    data: JSON.stringify({ url: $("."+this.id).val() }),
                                    cache: false,
                                    url: '/Members/GetJobFromIndeed',
                                    success: function (data) {

                                        var result = data;

                                        $("#job").html(data.jobtitle + "<br/>" + data.jobdesc);
                                        activaTab("ToolTab");

                                    }
                                });

                          });

                          $(".popupres").on("click",function () {

                              var url = this.id;

                              var surl = url.split('-');

                              popitup(surl[1]);

                          });


                          $.ajax(
                          {
                              type: 'POST',
                              contentType: 'application/json; charset=utf-8',
                              data: JSON.stringify({ search: '@Model.JobTitle', loc: loc }),
                              cache: false,
                              dataType: 'json',
                              url: '/Members/SearchIndeed',
                              success: function (data) {

                                  $("#jjobtitle").text('@Model.JobTitle');

                                  var data = JSON.parse(data.response_string);
                                  if(data.results == "")
                                  {
                                      resultsHtml2 = "<tr><td>We cannot find any jobs based on "+'@Model.JobTitle'+" in "+loc+" at this time.</td></tr>"
                                  }
                                  else
                                  {
                                      $.each(data.results, function (index, value) {

                                          resultsHtml2 +=  '<tr><td>'+
                                          '<h3>' + this.jobtitle + '</h3>' +
                                          '<h4>'+ this.company +'</h4>' +
                                          '<b>' + this.formattedLocation + '</b>' +
                                          '<p>' + this.snippet + '</p>' +
                                          '<button id="job-'+this.url+'" type="button" class="btn btn-primary popupjob">View Job Description</button> <button id="load2-'+this.jobkey+'" type="button" class="btn btn-primary load2">Load Job Description</button>' +
                                          '<input type="hidden" class="load2-'+this.jobkey+'" value="'+this.url+'">' +
                                          '</td></tr>';

                                      });
                                  }

                                  $('#jobrecs2').html(resultsHtml2);
                                  $("#JobLoader").show();
                                  $(".popupjob").on("click",function () {

                                      var url = this.id;

                                      var surl = url.split('-');

                                      popitup(surl[1]);

                                  });

                                  $(".load2").on("click", function () {


                                      $.ajax(
                                        {
                                            type: 'POST',
                                            contentType: 'application/json; charset=utf-8',
                                            data: JSON.stringify({ url: $("."+this.id).val() }),
                                            cache: false,
                                            url: '/Members/GetJobFromIndeed',
                                            success: function (data) {

                                                var result = data;

                                                $("#job").html(data.jobtitle + "<br/>" + data.jobdesc);
                                                activaTab("ToolTab");

                                            }
                                        });

                                  });
                              }

                          });
                      }
                      //end success
                  });

        }






        $("#sresume").click(function(){

            //alert("save!");

            var report = $("#resume_edit").html();
            $("#createResume").val(report);
            $("#createresume").submit();


        });



    });









</script>


