﻿@model Bootstrap.Models.addTokens

@{
   
}

<link href="~/css/pricingplan.css" rel="stylesheet" />

    <form class="form-horizontal" role="form" name="formbuy" method="post" action="/Members/BuyTokens">
    @Html.AntiForgeryToken()
    <div class="container-fluid">
            <div class="row">

                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                <span class="oswald text-center">Starter</span>
                            </h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$6.99 for 5 Keyword Reports</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Target and optimize your resume for <b>5</b> unique job descriptions.</li>
                           
                        </ul>
                        <div class="panel-footer">
                            <label id="pplan1" class="btn btn-lg btn-block btn-default">
                                <input type="radio" class="plans" name="plan" value="1">
                                BUY
                                NOW!

                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                <span class="oswald text-center">Plus</span>
                                <img class="mp pull-right" style="width:91px;" src="~/Content/mp.png" />
                            </h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$24.99 for 25 Keyword Reports</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Target and optimize your resume for <b>25</b> unique job descriptions.</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> <p style="color:red;">Only $1 </p>each report</li>
                        </ul>
                        <div class="panel-footer">
                            <label id="pplan2" class="btn btn-lg btn-block btn-success">
                                <input type="radio" class="plans" name="plan" value="2" checked>
                                BUY
                                NOW!

                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                <span class="oswald text-center">Unlimited</span>
                                <img class="mp pull-right" style="width:91px;" src="~/Content/bv.png" />
                            </h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$49.99 for 30 Days</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Target and optimize your resume for <b>Unlimited</b> unique job descriptions for 30 days.</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited use of our Keyword Resume Editor</li>
                        </ul>
                        <div class="panel-footer">
                            <label id="pplan3" class="btn btn-lg btn-block btn-default">
                                <input type="radio" class="plans" name="plan" value="3">
                                BUY
                                NOW!

                            </label>
                        </div>
                    </div>
                </div>
                </div>

            </div>

      
        <div class="row">
            <div id="selected_plan" style="color:#115f1f"><h3>Selected Plan: Plus- $24.99</h3></div>

            <h4>Payment Information</h4>



            <input type="hidden" name="email" id="email" value="@User.Identity.Name" />

            <input type="hidden" value="24.99" name="total" id="total" />

            <div class="form-group">
                <label class="col-sm-4 control-label" for="cardHolderName">Name on Card</label>
                <div class="input-group col-sm-6">
                    @Html.TextBoxFor(model => model.cardHolderName, new { @class = "form-control", @Placeholder = "Card Holder Name", @required = "required" })
                    <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                    
                </div>
                
                <div class="col-sm-8 col-lg-offset-4" style="color:red;">@Html.ValidationMessageFor(m => m.cardHolderName)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="cardNumber">Card Number</label>
                <div class="input-group col-sm-6">
                    @Html.TextBoxFor(model => model.cardNumber, new { @class = "form-control", @Placeholder = "Card Number", @required = "required" })
                    <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                    
                </div>
                <div class="col-sm-8 col-lg-offset-4" style="color:red;">@Html.ValidationMessageFor(m => m.cardNumber)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="expiryMonth">Expiration Date</label>
                <div class="input-group col-sm-6">

                    <div class="input-group col-lg-4 pull-left" style="margin-right:5px;">
                        <select class="form-control" name="expiryMonth" id="validate-select" required>
                            <option value="">Month</option>
                            <option value="01">Jan (01)</option>
                            <option value="02">Feb (02)</option>
                            <option value="03">Mar (03)</option>
                            <option value="04">Apr (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">Aug (08)</option>
                            <option value="09">Sep (09)</option>
                            <option value="10">Oct (10)</option>
                            <option value="11">Nov (11)</option>
                            <option value="12">Dec (12)</option>
                        </select>
                        <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>

                    <div class="input-group col-lg-4 pull-left" style="margin-right:5px;">
                        <select class=" form-control" name="expiryYear" id="validate-select" required>
                        <option value="">Year</option>
                        <option value="13">2013</option>
                        <option value="14">2014</option>
                        <option value="15">2015</option>
                        <option value="16">2016</option>
                        <option value="17">2017</option>
                        <option value="18">2018</option>
                        <option value="19">2019</option>
                        <option value="20">2020</option>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                        <option value="23">2023</option>
                        </select>
                        <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>


                </div>
                <div class="col-sm-8 col-lg-offset-4" style="color:red;">@Html.ValidationMessageFor(m => m.expiryMonth)</div>
                <div class="col-sm-8 col-lg-offset-4" style="color:red;">@Html.ValidationMessageFor(m => m.expiryYear)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="cvv">Card CVV</label>
                <div class="input-group col-sm-6">
                    @Html.TextBoxFor(model => model.cvv, new { @class = "form-control", @Placeholder = "Security Code", @required = "required" })
                    <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                    
                </div>
                <div class="col-sm-8 col-lg-offset-4" style="color:red;">@Html.ValidationMessageFor(m => m.cvv)</div>
            </div>

           

            <div class="form-group">

                <div class="col-sm-12">

                    <div id="addAddress" style="color:red; padding:10px; text-align:center;">

                        <b>@ViewBag.PurchaseError</b>

                    </div>
                    <div id="ccpros"></div>
                    <button type="button" id="paynow" class="btn btn-primary btn-lg" style="width:100%;">Complete Checkout</button>
                </div>
            </div>


        </div>
   



</form>

<script>

    $(document).ready(function () {

         @functions{
             public string TokenHeaderValue()
             {
                 string cookieToken, formToken;
                 AntiForgery.GetTokens(null, out cookieToken, out formToken);
                 return cookieToken + ":" + formToken;                
             }
         }

        $("#alert").hide();
        
        $('.plans').change(function () {

            $(".plans").parent('label').removeClass("btn-success");
            $(".plans").parent('label').addClass("btn-default");
            $(".plans").find("span.planicon").removeClass("glyphicon glyphicon-ok");

            var checkbox = $(this);

            var label = checkbox.parent('label');
            if (checkbox.is(':checked')) {
                label.removeClass('btn-default');
                label.addClass('btn-success');

            }
            else {
                label.removeClass('btn-success');
                label.addClass('btn-default');

            }
        });

        $("input:radio[name=plan]").click(function () {

            var value = $(this).val();
            var total = "0";
            if (value == "1") {
                value = "<h3>Selected Plan: Starter - $6.99</h3>";
                total = "6.99";
                $("#total").val(total);
            }

            if (value == "2") {
                value = "<h3>Selected Plan: Plus- $24.99</h3>";
                total = "24.99";
                $("#total").val(total);
            }

            if (value == "3") {
                value = "<h3>Selected Plan: Unlimited- $49.99</h3>";
                total = "49.99";
                $("#total").val(total);
            }

            $("#selected_plan").html(value);

        });

        $("#paynow").click(function subaddr(event) {
            $("#ccpros").text("Processing...");


            $.ajax(
              {
                  url: '/Members/BuyTokens',
                  type: 'POST',
                  headers: {
                      'RequestVerificationToken': '@TokenHeaderValue()'
                  },
                     data: $('form[action="/Members/BuyTokens"]').serialize(),
                     success: function poste(data, textStatus, jqXHR) {

                         $('#buyPartial').html(data);
                         $("#RunReport").show();
                         $.ajax(
                            {
                                type: 'POST',
                                contentType: 'application/json; charset=utf-8',
                                data: JSON.stringify({ username: username }),
                                UpdateTargetId: "tokens",
                                dataType: 'html',
                                cache: false,
                                url: '/Members/GetTokens',
                                success: function (data) {

                                     var result = data;
                                    $('#tokens').html(result);
                            }
                    });
                         return false;
                     },
                  error: function err(jqXHR, textStatus, errorThrown) { alert('error at address :' + errorThrown); }
              });

        });

            
        $('.input-group input[required], .input-group textarea[required], .input-group select[required]').on('keyup change', function () {
            var $form = $(this).closest('form'),
                $group = $(this).closest('.input-group'),
                $addon = $group.find('.input-group-addon'),
                $icon = $addon.find('span'),
                state = false;

            if (!$group.data('validate')) {
                state = $(this).val() ? true : false;
            } else if ($group.data('validate') == "email") {
                state = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test($(this).val())
            } else if ($group.data('validate') == 'phone') {
                state = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/.test($(this).val())
            } else if ($group.data('validate') == "length") {
                state = $(this).val().length >= $group.data('length') ? true : false;
            } else if ($group.data('validate') == "number") {
                state = !isNaN(parseFloat($(this).val())) && isFinite($(this).val());
            }

            if (state) {
                $addon.removeClass('default');
                $addon.addClass('success');
                $icon.attr('class', 'glyphicon glyphicon-ok');
            } else {
                $addon.removeClass('success');
                $addon.addClass('default');
                $icon.attr('class', 'glyphicon glyphicon-remove');
            }

            if ($form.find('.input-group-addon.danger').length == 0) {
                $form.find('[id="paynow"]').prop('disabled', false);
            } else {
                $form.find('[id="paynow"]').prop('disabled', true);
            }
        });

        $('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');

    });

</script>

