﻿

<form>
    <input id="docfile" type="file" name="docfile" />
   <div><button id="upload" class="btn">Upload</button> </div>
</form>
  
 

 <script type="text/javascript">
$(document).ready(function () {

    $('#upload').on('click', function () {

        var data = new FormData();

        var files = $("#docfile").get(0).files;

        // Add the uploaded image content to the form data collection
        if (files.length > 0) {
            data.append("UploadedFile", files[0]);
        }

        // Make Ajax request with the contentType = false, and procesDate = false
        var ajaxRequest = $.ajax({
            type: "POST",
            url: "/Members/UploadDocument",
            contentType: false,
            processData: false,
            data: data
        });

        ajaxRequest.done(function (xhr, textStatus) {
            alert("Upload Completed!")
        });
    });
});
    </script> 


      
 
       
 

