﻿
<style>
    .items {
        margin-bottom: 3px;
        margin-top: 3px;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <h2 class="text-center animated fadeInDown">Something went wrong With your transaction.</h2>
            <div class="text-center actions animated fadeInDown delay2">

                    <div class="col-sm-12">
                        <div class=" panel panel-default">
                            <div class="panel-heading">Action</div>
                            <div class="panel-body">
                                <div style="margin:10px;">
  
                                        <div class="text-center">
    
                                            <a href="/Members" style="margin:5px;" class="btn btn-primary pull-left">Back to Members Area</a>
             
                                        </div>


                                </div>

                            </div>
                        </div>
                    </div>
                   





                </div>

            </div>

        </div>

    </div>
