﻿@model Bootstrap.Models.addTokens

@{
    ViewBag.Title = "Buy Tokens | Jobminx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/pricingplan.css" rel="stylesheet" />
@using (Html.BeginForm("BuyTokens", "Members", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h1 class="oswald text-center">Select your plan and let <span style="color:green"><b>Jobminx</b></span> optimize your resume TODAY!</h1>
        <br />
        <div class="col-lg-12">
            <div class="row flat">
                <div class="col-sm-2 col-sm-offset-3">
                    <ul class="plan plan1">
                        <li class="plan-name">
                            Starter
                        </li>
                        <li class="plan-price">
                            <input type="radio" name="plan" class="plan" value="1">
                            <label class="desc">
                                Target and optmize your resume for <b>5</b> unique job descriptions.
                            </label>
                        </li>

                        <li class="plan-action">
                            <b style="font-size:14px; line-height:.5em">JUST $6.99</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="plan plan1 featured">
                        <li class="plan-name">
                            Plus
                            <img class="mp pull-right" style="width:70px;" src="~/Content/mp.gif" />
                        </li>
                        <li class="plan-price">
                            <input type="radio" name="plan" class="plan" value="2" checked>
                            <label class="desc">
                                Target and optmize your resume for <b>25</b> unique job descriptions.
                            </label>
                        </li>

                        <li class="plan-action">
                            <b style="font-size:14px; line-height:.5em">ONLY $24.99</b>
                            
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="plan plan1">
                        <li class="plan-name">
                            Unlimited

                        </li>
                        <li style="color:green; margin-top:-50px; font-size:10px;">Unlimited use of our Keyword Resume Editor</li>
                        <li class="plan-price">
                            <input type="radio" name="plan" class="plan" value="3">
                            <label class="desc">
                                Target and optmize your resume for <b>Unlimited</b> unique job descriptions for 30 days.

                            </label>
                        </li>

                        <li class="plan-action">
                            <b style="font-size:14px; line-height:.5em">ONLY $49.99</b>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div> <!-- /container -->
    <div class="container" style="margin-top:20px;">
        <div class="col-lg-6 col-sm-offset-3">
            <div id="selected_plan" style="color:#115f1f"><h3>Selected Plan: Plus- $24.99</h3></div>


            <h2>Add Tokens</h2>
            
            <hr />
            <input type="hidden" name="email" id="email" value="@User.Identity.Name" />

            <input type="hidden" value="24.99" name="total" id="total" />
           
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cardHolderName">Name on Card</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="cardHolderName" id="cardHolderName" placeholder="Card Holder's Name">
                    <div style="color:red;">@Html.ValidationMessageFor(m => m.cardHolderName)</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cardNumber">Card Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="Debit/Credit Card Number">
                    <div style="color:red;">@Html.ValidationMessageFor(m => m.cardNumber)</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="expiryMonth">Expiration Date</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-3">
                            <select class="form-control col-sm-2" name="expiryMonth" id="expiryMonth">
                                <option>Month</option>
                                <option value="01">Jan (01)</option>
                                <option value="02">Feb (02)</option>
                                <option value="03">Mar (03)</option>
                                <option value="04">Apr (04)</option>
                                <option value="05">May (05)</option>
                                <option value="06">June (06)</option>
                                <option value="07">July (07)</option>
                                <option value="08">Aug (08)</option>
                                <option value="09">Sep (09)</option>
                                <option value="10">Oct (10)</option>
                                <option value="11">Nov (11)</option>
                                <option value="12">Dec (12)</option>
                            </select>
                        </div>

                        <div class="col-xs-3">
                            <select class="form-control" name="expiryYear">
                                <option value="13">2013</option>
                                <option value="14">2014</option>
                                <option value="15">2015</option>
                                <option value="16">2016</option>
                                <option value="17">2017</option>
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                            </select>
                        </div>
                        <div style="color:red;">@Html.ValidationMessageFor(m => m.expiryMonth)</div>
                        <div style="color:red;">@Html.ValidationMessageFor(m => m.expiryYear)</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                    <div style="color:red;">@Html.ValidationMessageFor(m => m.cvv)</div>
                </div>

            </div>


         
            <div class="form-group">

                <div class="col-sm-8 col-lg-offset-4">

                    <button type="submit" class="btn btn-primary btn-lg" style="width:200px; margin-left:auto; margin-right:auto;">Pay Now</button>
                </div>
            </div>


        </div>
    </div>
}

<script>

    $(document).ready(function () {

        $("#alert").hide();

        $("input:radio[name=plan]").click(function () {

            var value = $(this).val();
            var total = "0";
            if (value == "1") {
                value = "<h3>Selected Plan: Starter - $6.99</h3>";
                total = "6.99";
                $("#total").val(total);
            }

            if (value == "2") {
                value = "<h3>Selected Plan: Plus- $24.99</h3>";
                total = "24.99";
                $("#total").val(total);
            }

            if (value == "3") {
                value = "<h3>Selected Plan: Unlimited- $49.99</h3>";
                total = "49.99";
                $("#total").val(total);
            }

            $("#selected_plan").html(value);

        });


    });

</script>

