﻿
@{
    ViewBag.Title = "DeleteResumeConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div id="overview" class="panel panel-default">
                <div class="panel-heading" style="background-color:green; color:white;">Are you sure you want to delete this resume?</div>
                <div class="panel-body">


                    

                    <a class="btn btn-danger btn-lg pull-right" style="color:white;" href="/Members/DeleteResume?Id=@ViewBag.Id">Delete</a>
                    <a class="btn btn-primary btn-lg pull-right" href="/Members/UserProfile#Resumes">Cancel</a>


                </div>

            </div>
        </div>
    </div>
</div>

