﻿@model Bootstrap.Models.PurchaseSummary

@{
    ViewBag.Title = "OrderComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .items {
        margin-bottom:3px;
        margin-top:3px;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <h2 class="text-center animated fadeInDown">Thank You For Your Puchase!</h2>
            <div class="text-center actions animated fadeInDown delay2">



                <div class="col-sm-10 col-sm-offset-1" style="text-align:left;">

                    <div class="col-sm-6">
                        <div class=" panel panel-default">
                            <div class="panel-heading">Today's Purchase Details</div>
                            <div class="panel-body">
                                <div style="margin:10px;">
                                  <p class="items"><b>Order Confermation Nummber:</b> @Model.orderNumber</p>
                                    <p class="items"><b>Transaction Summaary</b></p>
                                    <div id="t_summary" style="height:200px; width:100%; overflow-y:scroll;">
                                        @Model.ctr
                                    </div>
                                    <p class="items"><b>Date:</b> @DateTime.Now.ToShortDateString()</p> 

                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">User Profile</div>
                            <div class="panel-body">
                                <p class="items"><b>User Name:</b> @Model.username</p>
                                <p class="items"><b>Email Address:</b> @Model.username</p>
                               

                                <div class="well" style="height:125px;">
                                    <div class="text-center">
                                    <p class="items">You Currently Have <span style="color:green;"><b>@Model.tokens</b></span> Tokens In Your Account.</p>
                                        <center>
                                            <a href="/Members" style="margin:5px;" class="btn btn-primary pull-left">Start a New Report</a>
                                            
                                        </center>
                                    </div>

                                
                            </div>
                        </div>
                    </div>

                </div>


               


            </div>

        </div>

    </div>

</div>
</div>