﻿@model Bootstrap.Models.purchase
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/pricingplan.css" rel="stylesheet" />
@using (Html.BeginForm("PurchaseUpgrade", "Start", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()


   <div class="container" style="margin-top:10px;">
       <div class="col-lg-8 col-sm-offset-2">

           <div class=" panel panel-success">
               <!--<a id="OutOfTokens" data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Buy Tokens</a>-->
               <div class="panel-heading" style="background-color:green; color:white;">
                   <p>Create Your Account</p>
               </div>
               <div class="panel-body">
                   <ol class="breadcrumb">
                       <li><a href="/Start/Pricing">Pricing</a></li>
                       <li class="active">Purchase</li>
                   </ol>
                  
                   @if (ViewBag.plan == "2")
                   {
                       <div id="selected_plan" style="color:#115f1f"><h3>Selected Plan: Plus- $24.99</h3></div>
                       <input type="hidden" value="24.99" name="total" id="total" />
                       <input type="hidden" value="2" name="plan" id="plan" />
                   }
                   @if (ViewBag.plan == "3")
                   {
                       <div id="selected_plan" style="color:#115f1f"><h3>Selected Plan: Premium- $59.99</h3></div>
                       <input type="hidden" value="59.99" name="total" id="total" />
                       <input type="hidden" value="3" name="plan" id="plan" />
                   }

                   

                   <div id="cc">
                       <div class="form-group">
                           <label class="col-sm-3 control-label" for="cardHolderName">Name on Card</label>
                           <div class="input-group col-sm-7">
                               @Html.TextBoxFor(model => model.cardHolderName, new { @class = "form-control", @Placeholder = "Enter Cardholder Name" })
                               <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                           </div>
                           <div class="col-sm-9 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.cardHolderName)</div>
                       </div>
                       <div class="form-group">
                           <label class="col-sm-3 control-label" for="cardNumber">Card Number</label>
                           <div class="input-group col-sm-7" data-validate="length" data-length="16">
                               @Html.TextBoxFor(model => model.cardNumber, new { @class = "form-control", @Placeholder = "Enter Card Number" })
                               <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                           </div>
                           <div class="col-sm-9 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.cardNumber)</div>
                       </div>
                       <div class="form-group">
                           <label class="col-sm-3 control-label" for="expiryMonth">Expire Date</label>
                           <div class="input-group col-sm-8">

                               <div class="input-group col-lg-4 pull-left" style="margin-right:5px;">
                                   <select class="form-control" name="expiryMonth" id="validate-select" required>
                                       <option value="">Month</option>
                                       <option value="01">Jan (01)</option>
                                       <option value="02">Feb (02)</option>
                                       <option value="03">Mar (03)</option>
                                       <option value="04">Apr (04)</option>
                                       <option value="05">May (05)</option>
                                       <option value="06">June (06)</option>
                                       <option value="07">July (07)</option>
                                       <option value="08">Aug (08)</option>
                                       <option value="09">Sep (09)</option>
                                       <option value="10">Oct (10)</option>
                                       <option value="11">Nov (11)</option>
                                       <option value="12">Dec (12)</option>
                                   </select>
                                   <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                               </div>

                               <div class="input-group col-lg-4 pull-left" style="margin-right:5px;">
                                   <select class="form-control" name="expiryYear" id="validate-select" required>
                                       <option value="">Year</option>
                                       <option value="13">2013</option>
                                       <option value="14">2014</option>
                                       <option value="15">2015</option>
                                       <option value="16">2016</option>
                                       <option value="17">2017</option>
                                       <option value="18">2018</option>
                                       <option value="19">2019</option>
                                       <option value="20">2020</option>
                                       <option value="21">2021</option>
                                       <option value="22">2022</option>
                                       <option value="23">2023</option>
                                   </select>
                                   <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>
                               </div>


                           </div>
                           <div class="col-sm-9 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.expiryMonth)</div>
                           <div class="col-sm-9 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.expiryYear)</div>
                       </div>
                       <div class="form-group">
                           <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                           <div class="input-group col-sm-7">
                               @Html.TextBoxFor(model => model.cvv, new { @class = "form-control", @Placeholder = "Security Code", @required = "required" })
                               <span class="input-group-addon default"><span class="glyphicon glyphicon-asterisk"></span></span>

                           </div>
                           <div class="col-sm-9 col-lg-offset-3" style="color:red;">@Html.ValidationMessageFor(m => m.cvv)</div>
                       </div>
                   </div>

                   <div class="form-group">
                       <label class="col-sm-3 control-label">
                           Special Offers:
                       </label>
                     
                       <div class="col-sm-8">
                           <div class="checkbox">
                               <label>
                                   <input type="checkbox"  name="offers" id="offers" value="true" />like to be sent special offers via email
                               </label>
                           </div>
                   </div>
                       </div>
                   <div class="form-group">
                       <label class="col-sm-3 control-label">
                           Terms of Use:
                       </label>
                      
                       <div class="col-sm-8">
                           <div class="checkbox">
                               <label>
                                   <input type="checkbox"  name="terms" id="terms" value="true" required="required" />I agree to the terms of use
                               </label>
                           </div>
                           
                       </div>
                   </div>



                   <div class="col-lg-8 col-lg-offset-2">


                       <button type="submit" style="width:100%; margin-bottom:10px;" class="btn btn-primary btn-lg">Complete Checkout</button>
                   </div>



               </div>
           </div>

       </div>
               </div>


                  
           }

           <script>

               $(document).ready(function () {



                   $('.input-group input[required], .input-group textarea[required], .input-group select[required]').on('keyup change', function () {
                       var $form = $(this).closest('form'),
                           $group = $(this).closest('.input-group'),
                           $addon = $group.find('.input-group-addon'),
                           $icon = $addon.find('span'),
                           state = false;

                       if (!$group.data('validate')) {
                           state = $(this).val() ? true : false;
                       } else if ($group.data('validate') == "email") {
                           state = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test($(this).val())
                       } else if ($group.data('validate') == 'phone') {
                           state = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/.test($(this).val())
                       } else if ($group.data('validate') == "length") {
                           state = $(this).val().length >= $group.data('length') ? true : false;
                       } else if ($group.data('validate') == "number") {
                           state = !isNaN(parseFloat($(this).val())) && isFinite($(this).val());
                       }

                       if (state) {
                           $addon.removeClass('default');
                           $addon.addClass('success');
                           $icon.attr('class', 'glyphicon glyphicon-ok');
                       } else {
                           $addon.removeClass('success');
                           $addon.addClass('default');
                           $icon.attr('class', 'glyphicon glyphicon-asterisk');
                       }

                       if ($form.find('.input-group-addon.danger').length == 0) {
                           $form.find('[type="submit"]').prop('disabled', false);
                       } else {
                           $form.find('[type="submit"]').prop('disabled', true);
                       }
                   });

                   $('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');


               });

           </script>
