﻿@model Bootstrap.Models.ApplicationDbContext.UserProfile
<style>
    h1, h2 {
        color: #585858;
        font-family: "Oswald",arial,sans-serif;
        font-size: 42px;
        margin: 10px;
    }
</style>
<div class="container">

    

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Manage Profile</h2>
            <ol class="breadcrumb">
                <li><a href="/Members">Home</a></li>
                <li class="active"><a href="#">User Profile</a></li>
               
            </ol>
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:green; color:white;">User Profile</div>
                <div class="panel-body">

                    <ul style="margin-top:10px; margin-bottom:10px;" class="nav nav-tabs" role="tablist">

                        <li class="active"><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#resume" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Resumes</a></li>
                    
                    </ul>
                   

                    <div style="margin-top:20px;">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile" style="padding:10px;">

                                <p><b>Username:</b> @Model.UserName</p>
                                <input type="hidden" id="username" value="@Model.UserName" />

                                <p><b>Email:</b> @Model.UserName</p>

                                <p>
                                    <b>Plan:</b> @if (Model.Plan1 == "1")
                                    {
                                        <span>Starter Plan - Tokens Left: @Model.Tokens</span>
                                    }
                                    @if (Model.Plan1 == "2")
                                    {
                                        <span>Plus Plan - Expiration: @Model.PlanExperation</span>
                                    }
                                    @if (Model.Plan1 == "3")
                                    {
                                        <span>Unlimited Plan - Expiration: @Model.PlanExperation</span>
                                    }



                                </p>
                                <p>First Name: <input type="text" id="FirstName" value="@Model.FirstName" /></p>
                                <p>Last Name: <input type="text" id="LastName" value="@Model.LastName" /></p>
                                <input type="button" id="updateName" class="btn btn-primary" value="Update" />
                                <br />
                                <p style="margin-top:5px;" id="update1"></p>
                                <p><b>Change Password</b></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>New Password</p>
                                        <p><input type="password" id="password" /></p>
                                        <p>Confirm Password</p>
                                        <p><input type="password" id="password2" /></p>
                                        <button type="button" class="btn btn-primary" id="change">Change Password</button>



                                    </div>
                                </div>

                                <p style="margin-top:5px;" id="update2"></p>

                            </div>

                            <div class="tab-pane" id="resume" style="padding:10px;">
                                <div class="container-fluid">
                                    <div class="row" style="height:400px; overflow-y:scroll;">
                                        <div id="resumes"></div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    </div>

        </div>



    </div>


</div>
   


</div>



<script type="text/javascript">

    $(document).ready(function () {


        $.ajax(
        {
           type: 'GET',
           contentType: 'application/json; charset=utf-8',
           UpdateTargetId: "resumes",
           dataType: 'html',
           cache: false,
           url: '/Members/Resumes',
           success: function (data) {

               $("#resumes").html(data);
           }
       });


        $("#change").click(function () {
        
            if ($("#password").val() != $("#password2").val())
            {
                $("#update").text("Passwords do not match, try again.")
            }
            else
            {
                $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ password: $("#password").val(), confirmpassword: $("#password2").val(), username: $("#username").val() }),
                    cache: false,
                    url: '/Account/ChangePassword',
                    success: function (data) {

                        var result = data;
                        $("#update2").text(data.result);
                }
            });
            }

        

        });


        $("#updateName").click(function () {

            
                $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ firstname: $("#FirstName").val(), lastname: $("#LastName").val(), username: $("#username").val() }),
                    cache: false,
                    url: '/Account/UpdateProfile',
                    success: function (data) {

                        var result = data;
                        $("#update1").text(data.result);
                    }
                });
            



        });

    });

</script>