﻿@{
    ViewBag.Title = "Welcome";
}


<style>
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #menu {

        position: absolute;
        z-index:2;
        text-align:left;
        border:dashed;
        border-color:green;
    }
  
    
</style>

<!-- START PAGE -->
<div id="page">
   
   
            <!-- START HEADER -->
            <div id="header" class="container-fluid">
               
                <div style="margin-top:120px;" class="row">
                    @Html.Hidden("ip", Request.UserHostAddress.ToString(), new { @id = "ip" })
                    <div class="col-xs-12">

                        <div id="logo">
                            <div id="intro">
                               
                                <section id="op">
                                    <div class="row">
                                        <div id="menu">
                                            <ul class="nav nav-pills nav-stacked menu">
                                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name.ToUpper()</a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
                                                <li><a href="#">Plan: Standard</a></li>
                                                <li><a href="#">Tokens Left: 25</a></li>

                                            </ul>

                                        </div>

                                        <div class="col-xs-12" style="margin-bottom:5px;">
                                            <center>
                                                <h1 style="color:green; text-align:center">Lets Get Down To Business!</h1>
                                                <h4 style="text-align:center;">Tokens Available <span id="tries">@ViewBag.tries</span></h4>
                                                <input type="hidden" id="triesleft" value="@ViewBag.tries" />
                                            </center>
                                        </div>
                                        
                                    </div>



                                    <div class="container">

                                        <div class="col-xs-6 col-sm-6 col-md-3">
                                            <!--Spacer-->

                                        </div>

                                        <div class="col-xs-6 col-sm-6 col-md-3">
                                            <div>
                                                <div>
                                                    <div class="form-group">
                                                        <label for="validate-length">Resume</label>
                                                        <div class="input-group" data-validate="length" data-length="5">
                                                            <textarea style="height:200px; width:100%;" type="text" class="form-control" name="resume" id="resume" placeholder="Paste Resume Here!" required></textarea>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3">
                                            <div>
                                                <div>
                                                    <div class="form-group">
                                                        <label for="validate-length">Job Description</label>
                                                        <div class="input-group" data-validate="length" data-length="5">
                                                            <textarea style="height:200px; min-width:100%;" type="text" class="form-control" name="job" id="jobdesc" placeholder="Paste Job Description Here" required></textarea>
                                                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3">
                                            <div>


                                            </div>

                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                            <a href="#results" id="optimize" class="btn btn-success btn-lg">Optimize!</a>
                                            <a href="#buying" id="buyit" class="btn btn-success btn-lg">Add Tokens</a>
                                        </div>
                                    </div>
                                </section>
                               
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <img class="img-responsive" src="~/images/jobminx_logo_final.png" />
                                                <h4 class="modal-title" id="myModalLabel">Login</h4>
                                            </div>
                                            <div class="modal-body" style="height:100px;">

                                                <div class='form-row'>
                                                    <div class='col-xs-6 form-group required'>
                                                        <label class='control-label'>Username / Email</label>
                                                        <input name="UserName" id="UserName" class='form-control' size='4' type='text'>
                                                    </div>
                                                </div>
                                                <div class='form-row'>
                                                    <div class='col-xs-6 form-group required'>
                                                        <label class='control-label'>Password</label>
                                                        <input name="Password" id="Password" class='form-control' size='4' type='password'>
                                                    </div>
                                                </div>
                                                <div style="color:red;" id="loginError"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <div id="loginloader" class="pull-left"><div style="width:30px; height:30px;"><img class="img-responsive" src="~/Content/719.GIF" /></div><p style="color:black;">Logging you in...</p></div>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button id="login" type="button" class="btn btn-primary">Login</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <img src="~/css/jobminx_logo_final.png" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- END HEADER -->
            <!-- START TOP-BAR -->
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="logo-lettering">
                                <a class="scroll" href="#header"><img src="/images/jobminx_logo_final.png" alt="Logo Lettering" /></a>
                            </div>


                            <div id="menu-mobile" class="hidden-md hidden-lg">
                                <i class="icon-reorder icon-2x"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <nav id="top-navigation">
                                <ul class="list-inline">
                                    <li><a href="#header">Optimize</a></li>
                                    <li><a href="#buying">Add Tokens</a></li>
                                    <li><a href="#">@User.Identity.Name</a></li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TOP-BAR -->
            <!-- START TEAM SECTION -->
           
            <section id="results">

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
                        <h1>Results</h1>

                        <div id="report">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Summary</h3>

                                </div>
                                <div id="Summary" class="panel-body" style="font-size:medium;"></div>
                            </div>

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Skills (Keywords)</h3>

                                </div>
                                <div id="Skills" class="panel-body">
                                    <div class="pull-left">
                                        <p>Required Skills You are Missing:</p>
                                        <table id="required" class="table-striped"></table>
                                    </div>
                                    <div class="pull-right">
                                        <p>Other Skills That Might Be Helpful:</p>
                                        <table id="other" class="table-striped pull-right"></table>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Education</h3>

                                </div>
                                <div id="Education" class="panel-body"></div>
                            </div>

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Experience</h3>

                                </div>
                                <div id="Experience" class="panel-body"></div>
                            </div>

                        </div>

                        <div id="loadingResults"><h4>Analyzing Your Resume and Job Description, Please Wait...</h4><br /><img src="~/Content/719.GIF" /></div>
                    </div>
                </div>



            </section>
            <!-- END TEAM SECTION -->
            <!-- START STUDIO SECTION -->
            <section id="buying">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro" style="margin-bottom:10px;">
                        <h1>Add Tokens / Upgrade Plan</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="well">
                                <h2 class="muted">Silver</h2>
                                <p><span class="label label-success">POPULAR</span></p>


                                <hr>
                                <h3>One Time Payment $15.99 / 20 Tokens</h3>
                                <hr>
                                <p><button id="plan1" class="btn btn-success btn-lg btn-outline"><i class="glyphicon glyphicon-ok"></i> Select plan</button></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <h2 class="text-warning">Bronze</h2>
                                <p><span class="label label-warning">POPULAR</span></p>


                                <hr>
                                <h3>One Time Payment $10.99 / 10 Tokens</h3>
                                <hr>
                                <p><button id="plan2" class="btn btn-warning btn-large btn-outline"><i class="glyphicon glyphicon-ok"></i> Select plan</button></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <h2 class="text-info">Economy</h2>
                                <p><span class="label label-info">BUDGET</span></p>

                                <hr>
                                <h3>One Time Payment $8.99 / 5 Tokens</h3>
                                <hr>
                                <p><button id="plan3" class="btn btn-primary btn-large btn-outline"><i class="glyphicon glyphicon-ok"></i> Select plan</button></p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- END STUDIO SECTION -->
            <!-- START SERVICES SECTION -->
            <!-- Modal -->
            <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Buy - <span id="plandetails"></span></h4>
                        </div>
                        <div class="modal-body" style="height:100px;">


                            <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post">
                                <div style="margin:0;padding:0;display:inline">
                                    <input name="utf8" type="hidden" value="✓" />
                                    <input name="_method" type="hidden" value="PUT" />
                                    <input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" />
                                    <input name="price" type="hidden" value="" />
                                </div>
                                <div class='form-row'>
                                    <div class='col-xs-12 form-group required'>
                                        <label class='control-label'>Email</label>
                                        <input class='form-control' size='4' type='text'>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-xs-12 form-group required'>
                                        <label class='control-label'>Name on Card</label>
                                        <input class='form-control' size='4' type='text'>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-xs-12 form-group card required'>
                                        <label class='control-label'>Card Number</label>
                                        <input autocomplete='off' class='form-control card-number' size='20' type='text'>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-xs-4 form-group cvc required'>
                                        <label class='control-label'>CVC</label>
                                        <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'>
                                    </div>
                                    <div class='col-xs-4 form-group expiration required'>
                                        <label class='control-label'>Expiration</label>
                                        <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'>
                                    </div>
                                    <div class='col-xs-4 form-group expiration required'>
                                        <label class='control-label'> </label>
                                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-md-12 form-group'>
                                        <button class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
                                    </div>
                                </div>
                                <div class='form-row'>
                                    <div class='col-md-12 error form-group hide'>
                                        <div class='alert-danger alert'>
                                            Please correct the errors and try again.
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- START FOOTER -->
            <section>
                <footer>
                    <!--<div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <hr />
                            <div id="social-profiles">
                                <ul class="centerUl">
                                    <li><a><i class="icon-facebook icon-2x"></i></a></li>
                                    <li><a><i class="icon-twitter icon-2x"></i></a></li>
                                    <li><a><i class="icon-linkedin icon-2x"></i></a></li>
                                    <li><a><i class="icon-instagram icon-2x"></i></a></li>
                                    <li><a><i class="icon-flickr icon-2x"></i></a></li>
                                    <li><a><i class="icon-google-plus icon-2x"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <p id="copyrights">Jobminx® All rights reserved.</p>
                        </div>
                    </div>
                </footer>
                <!-- END FOOTER -->
            </section>
            <!-- END PAGE -->
    

    </div>



