﻿
@{
    ViewBag.Title = "Tablet";
    Layout = "~/Views/Shared/_Layout.Phone.cshtml";
}

<h2>Phone</h2>
<img src="~/Content/logo.png" width="125" />

<form>
    <input id="filter-for-listview" data-type="search" placeholder="Type to search...">
</form>
<ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
    <li><a href="#">Start Optimizing Now!</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Buy</a></li>
</ul>