﻿@{
    ViewBag.Title = "Index";
}


<style>
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    

</style>
<!-- START PAGE -->
<div id="page">

    <!-- START HEADER -->
    <div id="header" class="container-fluid">
        <div class="col-xs-12" style="margin-top:300px;">
          <center> <h1>Don't Get Shredded, Optimize Your Resume!</h1></center>
        </div>
        <div style="margin-top:400px;" class="row">
           @Html.Hidden("ip", Request.UserHostAddress.ToString(), new {@id="ip"});
            <div class="col-xs-12">
                
                <div id="logo">
                    <div id="intro">
                       
                        <!-- Button trigger modal -->
                        <center>
                            <div style="margin:5px;"><a class="scroll btn btn-success btn-lg" href="#op">Start Optimizing Now!</a></div>
                            <!-- Button trigger modal -->
                            <button style="margin:5px;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                Sign In Now!
                            </button>
                            <form class="form-search">
                                <div style="margin:5px;" class="input-append">
                                    <input type="text">
                                    <button type="submit" class="btn">Coupon Code</button>
                                </div>
                            </form>
                        </center>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                           <img class="img-responsive" src="~/images/jobminx_logo_final.png" />
                                            <h4 class="modal-title" id="myModalLabel">Login</h4>
                                        </div>
                                        <div class="modal-body" style="height:100px;">
                                         
                                            <div class='form-row'>
                                                <div class='col-xs-6 form-group required'>
                                                    <label class='control-label'>Username / Email</label>
                                                    <input name="UserName" id="UserName" class='form-control' size='4' type='text'>
                                                </div>
                                            </div>
                                            <div class='form-row'>
                                                <div class='col-xs-6 form-group required'>
                                                    <label class='control-label'>Password</label>
                                                    <input name="Password" id="Password" class='form-control' size='4' type='password'>
                                                </div>
                                            </div>
                                           <div style="color:red;" id="loginError"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <div id="loginloader" class="pull-left"><div style="width:30px; height:30px;"><img class="img-responsive" src="~/Content/719.GIF" /></div><p style="color:black;">Logging you in...</p></div>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button id="login" type="button" class="btn btn-primary">Login</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="pull-right">
                            <img src="~/css/jobminx_logo_final.png" /></div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- END HEADER -->
    <!-- START TOP-BAR -->
    <div id="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="logo-lettering">
                        <a class="scroll" href="#header"><img src="/images/jobminx_logo_final.png" alt="Logo Lettering" /></a>
                    </div>


                    <div id="menu-mobile" class="hidden-md hidden-lg">
                        <i class="icon-reorder icon-2x"></i>
                    </div>
                </div>
                <div class="col-md-8">
                    <nav id="top-navigation">
                        <ul class="list-inline">
                            <li><a href="#header">Home</a></li>
                            <li><a href="#op">Try Now</a></li>
                            <li><a href="#buying">Buy Now</a></li>


                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- END TOP-BAR -->
    <!-- START TEAM SECTION -->
    <section id="op">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro" style="margin-bottom:10px;">
                <h1>Welcome to Jobminx.com</h1>
                <p>We can help you optimize your resume to get more inteviews!</p>
                <h4>Free Tries Left <span id="tries">@ViewBag.tries</span></h4>
                <input type="hidden" id="triesleft" value="@ViewBag.tries" />
            </div>
        </div>



        <div class="container" >

            <div class="col-xs-6 col-sm-6 col-md-3">
                <!--Spacer-->
               
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <div>
                    <div>
                        <div class="form-group">
                            <label for="validate-length">Resume</label>
                            <div class="input-group" data-validate="length" data-length="5">
                                <textarea style="height:200px; width:100%;" type="text" class="form-control" name="resume" id="resume" placeholder="Paste Resume Here!" required></textarea>
                                <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div>
                    <div>
                        <div class="form-group">
                            <label for="validate-length">Job Description</label>
                            <div class="input-group" data-validate="length" data-length="5">
                                <textarea style="height:200px; min-width:100%;" type="text" class="form-control" name="job" id="jobdesc" placeholder="Paste Job Description Here" required></textarea>
                                <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div>


                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <a href="#results" id="optimize" class="btn btn-success btn-lg">Try Now!</a>
                <a href="#buying" id="buyit" class="btn btn-success btn-lg">Buy Now!</a>
            </div>
        </div>
    </section>
    <section id="results">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro">
                <h1>Results</h1>
                
                <div id="report">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Summary</h3>
                           
                        </div>
                        <div id="Summary" class="panel-body" style="font-size:medium;"></div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Skills (Keywords)</h3>
                            
                        </div>
                        <div id="Skills" class="panel-body">
                            <div class="pull-left">
                                <p>Required Skills You are Missing:</p>
                                <table id="required" class="table-striped"></table>
                            </div>
                            <div class="pull-right">
                                <p>Other Skills That Might Be Helpful:</p>
                                <table id="other" class="table-striped pull-right"></table>

                            </div>
                    </div>
                        </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Education</h3>
                           
                        </div>
                        <div id="Education" class="panel-body"></div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Experience</h3>
                           
                        </div>
                        <div id="Experience" class="panel-body"></div>
                    </div>

                </div>
                
                <div id="loadingResults"><h4>Analyzing Your Resume and Job Description, Please Wait...</h4><br/><img src="~/Content/719.GIF" /></div>
            </div>
        </div>



    </section>
    <!-- END TEAM SECTION -->
    <!-- START STUDIO SECTION -->
    <section id="buying">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 intro" style="margin-bottom:10px;">
                <h1>Pricing Plans</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <h2 class="muted">Monthly Plan</h2>
                        <p><span class="label label-success">One Month of Unlimited Use!</span></p>

                        
                        <hr>
                        <h3>One Time Payment $49.99 / 20 Tokens</h3>
                       
                        <hr>
                        <p><button id="plan1" class="btn btn-success btn-lg btn-outline"><i class="glyphicon glyphicon-ok"></i> Select plan</button></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well">
                        <h2 class="text-warning">Popular Plan</h2>
                        <p><span class="label label-warning">POPULAR</span></p>

                       
                        <hr>
                        <h3>One Time Payment $16.99 / 20 Tokens</h3>
                        <hr>
                        <p><button id="plan2" class="btn btn-warning btn-large btn-outline"><i class="glyphicon glyphicon-ok"></i> Select plan</button></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well">
                        <h2 class="text-info">Try It Plan</h2>
                        <p><span class="label label-info">BUDGET</span></p>
                       
                        <hr>
                        <h3>One Time Payment $5.99 / 5 Tokens</h3>
                        <hr>
                        <p><button id="plan3" class="btn btn-primary btn-large btn-outline"><i class="glyphicon glyphicon-ok"></i> Select plan</button></p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END STUDIO SECTION -->
    <!-- START SERVICES SECTION -->
    <!-- Modal -->
    <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Buy - <span id="plandetails"></span></h4>
                    <input type="hidden" value="" id="planId" />
                    <input type="hidden" value="" id="ammount" />
                    
                </div>
                <div class="modal-body" style="height:300px;">
                    
                        <div class='form-row'>
                            <div class='col-xs-12 form-group required'>
                                <label class='control-label'>Email</label>
                                <input id="email" class='form-control' size='4' type='text'>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-xs-12 form-group required'>
                                <label class='control-label'>Name on Card</label>
                                <input id="name" class='form-control' size='4' type='text'>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-xs-12 form-group card required'>
                                <label class='control-label'>Card Number</label>
                                <input id="number" autocomplete='off' class='form-control card-number' size='20' type='text'>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-xs-6 form-group cvc required'>
                                <label class='control-label'>CVC</label>
                                <input id="cvc" autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'>
                            </div>
                            <div class='col-xs-6 form-group expiration required'>
                                <label class='control-label'>Expiration</label>
                                <input id="exDate" class='form-control card-expiry-month' placeholder='MMYY' size='2' type='text'>
                            </div>
                            
                        </div>
                      </div>
                        
                <div class="modal-footer">
                    <button id="payIt" class="btn btn-success btn-lg" type="button">Pay Now »</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div id="paymentloader" class="pull-left"><div style="width:30px; height:30px;"><img class="img-responsive" src="~/Content/719.GIF" /></div><p style="color:black;">Processing your payment, please wait...</p></div>
                </div>
                
            </div>
           
        </div>
    </div>
    
    <!-- START FOOTER -->
    <section>
        <footer>
            <!--<div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <hr />
                    <div id="social-profiles">
                        <ul class="centerUl">
                            <li><a><i class="icon-facebook icon-2x"></i></a></li>
                            <li><a><i class="icon-twitter icon-2x"></i></a></li>
                            <li><a><i class="icon-linkedin icon-2x"></i></a></li>
                            <li><a><i class="icon-instagram icon-2x"></i></a></li>
                            <li><a><i class="icon-flickr icon-2x"></i></a></li>
                            <li><a><i class="icon-google-plus icon-2x"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <p id="copyrights">Jobminx® All rights reserved.</p>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->
    </section>
    <!-- END PAGE -->
   

</div>



