﻿@model Bootstrap.Models.LoginViewModel

@{
    ViewBag.Title = "Login | Jobminx";
}


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="height:25px;"><b class="pull-left">Login</b><b class="pull-right" style="color:red;">@Html.ValidationSummary()</b></h3>
                </div>
                <div class="panel-body">

                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.Label("Username", new { @class = "col-md-4 control-label", @placeholder = "Email Address" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password)

                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-lg-offset-0">
                                    <div style="margin-left:15px;">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>


                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-lg-offset-0">
                                    <div id="loginBtn" class="col-md-6">
                                        <input type="submit" value="View My Account" style="width:100%;" class="btn btn-primary" />
                                        

                                    </div>
                                    <div  class="col-md-6">

                                        @Html.ActionLink("Forgot Password", "ResetPassword", null, null)
                                        
                                    </div>
                                </div>

                            </div>
                            <hr />
                            <p>
                                <h4>New to <span style="color:green">Jobminx</span>?</h4>
                                @Html.ActionLink("See How it works", "FreeTrial", "Start", null, null) or @Html.ActionLink("Sign Up Now", "Pricing", "Start", null, null)
                            </p>
                        }
                    </section>
                </div>

            </div>

        </div>
   </div>
</div>


