﻿
@{
    ViewBag.Title = "Reset Password | Jobminx";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="height:25px;"><b class="pull-left">Reset Password</b><b class="pull-right" style="color:red;">@ViewBag.Error</b></h3>
                </div>
                <div class="panel-body">

                    <section id="loginForm">
                        @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                           
                            
                            <div class="form-group">
                               <label>Enter your email</label>
                                <div class="col-md-8">
                                    <input type="text" name="username" placeholder="Enter your email" class="form-control" />
                                    
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-12 col-lg-offset-0">
                                    <div class="col-md-6">
                                        <input type="submit" value="Send Reset Password" style="width:100%;" class="btn btn-primary" />

                                    </div>
                                    
                                </div>

                            </div>
                            
                        }
                    </section>
                </div>

            </div>

        </div>
    </div>
</div>

