﻿@{
    ViewBag.Title = "ResetYourPassword";
    if(ViewBag.Mismatch != null)
    {
        ViewBag.Mismatch = "Password do not match";
    }
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="height:25px;"><b class="pull-left">Reset Password</b><b class="pull-right" style="color:red;">@ViewBag.Mismatch</b></h3>
                </div>
                <div class="panel-body">

                    <section id="loginForm">
                        @using (Html.BeginForm("ResetPasswordResult", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                        <input type="hidden" value="@ViewBag.username" name="username" />
                        <input type="hidden" value="@Request["token"]" name="token" />
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="NewPassword">New password</label>
                            <div class="col-md-8">
                                <input class="form-control" data-val="true" data-val-length="The New password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="NewPassword" name="NewPassword" type="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="ConfirmPassword">Confirm new password</label>
                            <div class="col-md-8">
                                <input class="form-control" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" type="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right" style="margin-right:17px;">
                                <input type="submit" value="Change password" class="btn btn-default" />
                            </div>
                        </div>
                        }

                    </section>
                </div>

            </div>

        </div>
    </div>
</div>