﻿@model Bootstrap.Models.Compare

@{
    ViewBag.Title = "Analysis";
}

<h2>Analysis</h2>
<div class="pull-left" style="width:48%">
    <h4>Resume Competencies</h4>
    <table class="table">
        @{var lastItem = "";}
        @foreach (var item in Model.ResumeCompetencies)
        {
            if (lastItem == item)
            {

            }
            else
            {
                <tr><td>@item</td></tr>
            }
            lastItem = item;
        }
    </table>
</div>
<div class="pull-right" style="width:48%">
    <h4>Resume BreakDown</h4>
    <table class="table">
        @foreach (var item in Model.ResumeOutput)
        {

            <tr><td>@item.Key : @item.Value</td></tr>
        }
    </table>
</div>