﻿@model Bootstrap.Models.Compare
@{
    ViewBag.Title = "Home Page";
}

<div>
    <center> <p>Run a gap analysis on your resume and your dream job, try it against real Applicant Tracking System (ATS) technology! </p><p><a class="btn btn-success btn-sm btn-outline" href="#">Try a Sample</a></p></center>
    
     

    @using (Html.BeginForm())
    {


        <div class="row">


            
            <div class="col-md-4">

                <center>
                    <h3>Your Resume</h3>
                    <textarea id="resume" name="resume" style="width:100%; height:300px; margin-left:auto; margin-right:auto; overflow-y:scroll;"></textarea>
                </center>



            </div>
            <div class="col-md-4">
                <center><h4 style="color: #5cb85c; margin-top: 100px;">You have <b>@ViewBag.left</b> free test(s) left!</h4></center>
                <center>
                    @if(ViewBag.left == 0)
                    {
                    <p style="margin-top:50px;">@Html.ActionLink("Purchuse Tokens", "Register","Account",null, new{@class="btn btn-success btn-lg"})</p>
                    }
                    else
                    {
                    <p style="margin-top:50px;"><input type="submit" value="Test it!" class="btn btn-success btn-lg btn-outline" /></p>
                    }
                    <div style="margin-top:75px;">
                        <form class="form-search">
                            <div class="input-append">
                                <input type="text" placeholder="Enter Code" class="span2">
                                <button type="submit" class="btn btn-success btn-outline">Coupon Code</button>
                            </div>
                        </form>
                    </div>
                </center>
            </div>
            <div class="col-md-4">

                    <center>
                        <h3>Job Description</h3>
                        <textarea id="job" name="job" style=" width: 100%; height: 300px; margin-left: auto; margin-right: auto; overflow-y: scroll;"></textarea>
                    </center>




                </div>
                
            </div>
    }

</div>

