﻿
@{
    ViewBag.Title = "Pricing";
}

<h2>Pricing</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h2 class="muted">Silver</h2>
                <p><span class="label label-success">POPULAR</span></p>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    <li>Feature 4</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                <hr>
                <h3>One Time Payment $15.99 / 20 Tokens</h3>
                <hr>
                <p><a class="btn btn-success btn-lg btn-outline" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-warning">Bronze</h2>
                <p><span class="label label-warning">POPULAR</span></p>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                    <li>Feature 3</li>
                    
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                <hr>
                <h3>One Time Payment $10.99 / 10 Tokens</h3>
                <hr>
                <p><a class="btn btn-warning btn-large btn-outline" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-info">Economy</h2>
                <p><span class="label label-info">BUDGET</span></p>
                <ul>
                    <li>Feature 1</li>
                    <li>Feature 2</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                <hr>
                <h3>One Time Payment $8.99 / 5 Tokens</h3>
                <hr>
                <p><a class="btn btn-primary btn-large btn-outline" href="#"><i class="icon-ok"></i> Select plan</a></p>
            </div>
        </div>
    </div>
</div>
