﻿@{
    ViewBag.Title = "Api";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Api Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="~/Admin/Index"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-fw fa-edit"></i> Api
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    @*<div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                </div>
            </div>
        </div>*@
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-fw fa-edit fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.calls</div>
                            <div>Total Api Calls Left</div>

                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
      
    </div>
    <!-- /.row -->
    @*<div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-area-chart"></div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- /.row -->

    @*<div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Sales By Plan</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <div class="text-right">
                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4" id="newusers">
            <p>Loading Data...</p>
        </div>
        <div class="col-lg-4" id="getActions">
            <p>Loading Data...</p>
        </div>
    </div>*@
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
<script src="/Admin/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".nav li.active").removeClass("active");
        $("#api").addClass("active");

    });


</script>

