﻿@model IEnumerable<Bootstrap.Models.ApplicationDbContext.UserResume>
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Resumes</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="~/Admin/Index"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-fw fa-bar-chart-o"></i> Resumes
                </li>
            </ol>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-bar-chart-o"></i>Resume List</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-responsive">
                    <thead>

                        <tr>
                            <th class="hidden-xs hidden-sm">User</th>
                            <th>Name</th>
                            <th class="hidden-xs hidden-sm">Last Modified</th>
                            <th class="hidden-xs hidden-sm">Category</th>
                            
                            
                            <th>Action</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {




                        <tr>
                            <td class="hidden-xs hidden-sm">@item.UserId</td>
                            <td>@item.Name</td>
                            <td class="hidden-xs hidden-sm">@item.DateModified</td>
                            <td class="hidden-xs hidden-sm">@item.Category</td>
                            
                            
                            <td hidden><input type="hidden" id="r-@item.Id" value="@item.Resume" /><input type="hidden" id="n-@item.Id" value="@item.Name - @item.DateLoaded" /></td>
                            <td><a class='btn btn-info btn-xs ropen' id="@item.Id" data-toggle="modal" href="#resume"><span class="glyphicon glyphicon-open"></span>View</a> </td>

                        </tr>



                    }

                </table>

                <div class="modal" id="resume">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 id="name" class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <div id="myresume" style="height:500px; overflow-y:scroll;"></div>

                            </div>
                            <div class="modal-footer">
                                <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Admin/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $(".nav li.active").removeClass("active");
            $("#demo").addClass("active");

            $(".ropen").on("click", function () {
                var id = this.id;
                alert(id);
                $("#name").html($("#n-" + id).val());
                $("#myresume").html($("#r-" + id).val());

            });

        });


</script>