﻿
@{
    ViewBag.Title = "GetUsage";
    Layout = "~/Views/Shared/_Admin.cshtml";
    
}


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Usage</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="~/Admin/Index"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-fw fa-edit"></i> Usage
                </li>
            </ol>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-edit"></i>Useage</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> All Users reports run</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                
                                

                            </tr>
                        </thead>
                        <tbody>
                            
                          
                            @*@for (int item = 0; item < Model; item++ )
                            {
                                <tr>
                                    <td>
                                        @Model[item].Count
                                    </td>
                                    
                                   
                                </tr>
                            }*@

                    
                    </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
   
<script src="/Admin/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $(".nav li.active").removeClass("active");
            $("#usage").addClass("active");

        });


</script>