﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    @*<div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
            </div>
        </div>
    </div>*@
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.UserCount</div>
                            <div>Total Users To Date</div>

                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">$@ViewBag.Total</div>
                            <div>Total Sales</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.Orders</div>
                            <div>New Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">$@ViewBag.Today</div>
                            <div>Total Sales Today!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    @*<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Sales By Plan</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                    <div class="text-right">
                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4" id="newusers">
            <p>Loading Data...</p> 
        </div>
        <div class="col-lg-4" id="getActions">
           <p>Loading Data...</p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
<script src="~/Admin/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".nav li.active").removeClass("active");
        $("#dash").addClass("active");
        

        $.ajax(
               {
                   type: 'POST',
                   contentType: 'application/json; charset=utf-8',
                   UpdateTargetId: "newusers",
                   dataType: 'html',
                   cache: false,
                   url: '@Url.Content("~/Admin/GetLastestUser")',
                   success: function (data) {

                       var result = data;
                       $('#newusers').html(result);

                   }
               }
        );

        $.ajax(
              {
                  type: 'POST',
                  contentType: 'application/json; charset=utf-8',
                  UpdateTargetId: "getActions",
                  dataType: 'html',
                  cache: false,
                  url: '@Url.Content("~/Admin/GetActions")',
                  success: function (data) {

                      var result = data;
                      $('#getActions').html(result);

                  }
              }
       );

        $.ajax(
               {
                   type: 'POST',
                   contentType: 'application/json; charset=utf-8',
                   UpdateTargetId: "getActions",
                   cache: false,
                   url: '@Url.Content("~/Admin/GetSales")',
                   success: function (data) {

                       var result = data;
                       //// Donut Chart
                       Morris.Donut({
                           element: 'morris-donut-chart',
                           data: [{
                               label: "Starter Sales",
                               value: result.plan1
                           }, {
                               label: "Plus Sales",
                               value: result.plan2
                           }, {
                               label: "Unlimited Sales",
                               value: result.plan3
                           },{
                                label: "Upgrade Sales",
                                value: result.plan4
                            }
                           ],
                           resize: true
                       });

                   }
               }
        );

    });
</script>