﻿
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Support Area</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="~/Admin/Index"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-fw fa-edit"></i> Support
                </li>
            </ol>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-edit"></i>Support Tests</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
<script src="/Admin/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
        $(document).ready(function () {

            $(".nav li.active").removeClass("active");
            $("support").addClass("active");

        });


</script>
