﻿@model IEnumerable<Bootstrap.Models.ApplicationDbContext.ActionItem>

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Transaction Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="~/Admin/Index"><i class="fa fa-dashboard"></i> Dashboard</a> 
                </li>
                <li>
                    <i class="fa fa-fw fa-edit"></i> Transactions
                </li>
            </ol>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-fw fa-edit"></i>All Transactions <span class="pull-right">@Html.ActionLink("Create New", "Create")</span></h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Order #</th>
                            <th>Order Date</th>
                            <th>Amount (USD)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.TransactionId</td>
                                <td>@item.PurchaseDate.ToString()</td>
                                <td>@item.Worth</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    </div>
    <script src="/Admin/js/jquery-1.11.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".nav li.active").removeClass("active");
            $("#trans").addClass("active");

        });


    </script>
