﻿@model IEnumerable<Bootstrap.Models.ApplicationDbContext.UserProfile>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Admin.cshtml";
}



<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Users Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="~/Admin/Index"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-fw fa-table"></i> Users
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> All Users <span class="pull-right">@Html.ActionLink("Create New", "Create")</span></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Tokens</th>
                                    <th>Created Date</th>
                                    <th>Plan</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.Tokens</td>
                                        <td>@Convert.ToDateTime(item.CreatedDate).ToLocalTime().ToString()</td>
                                        <td>@item.Plan1</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>

        </div>
    </div>
<script src="/Admin/js/jquery-1.11.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".nav li.active").removeClass("active");
            $("#users").addClass("active");

        });


</script>
